[2016-10-17 07:56] michaelkleinhenz commented on #357
@nimishamukherjee ah, I now understand the concerns about the Area/Category. For this topic, I think the PDD reads that Area (in the above image) and category are different things. Categories are like components in Jira, Areas are the hierachy of the project structure.
On the users: the diagram suggests that users are local to the project. For many reasons and also @VineetReynolds remarks I would

[2016-10-17 08:06] michaelkleinhenz commented on #357
@all updated the story with the new info.

[2016-10-17 08:10] michaelkleinhenz commented on #355
@VineetReynolds great remarks, thanks! I would suggest we keep this epic open and source the future stories for all related areas from this one and the discussion here.

[2016-10-17 08:14] michaelkleinhenz commented on #180
One addition, just to have it written down from the discussions last week: the E2E/Acceptance Tests should run against the containers to-be-deployed in the registry. The test process should **not** build it anew from the repositories.

[2016-10-17 08:17] michaelkleinhenz commented on #348
@naina-verma that's covered in #349 with the req to use a markup language, which should take care of links according to the formatting of the used markup interpretation.

[2016-10-17 08:20] michaelkleinhenz commented on #317
@maxandersen on the last bjn meeting on this(~3 weeks ago), there was discussion if the estimation is a numeric or a symbolic (s-m-l-xl-...) value. I think that does not make sense because we have to do calculations and diagramming with the estimation. I added the comment just to keep record that there was an unfinished discussions/concerns about it.

[2016-10-17 08:23] pranavgore09 commented on #244
reference for testing "logged in" user. https://gist.github.com/aslakknutsen/d11944c924acfd32bedb60ebbf9a8d7f

[2016-10-17 08:24] ALRubinger commented on #352
+1 on the direction here, @michaelkleinhenz and @tnozicka

[2016-10-17 08:40] michaelkleinhenz commented on #317
@Mgranfie you're right, E004 does not mention effort explicitly. Effort is only defined implicitly throughout the PDD and is only mentioned in the glossary. E004 is the one that comes at least near the area were the estimation should be :-)

[2016-10-17 08:58] michaelkleinhenz commented on #318
@naina-verma no, there is no previous order reset yet. I would think of such a function to be an "undo" rather that a reset, but I would not put this in the story yet anyway.
The default order of execution is the order of elements coming from the core, so just the order like it is in the data structure coming from core. Implicitly, that means core has to decide of the default order.

[2016-10-17 09:01] michaelkleinhenz commented on #318
@maxandersen on the context of the ooe: from the discussion I would see the ooe to be tied to the list on non-user-context lists (like the projects backlog or the projects sprint backlog) and tied to the user for user-context lists (like possibly the personal worklist perspective). For now we should work with a global order tied to the list.

[2016-10-17 09:05] michaelkleinhenz commented on #318
@ldimaggi yes, but in a later story. We have to discuss the order for filtered lists (which we may consider as local per-user lists, especially with something like "stored filters") new.

[2016-10-17 09:06] michaelkleinhenz commented on #318
@all, I think we should move the discussion on filters to the epic #301. The order of filtered lists are directly tied to filtering, but I think it would fit better there..

[2016-10-17 09:07] michaelkleinhenz commented on #301
Note: TBD: the order of execution on filtered lists, especially considering per-user stored filters that may act like personalized lists (see Jira for an example).

[2016-10-17 09:22] michaelkleinhenz commented on #358
@maxandersen I would think the stable url is a different story or part of a list of "ambient requirements" that are in effect for all stories.

For the control: I think we should start with the simplest solution, a dropdown somewhere in the page header. We'll definitiely need something more flexible later, possibly also something like a quick-access with "starred" projects or something.

The conte

[2016-10-17 11:04] #193 closed

[2016-10-17 11:37] #170 closed

[2016-10-17 11:39] baijum opened #367 "Remove tracker_query_id FK column from tracker_items table"
After PR #222 , the `tracker_query_id` column is no more required.

[2016-10-17 13:49] sbose78 opened #368 "Write offline tests for OAuth2.0"
Currently, all tests which test the user auth code is written to 'talk' to Github OAuth endpoints and therefore need connectivity to the external world.

This limits running tests in 'firewalled' environments.

We need to come up with a way to mock an OAuth2.0 provider.

[2016-10-17 15:01] ldimaggi commented on #362
Problems with PhantomJS seem to be resolved - now looking at issue/question as to running headless Firefox on CI.

[2016-10-17 15:54] tsmaeder opened #370 "trackeritem_repository.go should use paging with WorkItemRespository"
remoteworkitem/trackeritemrepository.go uses WorkItemRepository#List(...) without using the paging parameters. Consider using paging to resource usage.

[2016-10-17 23:41] aslakknutsen opened #371 "Remote Work Item update override system.state value set in almighty"
Not sure the correct solution here is to 'not' update the values from the Remote since the remote should be considered the Source, but perhaps we need some way of describing and upholding which values can not be set by the user in almighty on these work items.

Note: issue for tracking

[2016-10-17 23:48] aslakknutsen opened #372 "Automatically add 'updated' field to GitHub Issue search in Tracker Query"
To avoid re-fetching the same issues over and over again, the GitHub Provider should auto add 'updated:>last_ran_date' to the Query. That should give us only the changed issues since the last run(assuming the last run was successful).

https://help.github.com/articles/searching-issues/#search-based-on-when-an-issue-or-pull-request-was-created-or-last-updated

[2016-10-17 23:51] aslakknutsen opened #373 "The anonymous GitHub Provider should be able to run as a almighty user"
To be able to fetch more issues without hitting the GitHub anonymous user API rate limit, almighty should authenticate itself as a almighty user when calling GitHub.

[2016-10-18 05:21] nimishamukherjee commented on #358
Based on our current implementation, a user can exist in ALM without a project.
We can look at this as the starting point. UX could consider following scenarios:
1. User does not belong to a project
2. User belongs to a single project
3. User belongs to multiple projects

We would need to bring in privileges at a later stage. Based on the user privilege, what is it that the user can do/view in a p

[2016-10-18 07:10] maxandersen commented on #357
@michaelkleinhenz I would argue components are a "weaker" form of what area is. the main difference between area and components are that components are a "flat" hierarchy but then instead one issue can be in multiple components. Question is if we want to have the strict hiearchy or allowing for mulitple areas is relevant.

[2016-10-18 07:11] maxandersen commented on #357
one thing to remember here is that Projects are intended to cover more than just planner WorkItems - projects is also what should show up in webide, builds, etc.

[2016-10-18 07:18] pranavgore09 opened #374 ""System Layering" in core."
Problem Statement : [Mailing-List Message](https://www.redhat.com/archives/almighty-public/2016-October/msg00017.html)

Discussion to be done with following inputs.

**Kinds of code we have** ([Ref](https://www.redhat.com/archives/almighty-public/2016-October/msg00020.html)):
- Repository interfaces : They define an interface for persistence in terms of application level objects. The repository in

[2016-10-18 07:20] pranavgore09 commented on #374
First step taken towards breaking the packages into multiple in [this PR](https://github.com/aslakknutsen/almighty-core/pull/7).

[2016-10-18 08:24] RanjithRV commented on #357
I am guessing the length of the Sprint (Time-box) and/or Release be defined at the Project level? Shouldn't that be part of the acceptance criteria? Since we are sticking with Scrum version of Agile for the Summit deliverable, should that be the default option at the project level for now?

[2016-10-18 08:26] michaelkleinhenz commented on #357
@maxandersen on the components: yes, thats also my impression. And like for the projects, I would go for a flat model first and add hierarchy later. I'll add that to the categories story.

[2016-10-18 08:27] michaelkleinhenz commented on #357
@maxandersen on the projects: yes, I'd think projects are the "functional root" of other data.

[2016-10-18 08:29] michaelkleinhenz commented on #357
@RanjithRV I would put the time configuration in the iteration to allow flexibilty on the timebox per sprint (like, we need 2 days more because of holidays). The iteration stuff is not yet written down in stories, but I am on it :-)
But yes, at some point, the project does need more metadata, maybe also a "default iteration length". I would add that in a later story when we do the iterations.

[2016-10-18 08:32] michaelkleinhenz commented on #358
Note: added DoD and ambient requirements to devdoc PR.

[2016-10-18 09:19] tsmaeder commented on #355
@VineetReynolds as far as I remember, projects can have multiple repos. So no 1:1 relationship.

[2016-10-18 11:36] maxandersen commented on #358
@michaelkleinhenz what I mean is that I would consider this story a fail if the url is like almighty.io/some/weird/nesting/project?name="My%20Project" :)

[2016-10-18 11:43] maxandersen commented on #358
@michaelvirgil one worry I have is that we all might be talking about projects at different levels.

i.e. github has project = one repo (simple, but limited), jira has project = a thing in a sea of other projects  - backlogs are queries not restricted to a single project (very powerful), vso has project = a project with no or very linking to other projects, but has areas to subdivide the project (

[2016-10-18 11:50] maxandersen commented on #357
@RanjithRV I think the length of sprint is defined on the sprint/iteration itself not on the project.
the sprint/iteration i think makes sense to have within one project.

But one could argue that you could have multiple projects follow the same sprint model (think devtools), and I even think in jira sprints live outside projects, allowing multiple projects and boards to collabroate on sprint plan

[2016-10-18 11:53] aslakknutsen opened #375 "Should Collection Resources return 206 Partial Content when complete Collection is not returned"
- No mention of 206 in jsonapi spec
- https://tools.ietf.org/html/rfc2616#section-10.2.7 seems to indicate when used with Range Header
  *\* 'page' query param as pure URL v of Range Header?

[2016-10-18 11:54] tsmaeder commented on #375
The range header talks of octet ranges, which is not what pagination in jsonapi is about, IMHO.

[2016-10-18 12:16] maxandersen commented on #317
okey - but I just always understood that as behind the scenes the symbolic ones got mapped to a numerical value to actually give such reports ;)

[2016-10-18 12:28] aslakknutsen commented on #375
The HTTP 1/1 spec allow Custom range units, so we could e.g. use:

[code]

[2016-10-18 14:31] michaelkleinhenz commented on #317
@maxandersen yes, maybe. :-)

[2016-10-18 15:34] mindreeper2420 commented on #297
I've updated the main information to include Brian's visual designs.

[2016-10-18 15:45] mindreeper2420 commented on #296
@michaelkleinhenz Currently, there is no Reset functionality in the designs (in any area). This relates to (9) in this list.

Per (7) in the list, the Work Item is added to the bottom of the list - [Add Work Item](https://redhat.invisionapp.com/share/DE8LXEJQS#/185961156_AddAWorkItem-1-v3-)

[2016-10-18 15:48] Mgranfie commented on #355
+1 this is what I recall too

On Tue, Oct 18, 2016 at 5:19 AM, Thomas Mäder <notifications@github.com>
wrote:

[2016-10-18 17:08] ldimaggi commented on #355
+1 A "single" project may include multiple binaries (such as a UI and a server) and each may be in a separate repo.

[2016-10-18 17:49] ldimaggi commented on #358
Are our (ALM) projects more or less containers - where each contains multiple users, multiple repo's, etc.?

[2016-10-18 19:31] mindreeper2420 commented on #298
@michaelkleinhenz Will the visuals and designs be a part of the acceptance criteria for this story?

[2016-10-18 19:33] mindreeper2420 commented on #306
@Mgranfie - is there a UX story that can be added to this to set the acceptance criteria for UX?

[2016-10-18 19:43] mindreeper2420 commented on #297
@michaelkleinhenz

On point 2, there is not a design that has the description in the list view. Description should not be present.

On point 3, be aware that pagination is a big no-no on mobile. I would recommend not having pagination for this iteration.

[2016-10-18 20:27] Mgranfie commented on #306
@michaelkleinhenz yes, there is one here in GIT UI:
https://github.com/almighty/almighty-ui/issues/69

And on GIT UX:
The verification criteria does not fully match the design in UX. See reference in Story Description above.

[2016-10-18 21:34] #20 closed

[2016-10-18 22:16] #219 closed

[2016-10-18 22:16] #321 closed

[2016-10-18 22:16] aslakknutsen commented on #325
Closed by https://github.com/almighty/almighty-core/commit/b34d4a63a859acb799ef52d697cf1f910fb3f527

[2016-10-18 22:16] #325 closed

[2016-10-18 22:17] aslakknutsen commented on #327
Closed by https://github.com/almighty/almighty-core/commit/b34d4a63a859acb799ef52d697cf1f910fb3f527

[2016-10-18 22:17] #327 closed

[2016-10-18 22:17] aslakknutsen commented on #328
Closed by https://github.com/almighty/almighty-core/commit/b34d4a63a859acb799ef52d697cf1f910fb3f527

[2016-10-18 22:17] #328 closed

[2016-10-18 22:20] aslakknutsen commented on #326
Secrets added to deployment configuration and new core deployed.

[2016-10-18 22:20] #326 closed

[2016-10-18 22:27] aslakknutsen opened #376 "Secure Tracker REST Endpoints"
I think all endpoints here should be secured, read/write/update/delete. Don't think this makes sense as 'public' info for a project.

[2016-10-19 01:11] aslakknutsen commented on #368
Our current GitHub Provider is a very temp setup as we're soon enough moving to Keycloak. The integration and requirements for testing this will most likely change when that happens.

[2016-10-19 06:29] baijum commented on #200
This is already addressed in the master. https://github.com/almighty/almighty-core/blob/master/migration/sql-files/001-common.sql#L37

[2016-10-19 06:29] #200 closed

[2016-10-19 06:56] baijum commented on #345
- [ ] Add **jbott** (IRC bot) to the new IRC channel

[2016-10-19 08:35] michaelkleinhenz commented on #306
@mindreeper2420 @Mgranfie almighty/almighty-ui#69 deals with defining the WIs and WITs schema. This one is about using that schema to create link instances.

[2016-10-19 08:59] michaelkleinhenz commented on #297
@mindreeper2420 ok, removed description from the story.

On point 3: that is meant to be generic with no decision on list browsing style, leaving that to UX :-) we do not have any "paging paging" implemented anywhere, we're using scrolling everywhere as indicated by the wireframes. @nimishamukherjee @Mgranfie

[2016-10-19 09:03] michaelkleinhenz commented on #298
@mindreeper2420 I'll in the process of finding out, lets meetup today for ~15 min to answer that question for all the accepted stories..see HipChat.

[2016-10-19 09:08] michaelkleinhenz commented on #355
+1, that is also important info for the build stuff!

[2016-10-19 10:39] baijum commented on #363
Maybe you can check this one also: https://github.com/tsenart/vegeta

[2016-10-19 10:39] michaelkleinhenz opened #378 "Defining and Using Iterations"
Requirement from Ranjith:

Another req from Ranjith:

References in PDD: 1608E065, 1608V064

Possible Stories:
- Create Iteration for a Project (Title, Startdate, Enddate)
- Update Iteration (Title, Startdate, Enddate)
- Add / Remove WIs to Iterations (1:n only for now)
- Close Iterations (moving of WIs?)

[2016-10-19 10:44] michaelkleinhenz commented on #378
Second req might open up to the filter epic (#301).

[2016-10-19 10:48] michaelkleinhenz commented on #378
We should have also some means of calculating total effort in the iteration UI.

[2016-10-19 10:49] michaelkleinhenz commented on #355
Note: new story needed later: adding/removing users from projects.

[2016-10-19 11:19] aslakknutsen commented on #363
Apache AB and Vegeta are very hammer on a 'single URL' focused. I think we want something that is more user near, where we can define scenarios that represent more what a user would do.

[2016-10-19 11:30] mindreeper2420 commented on #304
@michaelkleinhenz Here is the workflow for the Log In: https://redhat.invisionapp.com/share/8K8FFFIEC#/screens

[2016-10-19 11:34] mindreeper2420 commented on #297
@michaelkleinhenz Updated UX artifacts:

[Wireframes - Mobile](https://redhat.invisionapp.com/share/S2902RXE5#/192528688_ListView_-_1)
[Visual Design - Desktop](https://redhat.invisionapp.com/share/DF8ZQ11R7#/196006933_A-000)

[2016-10-19 11:35] mindreeper2420 commented on #296
@michaelkleinhenz Updated UX artifacts:

[Wireframes - Mobile](https://redhat.invisionapp.com/share/DE8LXEJQS#/185961156_AddAWorkItem-1-v3-)
[Visuals - Desktop](https://redhat.invisionapp.com/share/NU8YPHLJP#/screens/196006935)

[2016-10-19 13:46] #273 closed

[2016-10-19 14:29] aslakknutsen opened #380 "Support search on almighty URL(external user facing UI URL)"
Related to #330
Depends on #382

Example: http://demo.almighty.io/#/detail/71

[2016-10-19 14:29] aslakknutsen opened #381 "Support search on ID"
Related to #330
Depends on #382

[2016-10-19 14:30] aslakknutsen opened #382 "Create Search Service"
Related to #330

[code]

X = 'paginated search result' with opening for any 'type' (workitem, user, woritemtype, code, etc etc etc)

(only workitem relevant to this story)

[2016-10-19 14:31] aslakknutsen opened #383 "Support search on ‘String’ fields as Free text"
Related to #330
Depends on #382

Relevant WorkItem fields atm: system.title & system.description

Useful links:
- http://rachbelaid.com/postgres-full-text-search-is-good-enough/
- http://shisaa.jp/postset/postgresql-full-text-search-part-1.html
- http://shisaa.jp/postset/postgresql-full-text-search-part-2.html
- http://shisaa.jp/postset/postgresql-full-text-search-part-3.html
- https://www.postgre

[2016-10-19 14:32] nimishamukherjee commented on #298
@mindreeper2420 can you share the Invision links for this story.
Another question, do we have any Patternfly component for achieving this view?

[2016-10-19 14:33] VineetReynolds commented on #355
@tsmaeder @Mgranfie No disagreements on project having multiple repos - I was considering the simplest possible scenario, but real world is quite different.

I recall from the sprint backlog grooming, this is somewhat tied to the project hierarchy (each project could have a 1:1 repo mapping), and the role of components in a project (does each component also have it's own repo?).

The reason why I

[2016-10-19 14:33] ldimaggi commented on #383
Will we support wild-card characters and regular expressions?

[2016-10-19 14:57] #367 closed

[2016-10-19 15:42] aslakknutsen commented on #383
I think a good and simple start would be to support something like:

Input: part1 part2 part3

pseudo search query: *part1* && *part2* && *part3*

[2016-10-19 19:58] #161 closed

[2016-10-20 00:07] alexeykazakov commented on #288
I can take this one.

[2016-10-20 02:03] aslakknutsen commented on #288
@alexeykazakov Sure, have a stab at it. :)

[2016-10-20 10:20] michaelkleinhenz commented on #296
@mindreeper2420 done, updated the text.

[2016-10-20 10:48] VineetReynolds commented on #355
To answer my own question above, multiple repositories against a single project would be required when a single work item like a story needs work to be performed in multiple repositories.

For instance, to complete a single story, work needs to be done in a UI repo and in a service/api/backend repo. The story itself could be broken down into two separate tasks, assigned to two different people, bu

[2016-10-20 14:26] tsmaeder opened #385 "Transient failures in production"
This bug serves to track work to fix transient failures in production

First try & more info PR #346

[2016-10-20 15:06] tsmaeder commented on #385
Idea from Aslak on how to solve this.

https://gist.github.com/aslakknutsen/25b391fad7e53f5c035d3aa3169e2679

[2016-10-20 18:44] ldimaggi opened #388 "Investigate, design initial security/scan tests for ALM"
It would be useful to see how the product/demo site responds to scanning by a tool such as:

https://www.owasp.org/index.php/OWASP_Zed_Attack_Proxy_Project

[2016-10-20 18:56] ldimaggi commented on #180
Note: The acceptance test should touch every component in our testing (Core - DB,API )and UI.

Also - the acceptance test should use the Core (REST API) to verify the operation of the test and the results on the work item data.

[2016-10-20 19:03] ldimaggi commented on #180
For a core test framework- we will try using FrisbyJS - sample script from Pavan
https://github.com/pavanbhat21/myscripts/blob/master/core_api_spec.js

[2016-10-21 05:19] sbose78 commented on #380
Hi @aslak,
As @thomas mentioned in the mailing list, the full url of a workitem is not known to the ALM core and so the front end should be parsing out the ID from the URL and sending a search Ajax request to the alm-core webservice with the ID.

Let me know if this is how it's supposed to work.

If yes, then there needs to be no additional major effort for supporting *search using URLs* in the al

[2016-10-21 10:19] #254 closed

[2016-10-21 15:42] #243 closed

[2016-10-24 08:26] sbose78 commented on #382
@pranavgore09 @baijum : Could you please review the following design ?

In `search/search.go` :

Let's implement the following:
- `parse(..)` : This should return a data structure ( define how the datastructure looks like ? ) which would have the information about what to search and on which fields.
- `generate(..)` : This should generate the search query which would be executed as a raw sql insid

[2016-10-24 08:30] baijum commented on #382
@sbose78 This looks good to me.

BTW, the return value is like this: `[]*app.Workitem`

[2016-10-24 09:01] pranavgore09 opened #389 "Update README to have changes made by secured API"
Need to update README to have changes required in `examples` which will use `authentication` for secured APIs

1. Set Dev mode = True before running server
2. Call /login/generate API to get JWT token
3. Use this token to create WI etc. (by using `curl` or `alm-cli`)

[2016-10-24 09:22] pranavgore09 commented on #382
@sbose78 : Yeah, looks fine as of now about methods. I am trying to do `Search(r io.Reader)` instead of `Search(searchString string)` as mentioned 2nd mistake in [here](https://www.youtube.com/watch?v=29LLRKIL_TI).

And, It will be great to have clean `search` branch in the master :smiley:  before actually kicking off the work.

[2016-10-24 10:20] sbose78 commented on #382
Thanks @baijum and @pranavgore09 ,

Let's split this task into at least 3 PRs to master :

1. #384 To get the empty search service.

2. @pranavgore09 : `search/search.go` and tests as discussed above. `Search( r io.Reader)` can evolve gradually because we might need to consider returning workitems+users(empty for now) etc.

3. @baijum + I : could start off with the `search/search_repository.go` an

[2016-10-24 11:09] sbose78 opened #390 "Make exported error types in models usable from other packages."
All the exported error types in `models/errors.go` depend on `models.simpleError` type which is non-exported and therefore the exported error types are not usable unless invoked from the same package or if the errors.go is copied over the other specific package.

[2016-10-24 11:51] pranavgore09 commented on #382
@sbose78 : little confused, I am working on `GenerateQueryString` and `TokenizeQueryString` related functions. And I believe it will be in `search_repo` and will be consumed by point 3 above. correct ?

Rest looks fine. !

[2016-10-24 12:10] sbose78 commented on #382
Hi @pranavgore09 ,

`search/search.go` should house the following:

- the interface `Searcher` .
- the implementation of `Searcher` method `parse` : which includes all stuff to tokenize and returns a data-structure which has the information about what is to searched.
- the implementation of `Searcher` method `generate` : which generates the SQL Query.
- the exported method `Search(..)` : uses the

[2016-10-24 12:15] pranavgore09 commented on #382
Okay, so ocntroller method Search will consume `parse` and `generate` and then pass it to `repository` methods. I was under impression that `Search` controller will not do any of such tasks. But now I am good with the structure. If we need to make controller method more abstract, we can always re-factor later.
yes, sounds good ! (thumbsup)

[2016-10-24 12:17] naina-verma opened #391 "User API should contain github username in case of "fullName" is empty"
User API should contain github username in case of "fullName" is empty
API : http://demo.api.almighty.io/api/user
Response : {"fullName":"","imageURL":"https://avatars.githubusercontent.com/u/19172870?v=3"}

**Expected behavior**
 In use case when fullName is empty there should be some other option to display username.
If user have not set Full Name  in profile it should check for github display n

[2016-10-24 13:25] aslakknutsen commented on #380
The backend would need to know this anyway. When a commit comes in we should be able to scan the message and link up the references to a WI, or when someone writes a comment on a WI, or a user write a link as part of the WI description, etc..

[2016-10-24 13:36] sbose78 commented on #383
@baijum
Could you please document your findings with the real SQLs/scenarios you showed as part of the pair programming session, here?

[2016-10-25 06:01] maxandersen commented on #180
just a thought but shouldn't the restapi tests be in core and thus something like ginkgo or similar go based test framework make sense here instead of npm/js based ?

[2016-10-25 12:11] #389 closed

[2016-10-25 13:25] pranavgore09 commented on #381
being done in #395

[2016-10-25 13:29] pranavgore09 commented on #244
@aslakknutsen @tsmaeder , currently we are setting syste,creator in POST call.
Should we have something like `modified_by` in WI.fields in case of `PUT`, `PATCH` requests ?
If yes, can I add that field via migration ?

(Not to be done in this sprint or in this PR/issue just asking here because of relevance)

[2016-10-25 15:18] kwk opened #396 "Write GOA middleware for proper JSONAPI Error Handling (see main.go)"
## Expected behavior
- An error response as produces by the core's REST interface should always (or only for some endpoints) return a proper JSON API [error object](http://jsonapi.org/format/#error-objects).
  - For starters it might be helpful if we can have the JSON API error responses only for some endpoints. This should help UI in migrating over to JSON API per endpoint.
- This is the place wh

[2016-10-25 21:11] aslakknutsen commented on #244
Yes, but it doesn't really make sense until we track changes individually:
https://github.com/almighty/almighty-core/issues/313

Else we would only store who changed it last time. I would hold on of adding any modified_by WI field until we know how we're implementing it.

[2016-10-26 00:22] alexeykazakov commented on #288
@aslakknutsen in WorkItemType payload we use extendedType, in models.WorkItemType we use path ("/extendedType1/extendedType2/etc") and in app.WorkItemType we have nothing representing this relations between the types. Is such inconsistency intentional? Why not to use extendedType: string in both app.* and models.WorkItemType? Or at least add it to app.* and leave path as it is now in models.*. WDY

[2016-10-26 10:18] sbose78 commented on #380
@aslakknutsen
Do you mean, that the backend needs to parse out the workitem ID from the URL using the external URL pattern?

[2016-10-26 13:55] maxandersen opened #400 ""release info" documentation"
As a stakeholder in Almighty I want to be able to see what is new and noteworthy on the site.

= Related

akin to release notes.

[2016-10-26 13:57] maxandersen opened #401 "Multi-faceted Dashboard/UI to show intent [5]"
# Description

As a user I want to be able to access Code, Plan, Build etc. from one UI.
# Functional Acceptance Criteria
- The launch (default page) has a menu and welcome content that contains links to the different functional areas of the system.
- The UX needs to be implemented for the wireframe class.
- Not already implemented components use non-functional links/buttons.
# Non-functional Acce

[2016-10-26 14:12] qodfathr commented on #401
A static html, non-functional UI that matches the UX wireframes is perfectly acceptable at this point in time. Even if that tabs lead to 404 errors, that's fine.

[2016-10-26 14:37] michaelkleinhenz commented on #401
Suggestion: as this should be a business card thing, it should directly implement visual design class if that is possible.

[2016-10-26 14:43] aslakknutsen commented on #400
A Quick fix here could be:

Executing GitHub search query:

    is:closed is:issue user:almighty label:userstory closed:<2016-10-26

Where closed date is based on Core build date.

https://github.com/issues?utf8=%E2%9C%93&q=is%3Aclosed+is%3Aissue+user%3Aalmighty++label%3Auserstory+closed%3A%3C2016-10-26+

[2016-10-26 14:52] Mgranfie commented on #358
The selection of the project will happen in the same location as the create project.

[2016-10-26 15:15] sbose78 commented on #400
Just a thought, the content which appears here should get reviewed by marketing/product team.
That will ensure that we don't include too many low level details.

There should be a process in place for this.

[2016-10-26 18:29] ldimaggi commented on #180
At this point - we can consider any framework for the end-to-end acceptance tests. Is one of our goals to be able to "drive" the build creation, deployment, etc. in the tests from the ALM perspective?

[2016-10-26 19:05] VineetReynolds commented on #272
Just dropping a note in here: did anyone look at [TaskMapper](https://github.com/cardboardit/taskmapper)? It's basically a dead project now, but it did support mapping of values from various trackers to one another. You could derive some inspiration from it, for your future work, especially around the provider-per-tracker concept.

[2016-10-26 19:16] VineetReynolds commented on #354
Thought about a couple of constraints here not outlined above. Disregard if irrelevant.

- This comment management system has to work with OAuth2 and/or support KeyCloak issued tokens. Otherwise an additional login flow may be required to sign-in users.
- The comment management would have to support sending notifications through email. @kbsingh is not looking at SMTP, but other solutions - transac

[2016-10-26 20:14] VineetReynolds commented on #180
@maxandersen on your two queries:
1. Location of tests - depends on who owns, maintains the tests and the release cycle for the same. If QE is owning it, better to have them own the tools/framework to write and orchestrate the tests.  If QE can release the tests at the same time as your releases, then it makes sense to have them in the same repo; I'd hazard a guess and say this wont be true. From

[2016-10-26 21:31] aslakknutsen opened #402 "Panic in Scheduler cause 'main' to shutdown"

[2016-10-26 21:32] aslakknutsen commented on #180
@VineetReynolds There is no QE :) It's all the same Team and we all own it.

[2016-10-27 08:01] maxandersen commented on #180
@VineetReynolds there is no separate team for this. If these are 100% rest api tests of the core stuff then I would argue we are better of having them close to the code so they can be run there.

We do *not* want the acceptance tests be owned by QE and written at the "end" - we want them written upfront and itereatively and have them runnable *while* development happens not after.

The *whole* dev

[2016-10-27 09:15] sbose78 opened #405 "need exported method for converting from model to app.workitem"
As we build micro-services or handle workitems in different packages, it becomes necessary to handle the conversion from models.workitem to app.workitem but currently models.convertFromModel(..)  is non exported method

[2016-10-27 09:34] michaelkleinhenz commented on #354
@VineetReynolds "transactional email": you mean something like Mailchimp's REST->E-Mail gateway? Agree, have good experiences with that service in production. It's almost zero-maintenance and much much easier that using SMTP, especially in regards to creating a delivery that does not end up in the spam folder.

[2016-10-27 09:56] VineetReynolds commented on #354
@michaelkleinhenz Yes, that is what @kbsingh was looking into - Amazon SNS/SendGrid etc.

[2016-10-27 10:05] VineetReynolds commented on #180
@aslakknutsen @maxandersen Ok, that settles it. The tests should ideally be in golang. I looked at FrisbyJS again, and I didnt see BDD style tests, so I'm kind of averse to it. We're better off using any framework that can read Cucumber/Gherkin scenarios and execute the same.

[2016-10-27 10:19] VineetReynolds commented on #180
@maxandersen The problem I see with ginkgo is that the feature files are not separate from the step definitions, so anyone who wants to contribute to the feature file, should know ginkgo. [godog](https://github.com/DATA-DOG/godog) looks more capable in that aspect.

[2016-10-27 10:28] aslakknutsen commented on #180
@VineetReynolds @maxandersen This is where https://github.com/ALMighty/almighty-spec comes into play :)

[2016-10-27 11:09] VineetReynolds commented on #180
@aslakknutsen Agreed, we're working on extending that.

[2016-10-27 14:53] michaelkleinhenz commented on #343
Closing due to dupe for #378

[2016-10-27 14:53] #343 closed

[2016-10-27 15:08] michaelkleinhenz opened #409 "Create Iteration for a Space"
**Precondition Note:** to make definitions clearer: Iterations are not Sprints! Iterations can be used to model the sprint concept, but are a general concept to be able to model larger or different concepts. This is also the reason why dates are optional.

# Description
As a user, I can create an iteration for a space.

# Functional Acceptance Criteria
1. The user can create an iteration from a di

[2016-10-27 15:09] michaelkleinhenz opened #410 "Update an Iteration"
# Description

As a user, I can update an iteration for a space and change title and start and end dates.

# Functional Acceptance Criteria
1. The user can select an iteration from a list of all iterations of the current space. The list order is undefined for this story.
1. The user can update an iteration from a dialog that opens when an iteration is selected from the list.
2. The user can change

[2016-10-27 15:16] michaelkleinhenz opened #411 "Close an Iteration"
# Description

As a user, I want to close an iteration. Closing an iteration means the iteration has been completed.

# Functional Acceptance Criteria
1. The user can close an iteration from a dialog.
3. The iteration state is set to closed.

**Note:** work items in the state "open" (or semantically equivalent) that are contained/associated with an iteration at the time the iteration is closed are

[2016-10-27 15:40] ldimaggi commented on #180
Max said:
We do *not* want the acceptance tests be owned by QE and written at the
"end" - we want them written upfront and itereatively and have them
runnable *while* development happens not after.

Len says in response:
+1, and, we want the tests to be "live" and grow and adapt as the product
grows and adapts and be run as a general (daily) health check for the
product.

-- Len

On Thu, Oct 27, 2

[2016-10-27 15:47] michaelkleinhenz commented on #409
The model req's for iterations may be complex. Open Questions are:
* is Iteration:Work Items an 1:n relation?
* what happens to work items on closing an iteration? (see #411)

[2016-10-27 15:55] michaelkleinhenz opened #412 "Set/Update Iteration on Work Items"
# Description

As a user, I want to add and remove work items to an/from an iteration by setting the iteration for a work item.
# Functional Acceptance Criteria
1. The user can set the iteration of a work item on the work item detail view. Changes to the iteration are stored on clicking the save button, not in-place.
2. The user can set the iteration from the work item list. Changes are saved in-p

[2016-10-27 16:36] michaelkleinhenz commented on #409
Chatlog:
[6:24 PM] Max Rydahl Andersen: okey so when you say workitems are in an iteration you don't mean all types ?
[6:24 PM] Max Rydahl Andersen: in VSO they put epics into the higher level iterations which makes the querying and navigation pretty nice.
[6:26 PM] Michael Kleinhenz: @maxandersen maybe. That would be a rule contained in the WIT, WILT definitions (or surrounding them).
[6:27 PM] M

[2016-10-27 16:53] Mgranfie commented on #411
@michaelkleinhenz and sarahjane I am wondering about the statement of closed iterations return to the backlog? I have a design for Past Iterations that will house closed iterations. Is there a call for cancelled iterations? Is this what you are referring to here to move back to the backlog?... thx.

[2016-10-27 16:54] Mgranfie commented on #412
@michaelkleinhenz a user should also be able to directly interact with a work item, in the list, to associate it with an iteration.

[2016-10-27 17:48] pranavgore09 commented on #341
Hello @michaelkleinhenz,  Apart from the description (and google calendar :) ) above is there anything I should look at, means any UI/UX work already done or in progress, invision docs etc etc.

[2016-10-27 17:54] nimishamukherjee commented on #401
@joshuawilson , @Mgranfie do we consider logged in user vs not logged in user?
We could look at this page as a way for users to register with Almighty - have options like Login / New User - Register with us.

[2016-10-27 19:02] alexeykazakov commented on #405
Just curious, how it's related to micro-services? And btw, it would make sense to make convertFromModel(..) for WIT exported too, not just WI, wouldn't it?

[2016-10-28 04:39] nimishamukherjee commented on #412
@michaelkleinhenz - Are we looking at iterations only from a work item perspective?
The other scenario would be open an iteration and add multiple work items.

[2016-10-28 04:47] nimishamukherjee commented on #409
Iterations are owned by the user that created the iteration.

@michaelkleinhenz the project owner could also be an iteration owner?

[2016-10-28 07:36] michaelkleinhenz commented on #412
@nimishamukherjee currently only from the work item perspective.

[2016-10-28 07:37] michaelkleinhenz commented on #412
@Mgranfie updated the story. I am curious how the UX will look for that :-)

[2016-10-28 07:40] michaelkleinhenz commented on #341
@pranavgore09 checking with UX if the story matches with their current thoughts makes definitely sense.

[2016-10-28 07:48] michaelkleinhenz commented on #411
@Mgranfie work items that are open when closing an iteration would be moved to the backlog. But that is one of the areas that are very important but also very volatile. I can think of many usable behaviours for this, even specific for a certain process. This stuff may be defined by the WILTs in the future (or some other user-configurable process) because this may be needed differently on different

[2016-10-28 08:11] pranavgore09 commented on #341
Sure @michaelkleinhenz , thank you.
@mindreeper2420, @Mgranfie : Will you please let me know if there is anything being done or already done regarding `assignments` from UX team ? I will read up and link them here.

[2016-10-28 08:13] michaelkleinhenz commented on #411
@qodfathr ^^

[2016-10-28 08:22] maxandersen commented on #411
@michaelkleinhenz should the move to backlog be an optional thing ? afaik it is in both jira and github, i.e. I can put an issue on closed iterations.

[2016-10-28 08:27] michaelkleinhenz commented on #411
@maxandersen I think it should not only an optional thing, but the whole behaviour should be configurable at some point. For now, I think we should assume something simple to start with.

[2016-10-28 08:32] maxandersen commented on #411
@michaelkleinhenz "it should not only an optional" - wdym ? that it should or should not be optional ?

And yes, I agree to keep it simply first - just wanted to clarify that just because in the "close workflow" we move all open issues off  you can still have closed iterations with open issues if you are such inclined.

btw. what does "back to the backlog" mean - so far we have no definition of wh

[2016-10-28 11:39] aslakknutsen commented on #180
@kbsingh Could you add the following to the Core DeploymentConfig?

under spec.template.spec.containers:

[code]

[2016-10-28 11:51] aslakknutsen commented on #180
For this specific task, we only need a few very specific short tests as a quick check of the basics. We won't be running a 2+ hour acceptance test suite on each deploy.

If the test suite start to take too long it needs to be refactored and refocused on the core operations of the service.

This is to test the deployed image in the live system before a user can see it; Green tests will trigger the

[2016-10-28 13:24] Mgranfie commented on #412
Hi All,

SJ is working on the UI for this, so looping her in to the discussions...

On Fri, Oct 28, 2016 at 3:37 AM, Michael Kleinhenz <notifications@github.com

[2016-10-28 13:28] Mgranfie commented on #411
I agree with moving to the backlog, it is fairly typical behavior. On
thought we had, and this may be further out but we can consider it now, is
if there are future iterations defined and scheduled, we can ask the user
if they want to move them to the backlog (default) or if they want to
choose an already defined, future iteration to move them to.

This would prevent me from having to remember, fi

[2016-10-28 13:30] Mgranfie commented on #341
Adam... has been working on this feature, will loop him in here.

We do have UX solution for Assign user to a work item. I am not sure what
work has been done on Unassign and will hand off to Adam here.

On Fri, Oct 28, 2016 at 4:11 AM, Pranav Gore <notifications@github.com>
wrote:

[2016-10-28 13:45] mindreeper2420 commented on #341
@pranavgore09 @michaelkleinhenz @Mgranfie Assign User can be found here: [Almighty-ux#40](https://github.com/almighty/almighty-ux/issues/40)

The proper flow for Assign and Unassign are in the mobile workflow/wireframe view. The Desktop layout is in the Desktop view.

[2016-10-28 14:24] ldimaggi commented on #363
Max just suggested:

An ongoing (daily) performance/throughput status test - We want to be able to track consistency of performance as exhibited by our production instance. This is not meant to be an exhaustive performance test, but rather is intended to highlight only unexpected and sudden changes in throughput.

[2016-10-28 14:36] ldimaggi opened #414 "Investigate, design initial End-to-End tests"
These tests are larger, more intensive, and more exhaustive versions of the build acceptance test. The end-to-end test will exercise the full system and may require significant system resources (and time) to run and should provide coverage for complex user scenarios.

[2016-10-28 14:39] ldimaggi commented on #180
I think that we are conflating multiple things that we want (in addition to unit and functional tests):

An ongoing (real time) health check/heart beat API status test - We want to verify that our production instance of ALM is available. This test will run constantly (every NNN minutes) and will report its results to a (TBD) dashboard. This test requirement satisfied by the livenessProbe/readiness

[2016-10-28 16:38] #285 closed

[2016-10-28 16:41] kwk commented on #323
Please see my design proposal https://github.com/almighty/almighty-devdoc/pull/86

[2016-10-28 16:41] kwk commented on #322
Please see my design proposal: https://github.com/almighty/almighty-devdoc/pull/86

[2016-10-28 17:45] qodfathr commented on #411
Having been involved with implementations around this for other systems, my feedback is this:

There is no need to have functionality w.r.t. closing an iteration.

tl;dr: the real-world desire of users is to have powerful, manual capabilities at the end of a sprint and not automation of business rules.

Essentially, users just want full flexibility to do whatever makes sense for them, and any auto

[2016-10-28 18:56] Mgranfie commented on #411
I agree Todd. The one thing I see is carrying forward and if you have not
finished them, moving them in and out of a backlog rather than asking you
if you want to carry them forward or start a new sprint would be a nice
improvement. We can get additional feedback on this small detail and make a
note to avoid any automation. Am looping in SJ as she is working on this.

On Fri, Oct 28, 2016 at 1:45

[2016-10-29 00:55] alexeykazakov commented on #242
Guys, what do you thing about some global caching solution like Memcached? It will require to have a Memcached server (on a dedicated container?) where we could keep WIT and WI (and other artifacts in the future). https://github.com/almighty/almighty-core/pull/359 works only for u
@aslakknutsen, @tsmaeder, @baijum et al. do you think it's worth at least some investigation now?

I'm not sure if the

[2016-10-29 03:36] pranavgore09 commented on #341
Thank you @mindreeper2420 @Mgranfie for the inputs.

[2016-10-30 16:27] pranavgore09 commented on #341
From [invision link](https://redhat.invisionapp.com/share/838XGP02H#/screens/196365182_Desktop_HD) I could understand following items are involved for making assignments.

- Self assignment
- Selection from type-ahead and assign to another user.
- Invite non-system users via email. @mindreeper2420, @Mgranfie  : any workflow for inviting via email I can look at ? ( @maxandersen , @michaelkleinhenz

[2016-10-30 17:40] qodfathr commented on #409
I don't see a need for iterations to be 'owned' by anyone. They are part of a project, and there will eventually be a permission model which determines who can do what to an iteration.

Both start dates and end dates should be optional for iterations.

[2016-10-30 17:44] qodfathr commented on #410
Logic tied to the current date is generally not worth the effort. I should be able to set the start date to a date preceding today. Let's say I forgot to create an iteration for this month -- why are you having the system deny me creating it? A warning that I can turn off may be okay, but this shouldn't be a hard-coded rule. [e.g. QuickBooks warns me when I make accounting entries which are more t

[2016-10-31 09:05] michaelkleinhenz commented on #410
@qodfathr ok, updated the story.

[2016-10-31 09:21] michaelkleinhenz commented on #409
@qodfathr on the owner: I removed the req from the story, but this introduces some uncertainty in the implementation at the current state. The team will surely ask who will be **in the current state** be allowed to edit the title. As we don't have the authZ scheme in place, whou would that be? Maybe everyone, but that contradicts that we are currently introducing owners and very basic "owner-only"

[2016-10-31 09:28] michaelkleinhenz commented on #341
@pranavgore09 Teams will be a different set of stories. Also, the email stuff is not currently part of the story, as this is complex, also from the hosting perspective. There are some ongoing talks about that if I correctly remember (especially about using a REST->E-Mail provider instead of SMTP).

[2016-10-31 09:47] michaelkleinhenz commented on #411
I agree with @qodfathr about the closing of an iteration should not alter WIs data (including the association with a specific iteration). If it is possible to have a flexible filtered view of all "open" work items and a simple bulk update feature, that would be way better than forcing some automatism on users. I removed the requirement.

@maxandersen I meant it should be configurable, but maybe wa

[2016-10-31 09:48] michaelkleinhenz commented on #411
@maxandersen good point. I would suggest/think that "backlog" was the general term of referring to all work items not in an iteration. I added a note above.

[2016-10-31 10:13] michaelkleinhenz commented on #409
@maxandersen @qodfathr suggestion: Iterations can be contained in iterations (or in other words, iterations are hierarchical). That makes sense. The goal for this story (and every story, for that matter) is, to keep it reasonably small while not restricting someting that comes later or creating throwaway code.

So, I would for this story restrict the contents of iterations to work items and add a

[2016-10-31 11:57] qodfathr commented on #409
@michaelkleinhenz Yes, I'm very sure that dates should be optional.

Iterations are hierarchical -- that was the plan. Users will generally interact with them as paths. e.g., "Release 1/Sprint 4".

An iteration is just a special data type (essentially a path with a predefined set of paths available), and all work items have a single iteration field of this data type.

In a large project, there can

[2016-10-31 12:03] michaelkleinhenz commented on #409
@qodfathr ok, updated the story.

[2016-10-31 12:20] Mgranfie commented on #409
Thanks all, this is a helpful discussion. Dates on iterations seem to be
more of a preference and way to work. Smaller groups or companies, personal
preference on how to run a team. I would agree that having them as optional
will be our best approach.

I agree with Todd, that permissions would set and control who can edit the
Iteration.

-Monica

On Mon, Oct 31, 2016 at 8:03 AM, Michael Kleinhenz

[2016-10-31 13:13] ldimaggi commented on #357
This issue refers to projects as:  "Projects are "owners" of work items and work item links."

Does "container" make more sense as a description for a project? Isn't a project just a title and a groups of links to work items, users, other projects, etc.?   Thx!

[2016-10-31 17:37] aslakknutsen commented on #390
Fixed by https://github.com/almighty/almighty-core/pull/407

[2016-10-31 17:37] #390 closed

[2016-10-31 17:38] aslakknutsen commented on #385
Fixed by https://github.com/almighty/almighty-core/pull/393

[2016-10-31 17:38] #385 closed

[2016-10-31 18:38] ldimaggi commented on #409
With regard to iteration ownership:
Will each project have an owner?  Wouldn't the project owner also always be the owner of each iteration by default?

[2016-10-31 18:41] ldimaggi commented on #410
Will there be a history/audit trail for updates made to the start/end dates?

[2016-10-31 18:44] ldimaggi commented on #411
+1 for Todd's input - any rules that we impose at the end of an iteration would require giving users the ability to get around them.   ;-)

[2016-10-31 18:48] ldimaggi commented on #412
I think we will want both:
- In the work item view, associate the workitem with an iteration.
- In an iteration view, assign 1..N workitems to the iteration.

[2016-10-31 18:56] Mgranfie commented on #409
This is the impression I have....

On Mon, Oct 31, 2016 at 2:38 PM, Len DiMaggio <notifications@github.com>
wrote:

[2016-10-31 19:03] michaelvirgil commented on #409
I'm not sure I understand the need (or concept) of an iteration or a Sprint
ownership... it is a milestone - time-boxed increment of planned work. It
has context and meaning within a project... if there is any ownership, it
is the team has ownership of the Sprint plan measured in that time-boxed
iteration, a commitment within the context of the project...

Michael

On Mon, Oct 31, 2016 at 2:56 PM,

[2016-10-31 19:21] Mgranfie commented on #410
Would this be part of the larger log/audit file?... I am not sure if this
would be something the user would want to see as part of the experience?...

On Mon, Oct 31, 2016 at 2:41 PM, Len DiMaggio <notifications@github.com>
wrote:

[2016-10-31 22:16] #329 closed

[2016-11-01 09:52] tsmaeder commented on #357
# In scope
As part this story, we will extend our object model by introducing a 1:n relationship between the newly created "project" and work items. On the back end, we will have to introduce a cru(d) service for projects and extend work item creation with a mandatory "project" parameter. How that parameter is passed and stored needs to be discussed as part of implementation.
The front end needs t

[2016-11-01 12:14] Mgranfie commented on #357
Thanks Thomas. This seems reasonable. Just checking that you can move a WI
between an iteration within a project? Is that on the table?

On Tue, Nov 1, 2016 at 5:52 AM, Thomas Mäder <notifications@github.com>
wrote:

[2016-11-01 12:21] ldimaggi commented on #357
Question on this statement:
'...The front end needs to add UI to create a new project and introduce the notion of a "selected" project that is passed when creating a work item...'

Will a user always be working in the context of a "current" project? Or, will the user have the option of selecting a project when creating a new work item?

[2016-11-01 12:52] tsmaeder commented on #357
@Mgranfie For me, it's not part of this userstory

[2016-11-01 12:58] tsmaeder commented on #357
@ldimaggi I did not find any info on that. I guess it's a decision for UX to make.

[2016-11-01 15:41] aslakknutsen commented on #363
OpenShift Cluster load setup:

https://github.com/openshift/svt/tree/master/openshift_scalability#using-cluster-loader-with---auto-gen-for-dynamic-jmeter-pod-creation

Can spawn multiple JMeter pods to simulate load etc..

[2016-11-02 08:28] tsmaeder opened #418 "Wrong use of parameter array when listing stuff from db"
We have various places where we pass an array of parameters to gorm.DB.Where(...) like so:
[code]
Where() is a vararg functions, and the intent of the above is to pass the values of the above as multiple argument. However, the above code passes a single array-valued argument to where. This makes queries fail (with an error) when the parameter array is longer than one element.
I found this bug whil

[2016-11-02 08:42] kwk commented on #418
@tsmaeder Good catch! To fix it, Isn't that a matter of changing the call to  `db := r.db.Where(where, parameters...)`?

[2016-11-02 08:44] tsmaeder commented on #418
@kwk yes, it's that simple :-)

[2016-11-02 10:02] tsmaeder commented on #418
closed through #419

[2016-11-02 10:02] #418 closed

[2016-11-02 10:54] VineetReynolds commented on #357
@Mgranfie wrt

between an iteration within a project? Is that on the table?"

This would be under the sprint/iteration planning stories. Short answer - I'd expect WIs to be moved between iterations.

[2016-11-02 12:49] qodfathr commented on #411
@michaelkleinhenz we need to be cautious how we think about a backlog -- because it can be different for different people/roles. At the end of the day, it's just a priority ordered list of stuff yet to be done. A developer may have the view that the backlog is the stuff that's not yet in a sprint, but a product manager would not make any such distinction -- to a product manager, either something i

[2016-11-02 12:58] qodfathr commented on #410
While I'm in favor of auditing almost everything, auditing changes to iteration dates strikes me as something that almost no one would care about. (Yes, I can come up with some use cases. But I believe they very rarely happen.) If we can capture this data, let's do so, but let's not work on any UX around it until we've got more data on usage (how often does it happen) and need (someone wants to re

[2016-11-02 13:27] tsmaeder commented on #402
Stack Trace?

[2016-11-02 13:35] Mgranfie commented on #411
Agree with Todd. Also, if we are going to allow users to plan ahead, we
should also provide some support around managing a backlog around this
ability, within reason. May be P2 and P3, but should explore the experience
overall...

On Wed, Nov 2, 2016 at 8:49 AM, Todd Mancini <notifications@github.com>
wrote:

[2016-11-02 13:40] tsmaeder opened #420 "Decide on Concurrency Strategy"
We currently a single "version" field in work items and work item types and do simple, optimistic concurrency control with it.
As we add more entities to the system (concretely: work item links), we have discussed the question whether to extend that strategy to the new entities.
The purpose of this task is to investigate possible concurrency strategies for different objects we have. The results ar

[2016-11-02 13:42] kwk commented on #420
@tsmaeder for now I started to have work item link categories carry a version. Can be removed later if needed.

[2016-11-02 13:42] tsmaeder commented on #420
Until we have a decision, I propose we implement a "last update wins" strategy, i.e. we ignore the problem for new code.

[2016-11-02 14:37] michaelkleinhenz commented on #312
Done.

[2016-11-02 14:37] #312 closed

[2016-11-02 14:44] michaelkleinhenz commented on #305
Done.

[2016-11-02 14:44] #305 closed

[2016-11-02 14:44] michaelkleinhenz commented on #304
Done.

[2016-11-02 14:44] #304 closed

[2016-11-02 15:16] Essjaysee commented on #409
@maxandersen @michaelkleinhenz What are WITs and WILTs?

[2016-11-02 15:20] Essjaysee commented on #412
@michaelkleinhenz On # 3 "select the iteration from a list of open iterations for the current project", do you mean that you're on the project page and indicating which iterations are associated with the project?

[2016-11-02 17:47] Mgranfie commented on #410
+1 on not auditing the Iteration dates right now.

On Wed, Nov 2, 2016 at 8:58 AM, Todd Mancini <notifications@github.com>
wrote:

[2016-11-02 21:57] Mgranfie commented on #420
Thomas, will the last update be immediately persisted and pervasive.

On Wed, Nov 2, 2016 at 9:42 AM, Thomas Mäder <notifications@github.com>
wrote:

[2016-11-03 09:38] tsmaeder opened #422 "Add Indexing for Work Item Type Fields"
When creating Work Item Types, we should add support for creating an index for the field. My idea here is to allow a "searchField=true" field to the create type call.
I am not sure whether we should allow searching for fields that are not indexed or not.

[2016-11-03 10:38] maxandersen commented on #409
WIT = Work Item Types
WILT = Work Item Link Types

[2016-11-03 10:43] maxandersen commented on #411
Of course we should have a general bulk update feature eventually but absent of that then I would consider it critical we at least *offer* at close of sprint to move the issues to the next sprint (or back in backlog). Otherwise the detailed micro management of issues will kill usage immediately.

And yes, backlog is more an implicit concept than a "thing" which is why "putting back on backlog" can

[2016-11-03 10:45] maxandersen commented on #411
case in point - in both github and jira if on close milestone or sprint I wouldn't offer to move issues over I could not see me use neither system at all for tracking sprints.

Github don't have bulk updates and in jira they exist but require multiple steps/click and the least I would like to be burden with at end of sprint.

[2016-11-03 10:46] maxandersen commented on #411
and to be clear this should of course be *optional* to do - but we must provide some basic help to avoid users drowning in pushing data around.

[2016-11-03 10:55] maxandersen commented on #409
@michaelvirgil  and @ldimaggi I believe the "ownership" @qodfathr  and @michaelkleinhenz  refer to here is not about who is assigned/owning it but who have permissions to create/delete/update iterations. And suggestion is for simplicty sake for now just have it that the one who created a project can do so.

This of course become problematic if we introduce organization - but until we have that kee

[2016-11-03 10:59] maxandersen commented on #354
To be clear, *all* of our integrated systems will have to work with oauth2/keycloak. otherwise we are creating the "frankenstein" we don't want ;)

[2016-11-03 11:02] maxandersen commented on #358
Yes to them being containers.

But I would not say they *contain* users, users have access to the projects and the repository are being used by a project.

[2016-11-03 13:06] tsmaeder opened #424 "Fix Usages of gorm.DB"
We have come across instances of where

    tx.Create(&foo)
    if tx.Error {
        return nil, tx.Error
    }

However, this is wrong: since many operations on databases create a copy of the db, the code should correctly be:

    tx= tx.Create(&foo)
    if tx.Error {
        return nil, tx.Error
    }

We always need to work on the copy that was created.

[2016-11-03 13:12] tsmaeder opened #425 "Correctly Check For Execution of Delete/Update"
For example in models.WorkItemResitory.Delete(), we are using code like this:

[code]

However, tx.RecordNotFound() only works after query operations, not for updates. Correctly, the code should use "tx.AffectedRows". Also, the fix for #424 needs to be applied. Correct would be:

[code]
This code seems to have been copied to many places, so we need to do a pass through the code to fix this.

[2016-11-03 13:59] aslakknutsen opened #426 "Update to Go 1.7.4"
# Tasks

- [x] Setup custom download/install in Dockerfile.builder (http://tecadmin.net/install-go-on-centos/)
- [x] Update README

Depends on #126

[2016-11-03 14:18] aslakknutsen opened #427 "Work Item List Pagination links does not contain valid QueryParameters"
The URLs provided by the Work Item List use ',' as Query Parameter separator instead of '&'

## Expected behavior

[code]

## Actual behavior

[code]

## Steps to reproduce the problem

Invoke the service.

The 'quick' fix is to just replace ',' with '&', but due to Go JSON encoders built in HTMLEscape it converts all < > & to e.g. \u0026. While fully spec compliant for JSON strings, JS does not s

[2016-11-03 14:37] aslakknutsen opened #428 "Work Item List page parameters and totalCount use float"
## Expected behavior

page[offset]=2&page[limit]=3

"totalCount": 100

## Actual behavior

page[offset]=2.0&page[limit]=3.0

"totalCount": 100.0

* offset should probably be string
* limit and totalCount int

The reason for offset being a string is that while we currently use the row offset(int) of the result set, it's not unlikely to have an offset of some natural order key, e.g. date. Give me 10

[2016-11-03 14:40] michaelkleinhenz commented on #296
Done.

[2016-11-03 14:40] #296 closed

[2016-11-03 14:40] aslakknutsen opened #429 "Work Item List pagination should return absolute URLs, not relative"
## Expected behavior

[code]
## Actual behavior

[code]

## Steps to reproduce the problem

Invoke the service

The backend API should be able to control where the client calls next. By providing the Absolute URL in the links we can in the future e.g. redirect certain requests to CDN or other servers.

[2016-11-03 15:25] sbose78 commented on #422
Thanks for tracking this @tsmaeder ,
How do you plan to design the implementation for this -
Would it be something like our code would have logic to create an index conditionally ( by running a raw sql ) during persistence of the workitem type?

[2016-11-03 15:28] sbose78 opened #430 "Design SQL for expanding support for searching mulitple types ( users, Workitems )"
related to #395

[2016-11-03 15:31] sbose78 opened #431 "Add re-usable module/code for pagination"
.. popped this out from #395

[2016-11-03 17:26] michaelkleinhenz commented on #352
Done. See document artifact here: https://docs.google.com/document/d/1fef63yIJpwvMJjSLdnQnpiP2-0CZA_xEnimODkE-Xy4/edit#heading=h.fd7gjbrqgd3u

[2016-11-04 01:05] aslakknutsen opened #435 "Set default Work Item List page size to 20"

[2016-11-04 01:22] aslakknutsen opened #437 "Relax pagination argument validation"
Instead of failing with a ErrBadRequest status code the API should be more relax consider it a negotiation;

* Offset out of range, reset to 0
* Limit out of range, reset to default size
* Offset unparsable, reset to 0

[2016-11-04 05:21] baijum opened #438 "Update to use new 1.7 stdlib context package"
Once we migrate to Go 1.7 ( #426 ) it would be nice to remove the dependency on `golang.org/x/net/context`. We can replace that package with built-in `context`.

[2016-11-04 05:22] pranavgore09 commented on #341
@mindreeper2420 @Mgranfie  Just asking out of curiosity if we are supporting keyboard short-cuts for assignments. (e.g> On github issue, when typed `a`, focus goes to assigment ; when typed `s`, focus goes to search bar. )

@michaelkleinhenz : for clarity, as you mentioned `dropdown to select user` in the description, is it same as `type-ahead` ? Or there should be a dropdown with all possible use

[2016-11-04 05:57] pranavgore09 opened #439 "Include `Type` in search API"
Type should define the context for search.
When `type=WorkItem` search will be performed on WI only. When `type=User|WorkItem` search will be performed on User table and WorkItem table also.

## Expected behavior
When type is defined in the payload, search should be performed in that context.

## Current behavior
Currently we perform search on WorkItem table only.

[2016-11-04 06:03] pranavgore09 commented on #439
While assigning WI, search query will have `q=Name_to_search&type=User` and it should list out all possible users with that `q`

[2016-11-04 08:53] #431 closed

[2016-11-04 09:08] tsmaeder commented on #420
Random ideas what we could do, in no particular order:
* use checkout mechanism "user xyz is already updating this issue"
  * coediting might be allowed, setting up fast change notification
* optimistic cc using version -> rejects out of order updates
  * client can implement "last update wins" by fetching current version from server
* merge updates on write (-> need a definition of mergable chang

[2016-11-04 11:38] kbsingh commented on #126
we should definitely start testing for a dep upgrade, but not in the main code base that we expect to keep working. Feel free to branch for a go-1.7 tree, but please do not move master to 1.7 till we have system level support for it.

Atleat in the absense of a real reason for the upgrade, other than for the sake of upgrading.

[2016-11-04 11:44] aslakknutsen commented on #430
Keep in mind it's only by luck that Users exists in the same DB as WorkItems right now.

[2016-11-04 13:08] michaelkleinhenz commented on #341
@pranavgore09 on the dropdown: no search in this story as this is a whole epic making entities searchable. So no typeahead. We'll add that in a later story.
On the task list: cool, that's exactly what we'll need for SP2. So this would be an "input" to the SP2 discussion. After that you will have a validated task list that can be "converted" into GitHub issues.

[2016-11-04 13:14] michaelkleinhenz commented on #409
@michaelvirgil @ldimaggi as @maxandersen said, the ownership defined here is just about modifying the iteration's data like title, dates etc... As we are intruducing basic authZ now in other stories, it makes sense to define who are allowed to make changes to this data.

[2016-11-04 13:18] mindreeper2420 commented on #341
@pranavgore09 @michaelkleinhenz the only keyboard shortcuts that we are taking into account are Enter and Esc for finalizing / canceling an action. All other keyboard shortcuts will be looked at in the future.

[2016-11-04 13:22] michaelkleinhenz commented on #411
@maxandersen that convenience function is exactly what I had in mind when I wrote "moved back to backlog". That as a "yet-but-not-later default behaviour" would provide that convenience I think - and without introducing a button somewhere that we have to remove again later.
So what about that:

* when an iteration is closed and there are open WIs still in the iteration, these WIs are removed from

[2016-11-04 13:28] michaelkleinhenz commented on #411
@qodfathr yes, I agree. That is the reason why I don't see any "fixed" lists later but merely "a list view with an applied filter". So a "backlog link" would just open a list of WIs with a pre-defined filter applied. If an iteration is opened, again, the WI list is opened with a predefined filter expression. That would be fully flexible to customized views, quick introduction of new features (like

[2016-11-04 13:30] michaelkleinhenz commented on #410
@Mgranfie @qodfathr yes, not part here, because this has a much bigger scope. Logging/auditing is an epic of its own. There were talks in Westford about being able to roll the system back to any point in time, etc..this is much bigger than what can be done in this story.

[2016-11-04 13:36] michaelkleinhenz commented on #412
@Essjaysee no, it means that on either the WI detail view or on the WI list view, the user can select the iteration to be set on the WI from a list of all available iterations. The list of available iterations is scoped to the current project (as every project has an own list of iterations).

Welcome to the Team :-)

[2016-11-04 13:37] michaelkleinhenz commented on #357
@Mgranfie yes, WIs can be moved between iterations. See #412 for that.

[2016-11-04 15:17] qodfathr commented on #409
We probably should start a document outlining all of the various permissions we eventually need to model, and the level at which they exist. We can then prioritize which ones we want to implement.

e.g.

Org Level Permissions
   Create public projects
   Create private projects
   Assign permissions to non-organizational users in a private project
   etc.

Project Level Permissions
   Create new i

[2016-11-04 15:25] qodfathr commented on #411
@michaelkleinhenz are you suggesting that there are per-user orderings of a backlog? Because I do not see that as a requirement (or even a 'good thing' :) ) Being able to rearrange the stack ordering should be a privileged operation. [e.g. anyone can add to the end of the backlog, but only the PO can rearrange the backlog.]

There are some well established algorithms for dealing with this problem,

[2016-11-04 15:28] qodfathr commented on #410
@michaelkleinhenz right, a 'true, 100% rollback' would need something like this. Maybe a 'mostly true, 99% rollback' will suffice. :) Thanks for the reminder on this subtlety.

[2016-11-04 16:48] #427 closed

[2016-11-04 18:53] #428 closed

[2016-11-04 19:20] #405 closed

[2016-11-05 00:13] #429 closed

[2016-11-05 22:19] #85 closed

[2016-11-05 22:35] #391 closed

[2016-11-06 02:19] aslakknutsen commented on #272
@VineetReynolds As far as I can tell, TaskMapper is essentially a 'how do I get a Map a data from Provider X'. Any form of mapping between Provider X and Y is left up to the user. That's the part we're looking at. Getting the data is the easy.

[2016-11-06 09:26] maxandersen commented on #352
could you take this and put on devdoc ? you can use https://github.com/maxandersen/gdoc2adoc to convert it to asciidoc.

[2016-11-06 09:47] maxandersen commented on #411
@qodfathr when you say "add to the end of the backlog" you mean in a perfect world that new items are added with the lowest business or more generic "Product owner team" (POT) priority - or maybe even more precisely, has no ordering at all since noone not even looked at it. (stack_rank: MAX_BIGINT)

Question is - should this ordering really be truly global ? would it not be more useful to have an

[2016-11-07 04:24] pranavgore09 commented on #439
This is API related work task and it is related to DB work #430

[2016-11-07 04:36] pranavgore09 commented on #341
@michaelkleinhenz @mindreeper2420 Thanks, I will update Story accordingly.

[2016-11-07 06:36] pranavgore09 commented on #342
Considering this comment is old, I am just confirming that it is still valid @michaelkleinhenz . We are not updating assignee from list view.

@Mgranfie : Can you please give me the link to wireframe of list view with assignee column ?

[2016-11-07 07:50] sanbornsen commented on #358
@Mgranfie Can you please add the project design URLs here? Designs that you shared on the last UX meetup.

[2016-11-07 08:58] pranavgore09 commented on #341
Story: Assignments of WI to system users #341 (Owner: Pranav Gore)

Assumptions - (@maxandersen @michaelkleinhenz Please verify items below)
 - **No invite** via email
 - Assign and Unassign **one** user at a time
 - **No searching** using APIs (no typeahead, all users will be given to client via single GET call)
 - Assign to existing system users **only**

UX- (@mindreeper2420 Please verify items

[2016-11-07 09:53] michaelkleinhenz commented on #342
@pranavgore09 in general, UX works ahead of implementation and defines features that are not necessarily in the current "iteration step" of the the implementation (aka this story). You, as the assignee, should decide if it is in the story or not. Some points to be considered:

* is the story getting too large? So is it still a "reasonable" chunk of focussed work that can be done in a sprint by the

[2016-11-07 09:57] michaelkleinhenz commented on #341
@pranavgore09 yes to all my points above. On the multi-assignees: I think this would not exceed the story to allow more that one assignee added at once using a different UI control. I would expect that we build something that allows only one assignee right now, this will be throwaway code in the future. So I'd add the multi-assignees to this story, because the balance between "more work" and "not

[2016-11-07 10:14] michaelkleinhenz commented on #411
@qodfathr no, I did not mean that :) Sure, there must be authZ in place that controls who can re-order items in lists (including the backlog). But consider the following: there is a backlog that is defined as a partial of the whole of WIs by some kind of criteria (like all WIs that are in a project not assigned with an iteration). And then there might be something like a "personal worklist", all W

[2016-11-07 10:18] michaelkleinhenz commented on #411
One addition: Jira uses something like a mixture of fixed lists and user-defined lists based on filter expressions. Thats fine as long as in the implementation all lists are using the same tech, like "the fixed lists are just non-modifyable filter expressions internally".

[2016-11-07 10:22] michaelkleinhenz commented on #409
@qodfathr sounds like an epic or at least an architectural runway story to me.

[2016-11-07 10:54] maxandersen commented on #411
@michaelkleinhenz I actually believe jira has global ordering. If you move an item on one list it moves on another. Its definition for boards though is a query though and then it maps that out over sprints (what we call iterations) and anything that is not on an iteration is put onto what Jira calls a backlog.

The last part (board defined by query) is really powerful and I believe we need the sam

[2016-11-07 11:49] qodfathr commented on #411
I feel we are getting very close to the point whereby we'll have to agree to disagree, and move on.

I see lots of arguments based upon interesting EDGE use cases, without addressing the PRIMARY use case. A PO defines the universal, global stack ranking of the backlog. Period. That's how teams work. What I'm failing to see in the counter examples is this: when a PO reorders the backlog, if that's

[2016-11-07 13:35] tsmaeder commented on #411
While the discussion about local and global backlogs is interesting, I fail to see how it pertains to the implementation of this story. I think there is agreement that closing a sprint does not affect the order of execution of the work items.

[2016-11-07 13:42] Mgranfie commented on #342
@pranavgore09 @michaelkleinhenz
InVision Links to the Wireframes:
(I don't have permissions to edit this story, adding links here...)

Desktop Prototype:
https://redhat.invisionapp.com/share/2D92EG6BH

Mobile Prototype:
https://redhat.invisionapp.com/share/AH8X9RLU3

Mobile Workflow:
https://redhat.invisionapp.com/share/PW95K913C

[2016-11-07 13:52] Mgranfie commented on #409
@Michael Kleinhenz +! and this needs to be conceptually laid out as well.

On Mon, Nov 7, 2016 at 5:22 AM, Michael Kleinhenz <notifications@github.com>
wrote:

[2016-11-07 14:27] mindreeper2420 commented on #341
@pranavgore09 the story and wireframes you have listed are correct. Currently, the designs do not support multiple assignees.

@michaelkleinhenz as multiple assignees is not required for 'what we need for the product to work', UXD did not include that in this iteration. Are the development efforts to do what is done per iteration, or extend to what may come down the line? As far as I know (correct

[2016-11-07 14:51] #244 closed

[2016-11-07 15:00] VineetReynolds commented on #412
I have a question, based on some thinking I was doing for the acceptance criteria. Here are a couple of scenarios:

Given a project PizzaTheHut,
And the project has 3 WIs - a story (first WI) with a UX subtask (2nd) and Coding subtask (3rd),
When the story is assigned to an iteration (sprint X)
Then the subtasks should also be assigned to the iteration.

Given a project PizzaTheHut,
And the projec

[2016-11-07 15:10] Mgranfie commented on #341
@ajolicoe We have not designed for multiple assignees, at this time. We
will address this at a later time, further down the line.

On Mon, Nov 7, 2016 at 9:27 AM, Adam Jolicoeur <notifications@github.com>
wrote:

[2016-11-07 15:29] sbose78 opened #444 "export NotFoundError and BadParameter error"

[2016-11-07 15:45] michaelkleinhenz opened #446 "Build System SPI Interfacing Definition [5]"
# Description
As a developer, I want to understand the overall architecture for the build system and the communication flows between the components on a detailed level.

# Functional Acceptance Criteria
1. There is an architectural definition for the SPI contract between the build provider and the ALM system.
2. There is a definition for the communication flows between the components including the

[2016-11-07 15:47] michaelkleinhenz opened #447 "Build System Authentication Definition [5]"
# Description
As a developer, I want to understand the authentication architecture for the build system on a detailed level.

# Functional Acceptance Criteria
1. There is an architectural definition for the SPI authentication between Almighty and the build provider.
2. There is a definition for the authentication communication flows between the components including the involved communication artif

[2016-11-07 15:49] michaelkleinhenz opened #448 "Build Provider REST API Definition [5]"
# Description
As a developer, I want to understand the REST API that build providers must implement as part of the Build System SPI on a detailed level.

# Functional Acceptance Criteria
1. There is a definition for the build provider REST API contract between the build provider and the ALM system.
2. There is a definition for the communication flows between the components including the involved c

[2016-11-07 15:50] michaelkleinhenz opened #449 "ALM API of the Build System"
# Description
As a developer, I want to understand the API that the build system offers for other ALM components on a detailed level.

# Functional Acceptance Criteria
1. There is a definition for the API contract between the build system and the ALM system.
2. There is a definition for the communication flows between the components including the involved communication artifacts and models.

**Not

[2016-11-07 15:54] #444 closed

[2016-11-07 15:56] pranavgore09 commented on #341
Correct @mindreeper2420 if dev team go ahead and sets up codebase to have multiple assignees, then bugs/errors will be raised which wont fit the model.
I have added a question for the same.
Thanks @Mgranfie

[2016-11-07 16:13] michaelkleinhenz opened #450 "Overall Data Model Definition [5]"
# Description
As a developer, I want to understand the overall data model of the system on a detailed level.

# Functional Acceptance Criteria
1. There is a definition for the data model at large that defines the entities in the system and the relationships between them on a detailed level, including the type and cardinality of relationships.

**Note:** the definition must **not** be complete and

[2016-11-07 17:21] maxandersen commented on #411
@qodfathr you do realize VSO does *not* have global ordering, right - it has per board/team (not sure which it is because they are ambigious about it in their docs/ui) ?

Are you by global ordering really intending it to be fully global ordering across all projects, teams, and organizations ?

Per user is just a sideeffect that gets possible by having non-global ordering.

[2016-11-07 17:22] maxandersen commented on #411
@tsmaeder agreed - this discussion is really for about backlog management rather than iterations.

[2016-11-07 17:27] #435 closed

[2016-11-07 17:33] michaelkleinhenz commented on #352
Now also in devdoc/master as adoc.

[2016-11-07 17:33] #352 closed

[2016-11-07 22:48] Essjaysee commented on #409
A few questions @maxandersen @michaelkleinhenz @Mgranfie @qodfathr @michaelvirgil

1. If date is optional, the user would need to specify when creating the iteration that it is to be 'current' or 'future', right?
2. Does an iteration only become 'past' once it is closed?
3. How do we imagine the list of future iterations being ordered without dates?  Another field where you'd indicate its order in

[2016-11-07 22:50] Essjaysee commented on #412
@michaelkleinhenz Thanks for your reply, makes sense!

[2016-11-07 23:53] #272 closed

[2016-11-08 00:16] #437 closed

[2016-11-08 01:23] #330 closed

[2016-11-08 01:23] #380 closed

[2016-11-08 01:23] #381 closed

[2016-11-08 01:23] #382 closed

[2016-11-08 01:23] #383 closed

[2016-11-08 01:30] aslakknutsen opened #454 "Search service fail on URL with port number"
## Expected behavior

GET http://localhost:8080/api/search?q=http://localhost:8080/work-item-list/detail/50344
200 OK

## Actual behavior

500 Internal Panic
Error listing work items: pq: syntax error in tsquery: "localhost:8080/work-item-list/detail/50344:*"

[2016-11-08 01:34] aslakknutsen opened #455 "Track UI URLs for discovery in Search Service Query"
In the currently deployed version of UI the URL is:
http://demo.almighty.io/detail/41

Coming in https://github.com/almighty/almighty-ui/pull/263 this URL is changed to:
http://demo.almighty.io/work-item-list/detail/79067

[2016-11-08 01:59] pranavgore09 commented on #454
@aslakknutsen thanks, this is happening for unregistered URLs.!!!
Will update.

[2016-11-08 10:07] pranavgore09 commented on #342
thanks @michaelkleinhenz , :laughing: Got better clarity.
As per the designs by @Mgranfie , assignee is visible on detail page only.

Story: View Assignments in the work item list.

UX:
 - Wireframe - where to show assignee on work item list.

UI:
 - Read work item fields and show assignee on list view.

Core:
 - No additional tasks (Assignee is already present in the fields.)

[2016-11-08 11:05] tsmaeder commented on #439
I would not use "type", because that is a field of work items.

[2016-11-08 11:07] #454 closed

[2016-11-08 11:11] tsmaeder commented on #422
A couple of random things to think about:
* indexing non-string fields
* weights
* indexing fields that are only in some types, not others
* one index vs. many indices

[2016-11-08 11:22] aslakknutsen commented on #439
@pranavgore09 I would not say 'type' defines the context, type only 'filters' the result objects.

The context should be described by the URL. A Context is a searchable collection, e.g.

/search/project?q=&type=user  Search for users that has some association to project
/search/repositories?q=&type=workitem Search for workitems related to repository
/search/code?q=&type=user Search for users that

[2016-11-08 11:24] aslakknutsen commented on #439
@tsmaeder "type" matches nicely to the jsonapi 'type' which is the type of objects you expect back.

[2016-11-08 11:32] aslakknutsen commented on #422
I don't think the WorkItemType needs to define what should be searchable.

For now, I would add a gin index on work_items.fields using the jsonb_path_ops option and adjust the 'query compiler' to generate queries like: fields @> '{"system.assignee": "test-user"}'

[2016-11-08 11:35] #169 closed

[2016-11-08 12:11] tsmaeder commented on #422
Oh yeah, and full text search vs. structured search.

[2016-11-08 13:36] michaelkleinhenz commented on #409
@Essjaysee I think an iteration might just not have any time fixture at all. In general, iterations may be sprints, but may also be something completely different. Iterations are on the backside of the system just a group of work items plus some metadata. Sprints are just modelled using iterations.

Also, coming back to actual sprints, I think it would make sense to allow users to create a sprint

[2016-11-08 13:40] michaelkleinhenz commented on #409
@Essjaysee on the sorting of iterations: interesting problem, I don't have a solution for that yet. But thats also not part of this story. Currently, new iterations are just appearing in dropdowns on different views once created.

But this might be missing from #410, because in order to change the metadata of an iteration, the user has to select it somehow.

[2016-11-08 13:40] michaelkleinhenz commented on #409
@Essjaysee on multiple iterations: yes, we will have multiple concurrent iterations.

[2016-11-08 13:41] michaelkleinhenz commented on #410
Important addition: we might need some way to select or view an iteration from a list of iterations. How are they ordered in that list? What iterations are displayed there? This is needed in the story.

[2016-11-08 13:47] michaelkleinhenz commented on #411
@maxandersen @tsmaeder Agreed.

@qodfathr I think making the order local to a list (like "backlog", "iteration x" or something else) solves that problem. If the PO makes a change to the ordering in the backlog, all users can see that change while it does not affect other orderings in other lists.

[2016-11-08 13:49] michaelkleinhenz commented on #341
@mindreeper2420 @Mgranfie ok, then we leave it at one assignee per work item.

[2016-11-08 13:49] Mgranfie commented on #410
Michael,

In the current designs we have a list of iterations, right now they are
listed by date, start date being the identifier.

Let me know if this makes sense.

Thanks,
Monica

On Tue, Nov 8, 2016 at 8:41 AM, Michael Kleinhenz <notifications@github.com>
wrote:

[2016-11-08 13:52] maxandersen commented on #410
Since date are optionals sorting by date does not make sense IMO.

It should be an ordered sequenced list.

[2016-11-08 13:55] naina-verma opened #462 "Able to create Workitem with empty input (with API)"
Able to create Workitem with empty input (with API)
API Request :
{"type": "system.bug", "fields": { "system.title":"", "system.owner": "sdsad", "system.state": "new", "system.creator":"nv" }
![screenshot from 2016-11-08 19-23-12](https://cloud.githubusercontent.com/assets/19172870/20101643/ea6da338-a5e8-11e6-9858-8332b064daad.png)

[2016-11-08 13:59] michaelkleinhenz commented on #298
Done.

[2016-11-08 13:59] #298 closed

[2016-11-08 14:33] Mgranfie commented on #409
We should provide dates at some point, not necessary out of the gate for
this release. If we are not going to provide dates, then it should be
alphabetic.

On Tue, Nov 8, 2016 at 8:40 AM, Michael Kleinhenz <notifications@github.com>
wrote:

[2016-11-08 14:34] Mgranfie commented on #410
Proposing to go for alphabetical, until and even if we have dates...

On Tue, Nov 8, 2016 at 8:52 AM, Max Rydahl Andersen <
notifications@github.com> wrote:

[2016-11-08 14:46] Essjaysee commented on #409
@michaelkleinhenz Thanks for your replies.  Actually, I do need to figure out  the ordering of the iteration for this story, because after a new iteration is created, I need to specify where to show it within the list.  Details, details!  :)

@Mgranfie Alphabetical seemed the most sensible to me too. My understanding was that dates would always be optional, so how we decide to order those without

[2016-11-08 14:48] Mgranfie commented on #409
+1 SJ

On Tue, Nov 8, 2016 at 9:46 AM, Sarahjane Clark <notifications@github.com>
wrote:

[2016-11-08 15:39] tsmaeder commented on #422
For non-textual indices:

[code]

[2016-11-08 16:48] michaelkleinhenz opened #463 "Typeahead Search for Users on the Assignee"
# Description
As a user, I want to search for users based on the username when assigning a user to a work item.

# Functional Acceptance Criteria
1. On the work item detail view, the user can type in parts of the username of a user into the assignee field on set or change assignee.
2. The field then displays a dropdown with matching users from which the user can select one.
3. Setting the assignee

[2016-11-08 16:48] michaelkleinhenz commented on #463
Question: what is the search context? So what can the user type into the field? Username? E-Mail address?

[2016-11-08 16:54] michaelkleinhenz opened #464 "Efficient Display of large Work Item Lists"
# Description
As a user, I want to efficiently view the work item list even with a large number of work items in the list.

# Functional Acceptance Criteria
None.

# Non-functional Acceptance Criteria
1. The work item list is displayed in a efficient way, even when the list has a very large number of entries.

**Note:** this story only defines a non-functional requirement, effectively requiring th

[2016-11-08 19:56] mindreeper2420 commented on #297
@michaelkleinhenz I'd like to update this User Story with the following:

#2 - Remove - According to the visuals, there is no description in the list view, no matter how much space is available

#5 - Wireframe needs to be completed for the Delete function - need to make sure the user knows that deleting an item is final

#6 - Remove - There is no process for changing the type (this has overarching

[2016-11-08 21:13] mindreeper2420 commented on #341
@michaelkleinhenz @pranavgore09 @Mgranfie @aslakknutsen Will emails be served to the UI from the backend? I want to make sure that the wireframes fit the correct model.

[2016-11-09 08:06] pranavgore09 opened #466 "Modify WorkItem Update api to set assignee"
This task is part of #341

## Expected behavior

`system.assignee`should be set if provided while update of WI.
possible values are - nil / existing valid UUID

## Specifications

* Currently we are supporting only one assignee for a WI. But need to write the code in a way that it can hold multiple assignee. It will be useful for future use.

[2016-11-09 08:10] pranavgore09 opened #467 "Add secured GET API to list existing users of the system."
This task is part of #341

## Expected behavior
Return list of registered users on our system.
GET API should be secured.

## Specifications

@aslakknutsen
Please confirm that we will return list of `identity` from core.

[2016-11-09 10:07] tsmaeder commented on #462
Do you have the story handy that states the constraints?

[2016-11-09 10:08] aslakknutsen commented on #341
@mindreeper2420 I would say no.The backend could search on email, but not give them to the 'other users'. email normally require extra permissions.

[2016-11-09 10:13] tsmaeder commented on #422
I'm not sure how we're going to handle creating indices on fields in work item types. There are a number of strategies:
1. Create an index for every field
2. An administrator creates indices based on usage
3. Our code observes usage and automatically creates indices based on some policy
4. Work item type creators tell us what to index.

[2016-11-09 10:34] baijum opened #468 "Make tracker API jsonapi compatible"
Use JSON API (anti-bikeshedding tool) http://jsonapi.org/

[2016-11-09 10:35] baijum opened #469 "Make trackerquery API jsonapi compatible"
Use JSON API (anti-bikeshedding tool) http://jsonapi.org/

[2016-11-09 10:37] baijum opened #470 "Make search API jsonapi compatible"
Use JSON API (anti-bikeshedding tool) http://jsonapi.org/

[2016-11-09 10:44] michaelkleinhenz commented on #409
@Essjaysee details is why we are here :-)
We could do alphabetical, but as we will be having a "proper" ordering at some point, we might create throwaway code if we implement alphabetical now just to replace it later. For the work item list for example, we simply did not specify the order and left it be "undefined" resulting that the order was determined by the items order in the database.
What ab

[2016-11-09 10:45] tsmaeder commented on #48
http://jsonapi.org/format/#crud-updating

[2016-11-09 10:49] baijum opened #471 "Secure TrackerQuery REST Endpoints"
Create/Update/Delete of tracker query REST endpoints should be secured

[2016-11-09 10:50] tsmaeder commented on #66
@aslakknutsen PR not being merged so far.

[2016-11-09 10:54] tsmaeder commented on #98
@maxandersen @baijum I don't think core has anything to do here. Markdown is just text, which the front end is free to render any way they like. Am I missint something?

[2016-11-09 11:00] michaelkleinhenz commented on #410
As alphabetical would only be a temporary solution until we defined something better, can't we just go for "unsorted" for now? Thats what we've done on the worklist..just leaving out any sorting and display the items as they are in the data(base).

[2016-11-09 11:13] baijum commented on #98
@tsmaeder That's correct. We can just store whatever send from client.

I think we can close this.

[2016-11-09 11:30] maxandersen commented on #98
Things that I believe backend will be affected by on this:
1) if we support more than one markdown it would need be handled somehow in the model
2) backend or ui backend would probably need to process markdown/asciidoc for caching
3) if we allow things like lightweight tasks lists like github this would affect backend too.

[2016-11-09 11:38] maxandersen commented on #409
Yes. Look at jira and VSO they both does this afics.

Yes.

Just reordering yes - see jira and VSO. All have ways for that.

github provides multiple ways to do ordering of iterations

![milestones_-_almighty_almighty-core](https://cloud.githubusercontent.com/assets/54129/20137145/2abaacca-a679-11e6-9353-881099056426.png)

Yes, but I expect a Team will only have one active iteration.

I don't foll

[2016-11-09 11:41] maxandersen commented on #409
Why not just have an order from day one ?

[2016-11-09 11:46] maxandersen commented on #352
for prosperity the doc is at http://devdoc.almighty.io/blueprints/build_concept.html

[2016-11-09 11:48] aslakknutsen commented on #462
@qodfathr It's been previously stated that 'title' is required, but what is the requirement? 1 char and we're good? So "A" is a valid title, or "9"? Or, is the title not really required after all? Looking at how the PDD is currently written, it seems like most of it would better fit in the 'description'.

[2016-11-09 11:50] aslakknutsen commented on #98
markup :)

[2016-11-09 11:53] aslakknutsen commented on #98
Core needs a 'Render' service that can handle Markup languages. Both for Comments/Descriptions and Repo docs etc.

We don't want  to weigh down the client with support for 11 markup renderers.

Most markup supported fields would be sent to the client in two formats; raw and rendered v. The render service could be used by both backend to perform the rendering on markup supported fields as well UI t

[2016-11-09 11:56] aslakknutsen commented on #66
@tsmaeder No, it requires windows verification. Not gotten around to it.

[2016-11-09 12:06] aslakknutsen commented on #466
http://jsonapi.org/format/#document-resource-object-relationships

[2016-11-09 12:12] maxandersen opened #472 "Goals for Sprint #123"
To be filled out after sprint planning

[2016-11-09 12:36] tsmaeder commented on #179
@maxandersen @aslakknutsen I thinkg the answer is "not until much later", correct? Shall we close this one for now?

[2016-11-09 13:14] tsmaeder commented on #402
@aslakknutsen I suspect this had to do with the improper use of the gorm db in transaction support. Without a stack trace, it's impossible to know. Unless you have seen this recently, I move we close this one as "not reproducable"

[2016-11-09 13:24] qodfathr commented on #462
Let's also remember that there although there are several built-in field definitions, and some are automatically attached to all WITDs, there are **no** built-in WITDs. Each WITD must be defined externally, determined at runtime, and changeable at runtime on a project-by-project basis. As the WITD 'engine' progresses and the definition file format for WITD becomes stable, some folks will start to

[2016-11-09 15:12] aslakknutsen commented on #402
The stack trace doesn't matter. _Any_ panic in that goroutine cause main to shutdown. It needs to guard against it.

[2016-11-09 16:04] qodfathr commented on #411
@michaelkleinhenz but there really are no 'other lists'. These other lists you speak of are simply different views on the same list, **filtered** by particular criteria, either showing or not showing parent/child nodes, and ordered by some column of data. 'Priority' is simply one of the numerical data fields of a work item, and it is generally the default sort order for all views.

I am going to u

[2016-11-09 16:15] qodfathr commented on #410
Iterations are ordered. It is a *list* of data (actually, it's hierarchical -- remember, iteration is a path data type) -- and lists are, by definition, ordered (otherwise we'd call them a bag).

So if I type in

Iteration 1
Iteration B
Iteration III

then that's the order of the iterations. This is super-critical for the UX to have any degree of sanity.

As a lower priority feature, I should be a

[2016-11-09 16:18] maxandersen commented on #98
mark*

[2016-11-09 17:12] maxandersen commented on #98
And yes, +1 on your explanation @aslakknutsen, "render service" to allow to have edit+preview is why this is needed to affect core too.

[2016-11-09 17:36] maxandersen commented on #411
@qodfathr did you see my  question ? Are you saying you want global priority across all org, teams, boards etc. even though we only know of one other system that does this (jira) and it seem to be more pain than good to use ?

[2016-11-09 17:41] maxandersen commented on #411
and to be clear, in a "i'm ordering" the backlog scenario there is no ordered by some column of data it is the priority as otherwise moving issues up and down start meaning something else.

Likewise with Quick Add, the requirement is "add to end of backlog", if that is to be done by some other means than a specific ordered field we need to do something alot more generic than we are currently discu

[2016-11-09 17:55] maxandersen commented on #411
btw. I found an article that says the internals on VSO does it on a field (https://blogs.msdn.microsoft.com/visualstudioalm/2014/05/14/behind-the-scenes-the-backlog-priority-or-stack-rank-field/ and https://blogs.msdn.microsoft.com/visualstudioalm/2014/07/08/where-is-the-field-on-the-work-item-form-to-order-the-backlog/).

As far as I can see it VSO did this because of the technical debt they had

[2016-11-09 20:40] ldimaggi commented on #446
Michael - do you have an ETA for a reviewable draft of the document? Thx!

[2016-11-09 20:55] Mgranfie commented on #410
Todd,

Based on your examples, are we limiting the names of the Iterations and
Sprints to "Iteration #", "Sprint #" and "Release #" then?

This as a requirement. These are auto generated with a numeric appendage?

Thanks,
Monica

On Wed, Nov 9, 2016 at 11:15 AM, Todd Mancini <notifications@github.com>
wrote:

[2016-11-09 20:58] aslakknutsen commented on #467
Yeah, identity for now.

[2016-11-09 21:06] mindreeper2420 commented on #341
@michaelkleinhenz @joshuawilson I've referenced a new UX story for updated wireframes, based off of the new, simplified, requirements. These do not include Search, Email display or invite via email.

[2016-11-09 21:55] qodfathr commented on #410
@Mgranfie No, they can have any name you want. No autogeneration of any kind. (Although we should consider some auto generation for the future. Often I will want "Sprint n, Sprint n+1, Sprint n+2..." auto generated for some value of n, likely also with dates (e.g., "every two weeks starting with jan 12, 2017").

But that's not for today. We can discuss in January.

The initial development methodol

[2016-11-09 23:49] aslakknutsen opened #473 "Get supported LinkTypes for WorkItem of given Work Item Type"
The WorkItem API should express which link types are available for the given WorkItem type.

[2016-11-09 23:52] aslakknutsen opened #474 "Search for WorkItem filtered by WorkItemType"
When searching for work items to link, a link type has a certain source target type it supports.

When a given link type is chosen, it's target work item types should be used as a filter to search for possible matches.

[2016-11-09 23:57] aslakknutsen opened #475 "Expose Link Target WorkItem fields in WorkItem API"
As part of the Work Item API parts(title, id, state) of the target Work Item for a link should be included in the response.

[2016-11-10 01:14] aslakknutsen commented on #98
No. :)

Markup: a set of tags assigned to elements of a text to indicate their relation to the rest of the text or dictate how they should be displayed.

Markdown / Asciidoc / HTML / ++ are 'definitions of sets of tags' that describe a specific implementation.

[2016-11-10 06:12] baijum commented on #466
Use PATCH as mentioned in #48

[2016-11-10 07:49] maxandersen commented on #411
@qodfathr I reread your comments again and you seem to focus on the mention of the ability of *per user* backlogs, that is really not the point we are pushing for - it is for *per* team or per group of teams backlog order we are talking about.

[2016-11-10 12:57] aslakknutsen commented on #466
http://jsonapi.org/format/#crud-updating-relationships

[2016-11-10 13:50] tsmaeder commented on #430
@sbose78 what's the use case here?

[2016-11-10 13:53] aslakknutsen commented on #462
@qodfathr And by 'markdown' I assume you mean 'markup' :)

[2016-11-10 14:02] aslakknutsen opened #477 "Separate between Work Item Type Field Type String and Markup"
FieldType String:
  contain raw string data

FieldType Markup:
  contain raw markup data in some format. can be rendered.

## Larger context

* The Work Item Type Field Type only describe 'this is markup', not a specific markup type
* The Work Item Field contain the specific markup type used for this chunk of data
* Future assumptions:
    * The system define available markup formats
    * (Extens

[2016-11-10 14:38] qodfathr commented on #462
@aslakknutsen whatever makes you happy :)

[2016-11-10 15:01] aslakknutsen commented on #430
I wonder if this really is covered by #439

User and WorkItems are two different types and do not need to be searched for in the same Query.

[2016-11-11 03:23] aslakknutsen commented on #463
@michaelkleinhenz Both?

[2016-11-11 08:02] tsmaeder opened #480 "Search Architecture"
From a post to almighty-public:

[code]

The purpose of this issue is to track this concern and to develop a proposal how to address it.

[2016-11-11 12:45] qodfathr commented on #411
@maxandersen but we DO have per-team backlogs, inasmuchas a team's UX (1) filters to certain areas and (2) can have its own iterations.

1 project backlog + filtering gets the job done. We can discuss alternatives for our next season of development in January. I look forward to playing around with the implementation of the current PDD very soon.

[2016-11-11 14:13] tsmaeder commented on #480
I did some experiments, adding full text indices on the work item sample db (130k work items).

Sizes: (1 page == 8k)
[code]
One thing that is interesting here is that the combined index sizes of the single field full text indices are smaller thant the ft-index of the combined fields ("fulltext_search_index"). One reason may be that no weights were set when creating the individual indices.

[2016-11-11 14:19] tsmaeder commented on #480
Here are some query execution times:
[code]
It is interesting to observe that the query for individual fields is faster than the query for the combined field.

[2016-11-11 14:28] tsmaeder commented on #480
Execution time rises as selectivity goes down: searching for "test" takes 107ms (combined fields) and 113ms (single fields)

[2016-11-11 16:20] aslakknutsen opened #483 "Hide WorkItemType from WorkItem API"
The UI should not need to understand the WorkItemType directly.

- [ ] Expose WorkItemType as 'form definition' of WorkItem for Edit. Allows backend to control which Fields are editable based on user roles etc
- [ ] Expose WorkItemType as 'layout definition' of WorkItem for View. Allows backend to control how and what the user sees based on the defined WIT and roles.
- [ ] Expose WorkItemType as '

[2016-11-11 16:22] aslakknutsen opened #484 "Move system.creator to a relationship in WorkItem API"

[2016-11-11 16:34] tsmaeder commented on #480
Thinking about queries for fields in json: in order to generate meaningful queries for field values (businessValue < 5, title ilike 'foo%), we need to know type of value that is stored in a field. This implies that a field must have a unique type for the scope of work item types we use to generate the query.

[2016-11-11 16:41] aslakknutsen opened #485 "Expose Media controller/actions to Relationships / links for discoverability"
The Resource Object, Relationships and Links should come with a set of Media Controllers that the UI can use to discover allowed actions.

e.g.
* A user can set an assignee, but he can't change if set; POST ok, PATCH not ok.
* A user can see the assignee, but can't create or change it. POST not ok, PATCH not ok.
* A user can transition a state to "To QE Approval", but only QE group can transition

[2016-11-11 16:53] aslakknutsen commented on #480
Yeah, I agree. This is where the 'general purpose' WIT starts to break down a bit. I observed the same thing in looking trough  VSCode as well.

While you can define a Field as { Name: X, Type: Markup, Ref: system.assignee } in the WIT def, the system.assignee Ref system.assignee require a Type User to actually work.

Technically, most(all?) system.* Fields (known fields) have a predefined type.

[2016-11-14 07:28] maxandersen commented on #450
minor nit, I added a plural on the docs/diagrams.

[2016-11-14 09:12] tsmaeder commented on #480
Ranking with single-field queries is more complicated. Not clear how to compute an overall rank.

[2016-11-14 09:22] tsmaeder commented on #480
Added https://github.com/tsmaeder/almighty-core/tree/poc_matches_operator with an added "matches" operator.

[2016-11-14 09:23] tsmaeder commented on #480
Open issues here: field types, joins, ranking.

[2016-11-14 16:01] michaelkleinhenz commented on #463
@aslakknutsen for the first step? I'd limit that to the simplest possible variant.

[2016-11-14 16:11] tsmaeder commented on #474
I would expect work items of subtypes to be included as well.

[2016-11-14 16:12] tsmaeder commented on #474
By changing the parent_path to path and including the name of the type itself in the path, I expect this query would work:

SELECT count(*) over () as cnt2 , * FROM work_items w JOIN work_item_types w1 on w1.name=w.type JOIN work_item_types w2 on w2.path like (w1.path || '%') , to_tsquery('english', 'npe:*') as query, ts_rank(tsv, query) as rank WHERE (tsv @@ query) AND (w.type in('system.bug')) O

[2016-11-14 16:13] michaelkleinhenz commented on #409
We can do that. Also see https://github.com/almighty/almighty-core/issues/410#issuecomment-259454074 for Todds comment on this issue. Looks like the create date should be the order.

[2016-11-14 16:37] Essjaysee commented on #411
When the current iteration is closed, does the first item in the list of 'future' iterations become current?  Do we want the user to do a separate action to select which iteration should now be considered 'current'?

[2016-11-15 15:05] michaelkleinhenz commented on #313
Initial UX designs: https://redhat.invisionapp.com/share/BJ99FSXVX#/screens

[2016-11-16 05:38] surajssd opened #487 "push almighty-core built image to public registry"
When the image is built it seems that it is [pushed to a registry](https://github.com/almighty/almighty-core/blob/master/cico_build_deploy.sh#L54) that is not publicly hosted `registry.ci.centos.org:5000`. Anyone not having access to this registry would have to rely on someone to push image to docker hub `almightycore` account(which is not frequent) or build it and use it.

Advantage of having it

[2016-11-16 07:53] pranavgore09 commented on #420
@tsmaeder using e-tag could also be a solution as mentioned in #155
From the list above,
I think `coediting` will not be done soon and `merging updates` is a bit tricky.

Not understood this one

Are we talking about push notifications using websockets or SSE ?

yes, useful.

[2016-11-16 13:32] maxandersen commented on #411
When the iterations are in a sequence then there should always be a "current" IMO.
At least when only one iteration possible at one time. If multiple paralell ones I assume on the board you would need UI to choose which iteration or set of iterations you want to see/show.

[2016-11-16 17:50] tnozicka commented on #448
https://github.com/almighty/almighty-devdoc/pull/111

[2016-11-17 04:05] sbose78 commented on #430
Hi @tsmaeder ,
The use case is that a generic search should return results off all objects in the system.
Example, in github when we search in the top search bar ```https://github.com/search?utf8=%E2%9C%93&q=almighty``` the left navigation bar shows number of results pertaining to each type .

So I was wondering if our sql query should also do the same.

We could definitely do this is separate que

[2016-11-17 08:44] tsmaeder commented on #474
Testing showed that we need to go with a subselect instead of a join.

[2016-11-17 12:46] kbsingh commented on #180
The build acceptance ( via liveness and Readiness probes ) are now deployed.

[2016-11-17 15:02] michaelkleinhenz commented on #411
@Essjaysee talked about that with Pete, there is no automatic actions on closing an iterations at all. So if there are "current" or "active" iterations, the user has to manually make them be an active iteration.

@maxandersen agreed, but the start and end dates are optional on iterations, so we can not rely on a date sequence.

On the order of iterations: let's move that discussion on the order of

[2016-11-17 15:31] michaelkleinhenz opened #488 "Build Concept for the fabric8 integration"
# Description
As a developer, I want to understand how the fabric8 services integrate to provide build facilities via the web frontend. I want to understand the architecture, incoming design decisions and requirements for creating the integrated build service and the technical tasks required for it.

# Functional Acceptance Criteria
1. Along the existing build system document, the integration betw

[2016-11-17 15:40] michaelkleinhenz opened #489 "Setup of basic fabric8 integration"
# Description
As a developer, I want to start implementing and deploying on a working ALM infrastructure based on the integrated ALM and fabric8 setup.

# Functional Acceptance Criteria
1. The git repositories are set up, developers have access to it and the sourcecode port has been done (if needed).
2. The staging/deployment environment has the fabric8 backend services setup so that they deploy a

[2016-11-17 16:03] Mgranfie commented on #411
@michaelkleinhenz so what we are saying here is that the dates on iterations are more like meta data and do not automate anything. The users will manually kick off and close an iteration, as we do in JIRA today. This means that there could be a case where until you kick off an iteration, there is no iteration in "Current"? @Essjaysee

[2016-11-18 09:51] mohammedzee1000 opened #490 "Use postgresql container from registry.centos.org instead of docker hub."
**Expected behavior**
The postgresql container being used should come from registry.centos.org, instead of docker hub.

## Actual behavior
Currently, the container being used is centos/postgresql-95-centos7 which comes from docker hub.

We should instead use the container from registry.centos.org, known as registry.centos.org/sclo/postgresql-95-centos7.

[2016-11-18 09:54] kwk commented on #490
@mohammedzee1000 is there a webfrontent for registry.centos.org so one can see what he or she can expect to pull from there?

[2016-11-18 09:57] mohammedzee1000 commented on #490
@kwk not atm, but we already have plans to move to using atomic registry, which should give us a web ui.

Currently though, you can see the list of available containers to pull at https://wiki.centos.org/ContainerPipeline

[2016-11-18 09:57] #467 closed

[2016-11-18 11:42] sanbornsen opened #491 "Identities API request authentication not required"
***Before you open an issue, you should search for similar issues.***

Please, make sure to provide all the information asked for below and then delete everything above **Expected behavior** including this line.

## Expected behavior

* When **/api/identities** is called without authentication it should return all the users.

## Actual behavior

* Giving a 401 error : {"id":"HLnH/x7g","code":"jwt_

[2016-11-18 11:43] baijum commented on #491
@aslakknutsen @tsmaeder Should we provide unauthorized access to identities API?

[2016-11-18 12:28] tsmaeder opened #492 "Add API for Determining Allowable WorkItemTypes"
Right now it is not possible for the UI to determine which types of work items are allowed to be created and which are internal only.
In the future, this will depend on the process configured for a particular project. Therefore, it would be wrong to simply add a flag to the work item type definition.
As there may be multiple project-specific settings in the future, my first idea would be to have a

[2016-11-18 12:30] #288 closed

[2016-11-18 17:51] pranavgore09 commented on #491
@baijum  @sanbornsen : It was kept secured because we are exposing a list of `at least one time logged in` users along with UUIDs.
Are you saying non-secured because you are calling it on page_load (where user may or may not be present)?

[2016-11-21 19:11] joshuawilson commented on #341
@mindreeper2420 Can you please add the reference to the new UX design to the main description of the this story.

[2016-11-21 19:12] mindreeper2420 commented on #341
@joshuawilson I cannot edit descriptions or add tags in almighty-core

[2016-11-21 19:13] joshuawilson commented on #401
@maxandersen @michaelkleinhenz with the addition of the tab navigation can we consider this story done?

[2016-11-21 19:14] joshuawilson commented on #341
@mindreeper2420 can you add the link to a comment?

[2016-11-21 19:15] mindreeper2420 commented on #341
@joshuawilson Here is the Assign User UX work: https://github.com/almighty/almighty-ux/issues/53

[2016-11-21 19:41] joshuawilson commented on #341
@mindreeper2420 so the design we implemented is closer to 40 then 53, only don't actually have email address to display. Everything else is there, including type ahead / filtering.

[2016-11-21 21:59] #376 closed

[2016-11-21 21:59] #471 closed

[2016-11-21 22:04] aslakknutsen opened #493 "Flaky Test Case: TestValidOAuthAccessToken"
I see this test case fail from time to time..

[code]

[2016-11-21 22:21] #424 closed

[2016-11-21 22:21] #425 closed

[2016-11-22 05:07] pranavgore09 commented on #491
@aslakknutsen @sanbornsen I could see a problem with secured API -
When user is not logged in, he can not fetch identites (imageURL and name).
So when non-logged in user clicks on WI to see details, he wont be able to get Name and Image of the assignee. Because in fetch WI we return only UUID of the assginee.

[2016-11-22 05:11] sanbornsen commented on #491
@pranavgore09 yeah, that the only reason you wanna make it public, but eventually this feature is going to go away. To do anything, user has to login first. So, make no sense to make it public.

[2016-11-22 05:14] pranavgore09 commented on #491
@sanbornsen Is it confirmed ? and if yes then this ticket should be closed. right ?

[2016-11-22 05:16] sanbornsen commented on #491
@pranavgore09 It's not but I bet this what we are going towards.
May @joshuawilson @aslakknutsen @kwk confirm this.

[2016-11-22 06:33] aslakknutsen commented on #491
On a public project, viewing of issues/code/build etc should be accessible to non registered users.

Unsure if /api/users is required for a Read view.

[2016-11-22 08:21] baijum opened #494 "Pagination - Move the use of defaults and calculation of links to reusable function"
This issue created based on the discussion at PR #457.

[2016-11-22 08:47] tsmaeder commented on #494
@baijum I think @aslakknutsen has some of this already built in https://github.com/almighty/almighty-core/pull/478

[2016-11-22 09:00] aslakknutsen commented on #494
I have another pr coming as well where it's all extracted out as reusable
functions.

On Tue, Nov 22, 2016, 09:47 Thomas Mäder <notifications@github.com> wrote:

[2016-11-22 09:24] baijum commented on #493
This is a *unit test* and it depends on live Github service availability. So, should we remove the dependency on external Github availability for the test cases?

[2016-11-22 09:48] #455 closed

[2016-11-22 12:15] aslakknutsen commented on #493
Do we know why it's failing?
Can we handle the failure and e.g. retry?

[2016-11-22 17:54] michaelkleinhenz commented on #450
Working version here: https://www.lucidchart.com/invitations/accept/962892d5-4cbf-4d06-bba3-63720e2df979

[2016-11-22 18:26] michaelkleinhenz commented on #450
Open questions:

- is an Epic a work item type, an iteration "type" or a seperate entity?
- why is there no "IterationType"?

[2016-11-22 18:42] aslakknutsen commented on #450
Epic is a WorkItemType

[2016-11-23 08:38] mohammedzee1000 commented on #490
ping @kwk

[2016-11-23 08:57] DhritiShikhar commented on #48
Solved in #482

[2016-11-23 08:58] #48 closed

[2016-11-23 12:01] michaelkleinhenz opened #498 "Drag-and-Drop for Order of Execution [8]"
**Reference:** 1603E004/1608V064/1608E065

# Description
As a user, I want to be able to rearrange the order of execution in the work item list by using drag-and-drop.

# Functional Acceptance Criteria
1. List items can be rearranged by drag-and-drop.
2. The user is able to drop an item even on off-screen locations (parts of the list that are not visible). The windo/list should scroll up/down on r

[2016-11-23 12:11] michaelkleinhenz opened #499 "Created Date / Timestamp on new Work Items [2]"
# Description
As a user, I want to be able see the time a work item was created.

# Functional Acceptance Criteria
1. On creation of a new work item, the create date and time is stored.
2. On the detail view of a work item, the date and time is displayed. The value is not editable.
3. The date and time display is formatted in a reasonable way defined by UX.

# Non-functional Acceptance Criteria
No

[2016-11-23 12:13] michaelkleinhenz opened #500 "Story Creator (User) on new Work Items [1]"
# Description
As a user, I want to be able see who (which user) created a work item.

# Functional Acceptance Criteria
1. On creation of a new work item, the user creating the work item is stored.
2. On the detail view of a work item, the creator user is displayed. The value is not editable.
3. The user display is done in a reasonable way defined by UX and similar to the assigned user display.

#

[2016-11-23 12:20] michaelkleinhenz opened #501 "Dialog-based creation of new Work Items [10][5]"
# Description
As a user, I want to be able to create new work items from the navigation in addition to the quick add facilities. This way, I can set all relevant values of a new work item in one go (like the work item type) instead of using the limited quick-add.

# Functional Acceptance Criteria
1. The user can navigate to a new work item dialog.
2. On the dialog, the user can create a new work i

[2016-11-23 13:09] michaelkleinhenz opened #502 "Create Epic [9]"
# Description
As a user, I want to create an epic. An epic is an ordered collection of stories that represents a feature train, a higher-level feature set with a common goal.

# Functional Acceptance Criteria
1. The user can navigate to the work item create dialog (see #501) and create a new work item of type "Epic".
2. The dialog behaves the same as the normal create work item dialog.

# Non-func

[2016-11-23 14:15] kwk commented on #490
@mohammedzee1000 thanks for elaborating

[2016-11-23 14:46] pranavgore09 commented on #500
Check `Fields->system.creator` in response of http://demo.api.almighty.io/api/workitems.2

[2016-11-23 15:13] pranavgore09 commented on #342
Hey @mindreeper2420
Can you please help UI team to show the `place` where to display assignee on list view ?
https://redhat.invisionapp.com/share/2D92EG6BH this List view is `without assignee column`. We will need the prototype which has `list view with assginee column`.

[2016-11-23 15:45] michaelkleinhenz commented on #318
Note: Todd said that the order of execution is for now implemented with a numeric "gravity" field on the work items. That is the easiest solution. It does introduce some side effects, like a global order, but they are acceptable for now.

[2016-11-23 15:57] michaelkleinhenz opened #503 "Filtered List: Assigned Work Items [8]"
# Description
As a user, I want to see all work items that are assigned to me in a list view.

# Functional Acceptance Criteria
1. The user can navigate to a list that only contains the work items that are assigned to him.
2. The list contains all items assigned to him regardless of other hierarchical positions of the work items.
3. The list behaves the same as the work item list (see #297) includ

[2016-11-23 16:12] michaelkleinhenz opened #504 "Filtered List: Epics"
# Description
As a user, I want to see all epics in a list view.

# Functional Acceptance Criteria
1. The user can navigate to a list that only contains work items with the type "epic".
2. The list contains all items with the type "epic" regardless of other hierarchical positions of the work items.
3. The list behaves the same as the work item list (see #297) including the reordering (see #318).
4

[2016-11-23 18:55] mindreeper2420 commented on #342
@pranavgore09 here is the correct link: https://redhat.invisionapp.com/share/T89G321KQ#/195933683_A-0100.

The Assigned User's profile picture appears to the left of the kabob menu. If there is no picture, then the generic user icon (pficon-user) is shown, with a box around it.

[2016-11-24 04:46] pranavgore09 commented on #342
@mindreeper2420 thanks, got it.
Currently it is only `assignee` but in future there will be more like `created_by` in the same fashion(show profile pic).
And we do not have column headers like - `title`, `id`, `assigned to` etc etc.
So, when we show `created_by` in future, it will not be predictable that which column means what.

I can think of - when we hover on the icon it should say `Assigned t

[2016-11-24 05:27] baijum commented on #500
The backend to set the creator was completed in sprint 122. Ref. #244

[2016-11-24 05:42] baijum commented on #500
Some old work items in demo site don't have Creator set. See this example: http://demo.api.almighty.io/api/workitems/200
The value is set to "me", should we change that to something else?

[2016-11-24 05:54] baijum opened #505 "Return WI REST API responses with created_at value"
As part of the #499 story, the backend should add `created_at` value into the responses.  All the work item related responses (Create/Update/List/Show) should return the `created_at` value in the response.

[2016-11-24 05:54] pranavgore09 commented on #500
@baijum Your concern is correct but I think this story is only for new/upcoming work items. Title of the story says the `on new work items`. so may be, we are ignoring old records...

[2016-11-24 09:01] #474 closed

[2016-11-24 10:24] baijum opened #507 "API to get an individual user"
Get an individual user
[code]

The API should be secured. Use JSONAPI

[2016-11-24 11:36] DhritiShikhar opened #508 "Implement support for order of execution of workitems"
Currently, Workitems are displayed on the front end in the same order as they are fetched from backend. We want a mechanism in backend to support the order of execution of workitems. The order of execution is global and stored/retained.

# Related
- User Story #318
- UI Issue (https://github.com/almighty/almighty-ui/issues/355)

[2016-11-25 07:36] mohammedzee1000 commented on #490
@kwk, well i managed to technically verify that it works :

Old Compose :

[code]

New Compose (container from r.c.o) :

[code]

[2016-11-25 09:47] tsmaeder commented on #357
Backend Tasks:
- Create Repository for project crud(l)
- Create API Endpoint for project crudl
- Update work item create/update to include optional "project field" if empy, assign to a default project
   -> migrate all existing work items to default project
- Update search services (wi list and searchrepo) to allow filtering by project
- Make project field in work item create/update mandatory

[2016-11-25 10:07] tsmaeder commented on #357
Front end tasks:
- "Create Project" dialog
- An affordance to invoke the "create project dialog" (menu entry, for example)

[2016-11-25 10:26] tsmaeder opened #509 "Create Repository for Project CRUDL"
Create a repository object for Project create/read/update/delete/list

Projects have a mandatory name, unique within their root container ("account"). As we don't have accounts yet, the must be globally unique for now (attenttion: among non-deleted projects).

Todo:
- DB schema (migration script)
- Repository struct & function (like wi repo)
- Tests

[2016-11-25 12:44] joshuawilson commented on #297
@harrybabu will this story be done this sprint?

[2016-11-25 12:57] tsmaeder opened #510 "Create API Endpoint for Project CRUDL"
Create a json-api conforming endpoint for creating/updating/reading/deleting/listing projects

Depends on #509

[2016-11-25 13:14] tsmaeder opened #511 "Update Work Item API to include Project"
We need to add a reference to a project to work items in the database. The repository and API need to be updated to reflect the new attribute.
When creating and updating a work item, the project parameters should be optional for the moment. When nil, a well known default project is used instead. When the clients have migrated to use projects, the project parameter will become mandatory.

[2016-11-25 13:48] tsmaeder opened #512 "Filter by Project in WI Search Services"
Add filtering by project fields (id, name)  in work items list call and search service.

[2016-11-25 14:07] michaelkleinhenz commented on #450
Todd commented on this yesterday:

* Epic is a Work Item Type instance, or in other words, part of the scheme, no seperate entity.
* For the first step, it is sufficient to just let the user create epics by creating a WI with the selected type epic. So no extra UI for it.

[2016-11-26 01:31] joshuawilson commented on #297
@mindreeper2420 Why wouldn't you want to change the type? I'll give you an example. Someone that is not on the team files an issue as a 'feature' but it is obvious it is a 'bug'. We should be allowed to change it. The alternative is to delete the 'feature' version and create a new 'bug' version.

[2016-11-26 21:55] joshuawilson commented on #498
@michaelkleinhenz did this story get accepted for the next sprint? Who is it assigned too? I don't think we have UX for this yet and it has already been listed as an issue for the next sprint for the UI.

[2016-11-28 06:04] pranavgore09 opened #513 "New dedicated API for Relationship Update (jsonapi-relationship-assignee)"
Write a new separate API that will update Assignee-Relationship for a WorkItem.

Refer : http://jsonapi.org/format/#crud-updating-relationships

[2016-11-28 09:22] Ritsyy commented on #493
@aslakknutsen as @baijum mentioned it's because of the Github service availability, i am trying the function call with retries with a counter of 5, will that be a correct solution to do it?

[2016-11-28 09:58] michaelkleinhenz commented on #498
No, it will imho not in the next sprint. This one was taken out of the order of execution story just to not put it in the same sprint :-)

[2016-11-28 11:05] aslakknutsen commented on #493
@Ritsyy Sure, add a bit of pause and retry.

[2016-11-28 11:07] #373 closed

[2016-11-28 11:52] Ritsyy commented on #493
@aslakknutsen sure will do this way.

[2016-11-28 13:09] #233 closed

[2016-11-28 13:41] aslakknutsen opened #515 "Split up design/* to file per 'service'"
Split out the relevant Resources/Types etc into a file per Service

e.g.

design/tracker.go (trackers, trackerqueries, trackeritems)
design/workitem.go (workitems, workitemtypes, workitemlink*)
design/search.go (search..)
design/account.go (users, identity, project..)

[2016-11-28 14:23] mindreeper2420 commented on #297
@joshuawilson I'm not saying that changing the type is not a feature that is useful, just that there is no defined process for changing the type and no coverage of the ramifications. Changing the type can affect which Sprint it shows under, who can access it or even how it is displayed in the list. UX saw that as needing to be covered before implementation. Just another iteration to tackle.

[2016-11-28 14:29] mindreeper2420 commented on #498
@joshuawilson @michaelkleinhenz Here are the links to designs:

Mobile: https://redhat.invisionapp.com/share/K68ZU1HVE#/197649494_ALM_DragDrop_MB_Workflow

Desktop (from PatternFly): https://redhat.invisionapp.com/share/7W8ZPONG3

Note: The PatternFly examples cover Cards, List Items and Tables

[2016-11-28 14:36] michaelkleinhenz commented on #297
@mindreeper2420 but changig the type is not currently part of the story. Or did I get something wrong here? :-)

[2016-11-28 15:22] mindreeper2420 commented on #501
@michaelkleinhenz what need does this fulfill? @almighty/uxd

[2016-11-28 15:33] michaelkleinhenz commented on #446
@ldimaggi here's the final component diagram. https://www.lucidchart.com/invitations/accept/af921982-fba5-4a6f-b708-88dedc175395

[2016-11-28 16:27] Mgranfie commented on #297
Hi All,

Just a thought here, not sure if changing WI's is something that has to be
handled in the back end now, it's not in the current plan of action for
functionality that is needed, in the current experience. It's work that we
can hold off on...

Thanks,
-Monica

On Mon, Nov 28, 2016 at 9:36 AM, Michael Kleinhenz <notifications@github.com

[2016-11-28 16:44] michaelkleinhenz opened #516 "Build Provider Skeleton Service [20]"
# Description
As a developer, I want to implement the build system against a build provider mock service.

# Functional Acceptance Criteria
1. There is a build provider implementation as a service available.
2. The build provider service implements the Build Provider API.
3. The build provider service returns mock responses for requests.
4. The skeleton is specific to OpenShift.

# Non-functional

[2016-11-28 17:20] michaelkleinhenz opened #517 "Build Provider SPI Client Module for Core [13]"
# Description
As a developer, I want to use a client module on code level to access build provider facilities.

# Functional Acceptance Criteria
1. For the build provider implementation and API, there is an access module for the core project.
2. The implemented client module can be a library or a functional module acting as a communication module, providing a Build API to other core modules.

# No

[2016-11-28 17:22] michaelkleinhenz commented on #517
@tnozicka can you add links to the SPI api definition?

[2016-11-28 17:22] michaelkleinhenz commented on #516
@tnozicka can you add links to the SPI api definition?

[2016-11-28 17:22] michaelkleinhenz commented on #517
@tnozicka do we already have a Build API definition (interfacing with other ALM components)?

[2016-11-28 19:40] kwk commented on #322
Closed by #421

[2016-11-28 19:40] #322 closed

[2016-11-28 19:40] kwk commented on #323
Closed by #421

[2016-11-28 19:40] #323 closed

[2016-11-29 00:29] aslakknutsen opened #518 "WIT soft-delete triggers not needed"
Introduced as part of Work Item Linking, https://github.com/almighty/almighty-core/blob/master/migration/sql-files/008-soft-delete-or-resurrect.sql

1. WIT should be considered immutable and can not be deleted.
2. The trigger updates all WI regardless of old vs new value. so even if the value is set to nil and was nil  (something Gorm does by default ) all 130k of that WIT are updated
3. The trigg

[2016-11-29 00:31] aslakknutsen opened #519 "Tracker* _test leave test data in database"
As far as possible, test cases should clean up after themselves.

# Related
 PR #535

[2016-11-29 00:32] aslakknutsen opened #520 "Search _test leave test data in database"
As far as possible, test cases should clean up after themselves.

# Related
 PR #535

[2016-11-29 00:59] aslakknutsen opened #521 "Create API root"
The API Root should contain links to the different module top levels, UI should rely on link names to find URLs for navigating the API.

e.g.

"login" /api/login/authenticate
"projects" /api/user/projects  (based on user auth)
"summary" /api/user  (based on user auth)

[2016-11-29 01:07] aslakknutsen opened #522 "WorkItemLink API is missing 'links'"
http://jsonapi.org/recommendations/#including-links

Related #421

[2016-11-29 01:12] aslakknutsen opened #523 "Standardize on Attribute naming in API"
Pagination use camelCase
Identities use camelCase
WorkItemLinks use _

JSONAPI recommends "-" http://jsonapi.org/recommendations/#naming

total-count
image-url
link-category
etc

[2016-11-29 01:26] aslakknutsen commented on #180
Move this concern to https://github.com/almighty/almighty-core/issues/178 and closing this issue as the basic status api check.

[2016-11-29 01:26] #180 closed

[2016-11-29 02:51] tnozicka commented on #516
It's not merged yet; temporary link is: https://github.com/tnozicka/almighty-devdoc/blob/add-build-spi-definition/design/api/build-spi/swagger.yaml

[2016-11-29 03:26] tnozicka commented on #516
FAC - sgtm

NFAC:
@michaelkleinhenz should we make this story OSBP specific? I guess the goal should be to have an initial skeleton of OSBP; (which will become OSBP). I don't think we want to commit to maintaining a separate skeleton (mocked-only). At least for now I think that having a reference implementation in the form of OSBP should be enough.

We might add a skeleton as a starting point for

[2016-11-29 03:27] tnozicka commented on #517
Build SPI definition it's not merged yet; temporary link is: https://github.com/tnozicka/almighty-devdoc/blob/add-build-spi-definition/design/api/build-spi/swagger.yaml

The internal API of Build Service (core) is not defined yet. I guess it would be quite coupled to the core architecture so it might be best done by somebody from core who's to be working on that.

From the point of  Build Provider

[2016-11-29 07:34] tnozicka commented on #516
@michaelkleinhenz What I have in mind for this story is to accommodate tasks like:
- integrate http framework, logging
- write Makefile and Dockerfile
- add Build SPI methods endpoints, but do not implement them yet ("mocked")
- setup initial (and simplified) CI/DC
- ...

[2016-11-29 07:42] rupalibehera commented on #516
@michaelkleinhenz, the above proposed by @tnozicka sounds good as writing a separate skeleton and maintaining it will be a pain, instead starting with OSBP will be a better decision. And for other providers there will be a reference of OSBP, which will be always up-to date.

[2016-11-29 09:55] #448 closed

[2016-11-29 09:56] #447 closed

[2016-11-29 11:02] kwk commented on #396
Fixed by #421

[2016-11-29 11:02] #396 closed

[2016-11-29 12:11] michaelkleinhenz commented on #501
@mindreeper2420 to create items using a full dialog where I can set more than the title in one go. The quick add is very limited and if I want to create a more complex work item, like an Epic, I would need do create it first in the quick add, then look it up in the list, open it and then set the rest of the values.

[2016-11-29 12:57] tnozicka commented on #517
new link: https://github.com/almighty/almighty-devdoc/blob/master/design/api/build-spi/swagger.yaml

[2016-11-29 12:57] tnozicka commented on #516
new link: https://github.com/almighty/almighty-devdoc/blob/master/design/api/build-spi/swagger.yaml

[2016-11-29 13:00] #518 closed

[2016-11-29 14:07] michaelkleinhenz commented on #401
Done. Demoed in review.

[2016-11-29 14:07] #401 closed

[2016-11-29 14:07] michaelkleinhenz commented on #341
Done. Demoed in review.

[2016-11-29 14:07] #341 closed

[2016-11-29 14:07] michaelkleinhenz commented on #446
Done. Demoed in review.

[2016-11-29 14:07] #446 closed

[2016-11-29 14:07] michaelkleinhenz commented on #450
Done. Demoed in review.

[2016-11-29 14:07] #450 closed

[2016-11-29 14:07] michaelkleinhenz commented on #297
Done. Demoed in review.

[2016-11-29 14:07] #297 closed

[2016-11-29 15:39] Mgranfie commented on #306
# 3. behavior and interaction has not been defined or addressed by UX.

[2016-11-29 15:45] Mgranfie commented on #499
@michaelkleinhenz does the DTS only represent created and is static. Any modifications are then captured in the history? It might be helpful to the end user to display or have access to both. Not sure if this at all impacts the dev work in any way and is more on the design exposing it. Thoughts?

[2016-11-29 16:04] mindreeper2420 commented on #503
@michaelkleinhenz here is the UX Design for Filtering (though it does encompass more than the fixed methodology here) - https://github.com/almighty/almighty-ux/issues/55. It is not finished yet but will be updated with 'ready for dev' when completed.

[2016-11-29 16:36] michaelkleinhenz opened #526 "Converting old API to new API for WorkItem Operations [13]"
# Description
As a developer, I want to use the new jsonapi based API for implementing features for WorkItems.

# Functional Acceptance Criteria
1. WorkItem operations between UI and Core on WorkItems are using the new jsonapi based API.

# Non-Functional Acceptance Criteria
None.

- [x] Move WorkItemList to JSONAPI (List)
- [x] Move WorkItemList POST to JSONAPI (Create)
- [x] Move WorkItem PATCH

[2016-11-29 19:40] ldimaggi commented on #498
Will the UI have the concept of a retained sort order? For example, if the user selects a most-recent-first sort order, and then subsequently performs a drag-and-drop action to re-order one workitem, is the sort order of the other workitems unchanged?

[2016-11-29 19:41] ldimaggi commented on #499
Just to confirm - the Created Date / Timestamp is always readonly, and can never be edited, yes?

[2016-11-29 19:49] ldimaggi commented on #500
Just to confirm - the Story Creator field is always read-only, and can never be edited, yes?

[2016-11-29 19:58] ldimaggi commented on #501
An automated test-centric question - will the new work item dialog be a popup window? or a panel within the window? Thx!

[2016-11-29 20:28] michaelvirgil commented on #498
@ldimaggi @mindreeper2420 I would suggest keeping it real simple. If a user has a filter on the backlog, whatever the filter happens to be, disable drag-n-drop and other forms of changing the order of the backlog. Only in an unfiltered, unsorted view can someone change the order of execution. Common practice in other tools I've used.

[2016-11-29 20:53] mindreeper2420 commented on #501
@ldimaggi The New Work Item dialog will be a popup window. Here is an example: (within a Modal version): http://www.patternfly.org/pattern-library/forms-and-controls/forms/. Hope that helps!

[2016-11-29 21:23] mindreeper2420 commented on #500
@ldimaggi That is correct - the Creator (or Reporter) should be read-only, never be editable.

[2016-11-30 03:04] sanbornsen commented on #526
Do we have JSON API available for all the endpoints?

[2016-11-30 03:09] joshuawilson commented on #526
Not yet, but we will.

[2016-11-30 06:08] sanbornsen opened #527 "Add filter by assignee to workitem.2 API"
Ass part of story #503 there should a filter parameter **assignee** with the URL.
## Expected values and response
### value:
empty string or null or none
### response:
returns all the work items as normal
##
### value:
self
### response:
#### Logged in:
return all the work items assigned to logged in users
#### Not logged in:
return 404

[2016-11-30 06:24] pranavgore09 opened #528 "Make WorkItem-List API to follow jsonapi specifications"
Currently we have `workitem.2 LIST` API, and it partially follows jsonapi specifications.
For this task we need to modify that API to fully adapt to jsonapi specs.

Main changes will be attributes taken out as relationship.

While working please refer to [this code](https://github.com/almighty/almighty-core/pull/482/files#diff-d2f956a730e7c36b29bc0dceedd367bdR174) once merged. It will easy to make

[2016-11-30 06:45] sanbornsen commented on #528
Isn't workitems.2 already following JSON API specification?

[2016-11-30 06:50] pranavgore09 commented on #528
@sanbornsen partially following.
E.g> `assignee` is part of `attributes` as of now, it should be part of `relationships`

[2016-11-30 06:53] sanbornsen commented on #528
Okay, understood. Thanks.

[2016-11-30 08:43] tnozicka commented on #517
After yesterday's discussion; this is just a Golang client library for build providers which will reside in https://github.com/almighty/almighty-core and has no affiliation with Build Service other than it will be used by it in the future. Am I correct, @michaelkleinhenz ?

[2016-11-30 10:13] baijum commented on #507
Work item is returning hash, so this API can be called to get the user details.

[2016-11-30 10:25] naina-verma opened #530 "For workitemlinking type ->reverse_name: "relates to" should be "relates""
For workitemlinking type ->reverse_name: "relates to" should be "relates"
API http://localhost:8080/api/workitemlinktypes
attributes: {
description: "One planner item or a subtype of it relates to another one.",
forward_name: "relates to",
name: "Related planner item",
reverse_name: "relates to",
topology: "network",
version: 0
}

Expected behavior - When drop down shows up into the UI it doesn't

[2016-11-30 10:28] naina-verma opened #531 "Bug to Bug item linking is allowed"
Bug to Bug item linking is allowed
As for current scenario, planner item to planner item and Bug to planner item linking is allowed.
But , from API you can link bug to bug as well which should not be allowed.

{
attributes: {
version: 0
},
id: "79484ca6-01fb-45e6-bb35-49baba10960e",
relationships: {
link_type: {
data: {
id: "b12e81ef-2cf4-4554-a2cb-a6077cc97af1",
type: "workitemlinktypes"
}
},
sou

[2016-11-30 10:30] DhritiShikhar commented on #519
@aslakknutsen Does this mean that delete function in tracker*_test cases should be hard delete?

[2016-11-30 10:36] aslakknutsen commented on #519
@DhritiShikhar The Delete method used by the Test yes. The Repository normally only does soft delete so you can call db.Unscoped().Delete(&tracker) directly.

[2016-11-30 12:31] kwk commented on #509
I think you can use a unique index like the one we have for [work item link category names](https://github.com/almighty/almighty-core/blob/9bd5c8276cb058e46f71d68a26b4c0bde1f7a606/migration/sql-files/007-work-item-links.sql#L48):

[code]

[2016-11-30 12:33] kwk commented on #510
You mean "projects" instead of "work items" right? Or do you want to have an endpoint like `/project/:name/workitems` that lets you define work items which belong to the project?

Please share your ideas on the the concrete endpoint URL.

[2016-11-30 12:34] tsmaeder commented on #357
Switzerland: 20 points.

[2016-11-30 12:43] kwk commented on #509
One thing you need to consider as well when soft deleting a project is to soft-delete all work items belonging to this project. I suggest to improve [my former trigger](https://github.com/almighty/almighty-core/blob/9bd5c8276cb058e46f71d68a26b4c0bde1f7a606/migration/sql-files/008-soft-delete-or-resurrect.sql#L70) which did the same for when work item types were deleted:

[code]
**NOTE:** Ignore th

[2016-11-30 12:51] tsmaeder commented on #358
12 points.

[2016-11-30 12:56] baijum commented on #357
13 Points

[2016-11-30 12:56] baijum commented on #358
8 Points

[2016-11-30 13:46] Mgranfie commented on #501
It should just be a blank slide out workitem, using the save model Adam
previously designed. No need for new UI here ; )

On Tue, Nov 29, 2016 at 3:53 PM, Adam Jolicoeur <notifications@github.com>
wrote:

[2016-11-30 15:04] Mgranfie commented on #510
Is this issue referring to something like:

Org Name/Project Name/Area Name/Area Name/Work Item Name ?

-Monica

On Wed, Nov 30, 2016 at 7:33 AM, Konrad Kleine <notifications@github.com>
wrote:

[2016-11-30 16:16] kwk opened #533 "Include related resources by default in all actions and endpoints that deal with work item links."
TBD

Depends on #559 because we cannot include non-JSONAPI resources inside the included array.

[2016-11-30 19:10] Mgranfie commented on #498
Len, we have not designed sort into the experience at this time. There will
be filters, but any movement with those results, would not be persistent.

On Tue, Nov 29, 2016 at 2:40 PM, Len DiMaggio <notifications@github.com>
wrote:

[2016-11-30 23:51] pranavgore09 opened #534 "Core should support multi assignee"
depends on : #482

Once above PR is merged, PATCH work item API stores single assignee. It should support multi assignee.

UI may or may not need a change, depending upon what core returns.
If core returns only element in `assignee` then no change in UI. But if core returns `list of assignee` then UI need to parse the list and show assignee.

[2016-12-01 01:09] pranavgore09 commented on #513
@aslakknutsen After yesterday's discussion, do we need this issue ?
It is not in the sprint, still should I keep it in backlog for future work ?

Related work done [in here](https://github.com/pranavgore09/almighty-core/tree/assignee-relationships-api). No PR raised yet because much of the code base (ground work) is similar to #482 .

[2016-12-01 06:35] baijum opened #536 "Add creator relationship to WorkItem API"
As part of the story #500 , the work item JSONAPI response should have creator relationships.

[2016-12-01 07:07] naina-verma opened #537 "Stored Github User information should be updated"
Stored Github User information should be updated
Expected behavior
Stored Github User information should be updated , if some user already logged in and doesnt have fullName for the first time of login or update his/her username , ui should reflects the latest username and avatar

Actual behavio
Not updating the user information

[2016-12-01 07:24] Ritsyy commented on #536
@baijum can you give a more clear idea about the issue.
is the task related to #507 ?

[2016-12-01 08:28] baijum commented on #530
@naina-verma Someone from UX need to comment here.
@Mgranfie please suggest here.

[2016-12-01 12:14] #466 closed

[2016-12-01 13:25] michaelkleinhenz opened #538 "Determine Target Audience of the System"
We need to determine whcih target audience we aim for. This has influence on the architecture (OpenShift Dedicated, OpenShift Online, ...).

[2016-12-01 13:27] michaelkleinhenz opened #539 "Access to the almighty.io OpenShift for fabric8 deployment team"
We need to have access to the OS instance used by ALM for deploying fabric8. Determine the level of access with James/James.

[2016-12-01 13:29] michaelkleinhenz opened #540 "Provide full access to OS for the fabric8 release cluster"
We need to provide full access to the fabric8 team for the cluster that is used to build the fabric8 releases.

[2016-12-01 13:30] michaelkleinhenz opened #541 "Setup initial fabric8 on the OpenShift ALM instance"
Assigned to James.

We need to setup a first sandbox fabric8 instance on the ALM OpenShift instance.

[2016-12-01 13:32] michaelkleinhenz opened #542 "Build Architecture Model with fabric8 Integration"
We need to have an architectural overview of the build system with fabric8 integrated. Working document: https://www.lucidchart.com/invitations/accept/1831a7e3-f67f-45bb-88f7-7ea9ae9292dc

[2016-12-01 13:34] michaelkleinhenz opened #543 "Investigate fabric8 UI components and how to integrate them into UI"
We need to look over the current fabric8 UI, find out which components we use and how and how we can integrate them on tech level into ALM.

[2016-12-01 13:52] Mgranfie commented on #501
@nimishamukherjee this UI should not be a dialog, it should be a blank slide out work item, the same as when any work item is opened. Let em know if this is making sense. I will  get something sketched out today to get the conversation going and post here, will ping you... we can go from there?

[2016-12-01 16:00] mindreeper2420 commented on #543
@michaelkleinhenz you can remove me from this, as I will be away for 3 weeks out of the next 4

[2016-12-01 21:01] Mgranfie commented on #501
@nimishamukherjee @michaelkleinhenz please see the mock ups for add new full work item.

https://redhat.invisionapp.com/share/Y39KFTAE7

[2016-12-02 00:11] kbsingh commented on #540
Is there anymore context for this?

[2016-12-02 03:02] ldimaggi opened #544 "Issue with work-item-quick-add.component unit tests"
Seeing a problem with: work-item-quick-add.component.spec.ts

It doesn't look like fixture.detectChanges() is having any affect - the following 2 new (not yet committed) are not able to run successfully.

[code]

Result = Expected true not to be truthy.

[code]

Result = Expected undefined to be truthy.

In the existing tests - such as:

[code]

The expect statements can be run before any changes

[2016-12-02 06:11] kwk commented on #513
I'd say: yes we need it. For work item links I'm in the middle of reusing most of my controller and test code to implement CRUDL operations on /api/workitems/:id/relationships/links.

[2016-12-02 20:02] ldimaggi commented on #362
Closing a a duplicate of: https://github.com/almighty/almighty-ui/issues/201

[2016-12-02 20:02] #362 closed

[2016-12-05 10:07] tsmaeder commented on #510
Yes, projects instead of work items. Also, as the connection to work items will come later, there will be no "/project/x/workitems" urls yet.

[2016-12-05 12:25] kwk opened #549 "Evaluate if WIT hierarchies will benefit from Postgres' ltree extension"
Currently work item types store a name and a parent path. The parent path doesn't provide any form of referential integrity as it is just a text string.

For example:

[code]

The outcome of this issue should be an understanding of whether or not we can use and benefit from the Postgres [ltree extension](https://www.postgresql.org/docs/current/static/ltree.html) as explained in the last example of

[2016-12-05 15:37] aslakknutsen commented on #528
It makes little sense to split up this conversion job atm. I'll get List|Create|Update|Delete|Get converted over.

[2016-12-05 17:11] kwk opened #550 "When WIT of WI changes: what shall happen to existing WI links?"
When somebody updates the WIT of a WI,

* shall an existing link be deleted?
* shall the operation in total be blocked?

Depending on the solution, the question can be whether or not we want to handle this on the database level (through the use of `BEFORE` triggers on the `work_items` table) or on the application level by manually checking all existing links for the WI to be updated.

See also: ht

[2016-12-05 17:51] ldimaggi commented on #550
I think that if we enforce limits on the types of links that a user can define by creating new links, we should enforce the same limits when a user edits a workitem, and block the user from creating unsupported types of links.

[2016-12-05 18:23] kwk commented on #550
agreed

[2016-12-07 14:08] joshuawilson opened #557 "Create Platform UI Infrastructure"
As a developer I need some place to attach my project to.

The Core UI framework has all the build and structure in place to scale and be run in production.

[2016-12-07 18:54] ldimaggi commented on #542
Hey Michael,
Other than the pink box labeled "jenkins" - I don't see much of anything representing Fabrib8 in this diagram - am I missing anything? Thx!

[2016-12-08 00:26] #493 closed

[2016-12-08 02:19] aslakknutsen commented on #536
We should really introduce the concept of ReadOnly in the WorkItemType Fields here as well...

[2016-12-08 02:24] aslakknutsen opened #558 "WorkItemType Fields should support notion of ReadOnly"
The WorkItemType contain certain Fields that can only be set internally and should be ignored if attempted set via REST API.

Example:

* System.Creator
* System.CreatedAt

The most probable location would be on FieldDefinition:

[code]

[2016-12-08 13:44] kwk commented on #508
I wonder if this note from the user story is taken a bit to seriously here:

Especially the sentence

makes me wonder if it really is a good idea to store the order as an integer on the workitem itself.

## I don't think one int can help here.

How will a number be changed when moving items up an down in larger steps? For example, consider a work item list with just the IDs and the new order numbe

[2016-12-08 14:14] tsmaeder commented on #508
I think you're simply trading the complexity of insert for the complexity of searching: If you want to find the items nr 100-110 in the list, you'll have to fetch 110 items from the database.

[2016-12-08 14:18] kwk commented on #508
That's exactly why I wrote:

[2016-12-08 14:20] tsmaeder commented on #508
One idea is to play with the key length: thing of a numbered list:
1.
2.
3.

if you want to insert something between 1 and 2, you just make it 1.1:

1.
  1.1
2
3

This would keep inserts O(1). Of course, you'd have to rebalance the tree every once in a while in order to keep keys from becoming stupid long. You could select nodes for rebalancing relatively easily by selecting nodes by tree length

[2016-12-08 14:44] #509 closed

[2016-12-09 11:11] kwk opened #562 "Add pagination for work item links"
The title says it all.

[2016-12-09 12:08] #505 closed

[2016-12-09 12:27] kwk opened #564 "Add "links" element to work item link / type / category"
This is a reminder that I have to include "links" elements with correct URLs to the responses for work item links / type / categories.

[2016-12-09 13:38] kwk commented on #533
This wasn't completely done in #561

[2016-12-10 19:00] #536 closed

[2016-12-10 20:15] aslakknutsen commented on #528
Resolved as part of https://github.com/almighty/almighty-core/issues/526

[2016-12-10 20:15] #528 closed

[2016-12-11 00:20] ldimaggi commented on #363
Summary of planned tests:

**Test type 1 - Core Throughput**
- Tests will directly access REST endpoint URLs and bypass UI
- Tests will be implemented with https://www.perfcake.org/
- First test to be built will be that suggested by Max - CRUD operations on workitems run on a daily/hourly basis to track trends

[2016-12-11 13:18] aslakknutsen commented on #544
@ldimaggi This is UI, no?

[2016-12-11 13:23] aslakknutsen commented on #484
Duplicate; fixed by https://github.com/almighty/almighty-core/commit/ddf3b58fcf29629d2f1feea39e30c651eb9f6a1b

[2016-12-11 13:23] #484 closed

[2016-12-11 13:24] aslakknutsen commented on #472
Sprint is done. Closing

[2016-12-11 13:24] #472 closed

[2016-12-11 13:25] aslakknutsen commented on #470
Duplicate, fixed in https://github.com/almighty/almighty-core/commit/f196a84d28a590b63e731f26e41f61462aba862a

[2016-12-11 13:25] #470 closed

[2016-12-11 13:26] aslakknutsen commented on #438
Depends on https://github.com/almighty/almighty-core/issues/426

[2016-12-11 13:31] aslakknutsen commented on #303
Duplicate, https://github.com/almighty/almighty-core/issues/510

[2016-12-11 13:31] #303 closed

[2016-12-12 03:11] #534 closed

[2016-12-12 05:57] naina-verma opened #574 "Unbale to delete wokitems"
Unbale to delete wokitems , on http://demo.almighty.io/work-item-list
Steps to reproduce
- Try to delete new or already existing work item
- Expected : WI should deleted , Actual : Gives 404
`Request URL:http://demo.api.almighty.io/api/workitems.2/210
Request Method:OPTIONS
Status Code:404 Not Found
Remote Address:8.43.84.247:80
Response Headers
view source
Content-Encoding:gzip
Content-Length:130

[2016-12-12 06:42] naina-verma commented on #574
Reference to : https://github.com/almighty/almighty-ui/issues/498

[2016-12-12 06:42] #574 closed

[2016-12-12 08:28] baijum commented on #491
addressed here #547

[2016-12-12 08:28] #491 closed

[2016-12-12 10:16] ppitonak commented on #363
There is probably a typo here. Is the ratio 1:10 or 1:20?

[code]

Do you plan to run these tests in production-like environment, i.e. in OpenShift? If yes, how will be this environment provisioned? If no, how do we measure performance decrease caused by OpenShift itself?

[2016-12-12 12:54] baijum opened #576 "Authenticated user API should return JSON API"
The `/api/user` (GET) API end point should return JSON API.

[2016-12-12 13:18] ldimaggi commented on #363
I think that, in order to isolate any performance issues, we will have to test on both a physical network, and in a production/openshiift environment.

[2016-12-12 14:18] qodfathr opened #577 "The word 'project'"
Almighty has a very broad definition for the term 'project' -- it's essentially a ring fence around all of the development artifacts, work items, people, code bases, queries, report definitions, etc. related to the creation of one or more related pieces of software.

As a reminder, let's say a group of people (developers, testers, business analysis, operations, etc.) decides to create an online of

[2016-12-12 14:19] ppitonak commented on #363
Would it make sense to use some cloud provider (Blazemeter or similar) for perf testing until we prepare proper lab etc?

[2016-12-12 14:51] pmuir commented on #577
Good thoughts. Wondering if just like workspace / project we want a single
word e.g. collabspace?

On 12 December 2016 at 09:18, Todd Mancini <notifications@github.com> wrote:

[2016-12-12 14:53] maxandersen commented on #577
First off - Awesome topic - its been in my head for a great while!

Second, even before I made it to your segment on it "Collaboration" is what came my mind.
Third, I'm not sure why but "xyz Space" really have a negative connotation with me - partly because that is what "things" are called in mojo and in atlassian and was called in myspace :)

How about simply "Collaboration" ? The Online Office C

[2016-12-12 14:56] pmuir commented on #577
collaborative space?

On 12 December 2016 at 09:51, Pete Muir <pmuir@redhat.com> wrote:

[2016-12-12 14:59] pmuir commented on #577
Actually, the more I think about this, the more I like it, as we can
shorten to space, which implies more than planning I think.

On 12 December 2016 at 09:56, Pete Muir <pmuir@redhat.com> wrote:

[2016-12-12 14:59] qodfathr commented on #577
Well, @maxandersen , 'Collaboration' means 'the **action** of working with someone'. So I think we need another word to go with it. Space, Zone, Room, etc. Is there a word that does not give you hives?

I'm not against something like Collabspace, although it does feel a little awkward to say. (Maybe I just need to get used to it.)

@pmuir Collaborative Space also works -- but max seems to dislike

[2016-12-12 15:02] qodfathr commented on #577
FWIW, BlueMix uses a model of Account -> Region -> Organization -> Space. So when you deploy in BlueMix, you are deploying to a space. Common usage is to have 'dev' and 'prod' spaces, for example.

[2016-12-12 15:15] michaelkleinhenz commented on #577
I am usually sceptical when inventing new words for things that are already known. As you said, the work "project" pretty good describes the semantic entity. And that is a value, since there is a great deal of meaning already applied when naming something a "project" and that is a plus when explaining systems to people.

BUT: in this case, I also see the need for another word for "project" here. E

[2016-12-12 15:17] maxandersen commented on #577
I know, I was trying to make it a noun rather than just a verb.

I also like Journey but I know we used that for other concepts.

[2016-12-12 15:22] pmuir commented on #577
As a native english speaker, you want something that represents a physical
thing, rather than a metaphysical thing.

Space, zone, area, yard etc. are all physical

Collaboration, mission etc. represent metaphysical things.

For Michael's words - blueprint is good, but is typically a single thing
(i.e. the blueprint for the oil rig is the document that describes
structure of the oil rig, it's not t

[2016-12-12 15:39] maxandersen commented on #577
Yeah, that maps similar to what OpenShift call a OpenShift Project is my understanding, correct?

On 'Space' on its own I have much less concerns as a name, the only funky thing I can think of here is if it overlaps with 'namespace' but that is probably a lesser problem than with the superoverloaded 'Project' term.

[2016-12-12 16:23] qodfathr commented on #577
@maxandersen yeah, the BlueMix definition of project is similar to OpenShift. I think it's worth noting that, yes, 'space' and 'namespace' have the potential to be confused. I don't think it's a large concern, but absolutely valid and worth discussing.

@michaelkleinhenz the word 'blueprint' is likely going to be used by something else that gets integrated into our SaaS. (but not a topic for this

[2016-12-12 17:49] qodfathr commented on #577
My proposal is that we go with "collaboration space." Let's go with that for now and make the needed changes. I'll create a PR for the glossary.

[2016-12-12 17:49] #577 closed

[2016-12-12 22:01] #507 closed

[2016-12-13 09:55] vikram-raj opened #579 "system.created_at property missing on create work item response."
## Expected behavior

* Work item create API call should return **system.created_at** inside attributes.

## Actual behavior

*  Work item create API call doesn't return **system.created_at** inside attributes.

[2016-12-13 09:58] aslakknutsen opened #580 "WorkItem API does not return created-at on POST"
[code]

[2016-12-13 11:08] baijum commented on #579
Same as #580 , right?

[2016-12-13 11:15] vikram-raj commented on #579
Yes

[2016-12-13 11:18] #579 closed

[2016-12-13 11:37] baijum opened #582 "Remote item fetching after the initial fetch should only fetch modified items"
## Expected behavior

Remote item fetching after the initial fetch should only fetch modified items

## Actual behavior

Every time the same items are retrieved without considering it's modified or not

[2016-12-13 19:43] ldimaggi commented on #363
Basic perfcake scenario to create workitems:

[code]

[2016-12-14 02:37] #580 closed

[2016-12-14 05:20] baijum commented on #582
@aslakknutsen I have created a PR (#585) to make use the Sort by updated and Order desc for Github. This is part of the REST API provided by Github and query itself. I think this should be good enough for Github. It is possible to modify the search input provided by the user, but I am afraid it may override the ident of the user sometimes.

In the case of Jira, there is no such API. Modifying the

[2016-12-14 07:06] kwk opened #586 "disallow creation of the same link multiple times"
TBD

[2016-12-14 10:38] naina-verma opened #588 "Unable to do patch request from curl"
Unable to do patch request from curl. It works fine with UI only troubling during Curl or postman request.
@baijum , can you please look into it.

[2016-12-14 11:24] baijum commented on #588
PATCH should work if you pass all necessary arguments.  Here is an example, using curl.

If the developer mode is enabled, you can generate a set of tokens like this:
[code]

set the token to an environment variable for convenience, say `TKN`.

Here is an example PATCH call.

First call the URL and set the version to an environment variable for convenience, say `VRSN`
[code]

Now you can run the c

[2016-12-14 11:57] naina-verma commented on #588
@baijum , Thanks that helps !!

[2016-12-14 11:57] #588 closed

[2016-12-14 18:03] xcoulon commented on #537
Hello @naina-verma I'm just getting started with this issue and I need some clarification: do you mean that we should collect the data from the user's profile on github.com when he/she logs in the platform or update his/her username ?

[2016-12-14 20:56] #564 closed

[2016-12-15 01:40] aslakknutsen commented on #582
Duplicate https://github.com/almighty/almighty-core/issues/372

[2016-12-15 01:41] aslakknutsen commented on #372
Duplicate https://github.com/almighty/almighty-core/issues/582

[2016-12-15 01:41] #372 closed

[2016-12-15 04:03] #576 closed

[2016-12-15 05:59] naina-verma commented on #537
@xcoulon , Yes. Let me rephrase it.
- user logged in to alm-ui first time with username "x", alm stores its username ,avatar etc.. in some table.
- now, user changed username from "x" to "y" and avatar also, alm-ui still shows up old username "x" and avatar , which shouldn't be the case.

[2016-12-15 20:01] Essjaysee commented on #504
@michaelkleinhenz Just making sure I'm clear: on # 4, you mention "The user can navigate to the detail view from the list", do you mean the detail view of the epic itself or of a work item that is associated with the epic?

[2016-12-15 21:12] #586 closed

[2016-12-15 22:10] kwk commented on #533
Except for WITs, everything is included now.

[2016-12-15 22:10] #533 closed

[2016-12-15 23:35] aslakknutsen opened #592 "Move 'configuration' from global state to a initialized object"
The usage of code similar to this scattered around the test suite are causing some random failures:

[code]

## Theory

'configuration' is currently held as global state but needs to be initiated. Somewhere along the lines of global shared state, initialization requirements, tests wanting to be self contained and parallelizem we run into problems.

See https://github.com/almighty/almighty-core/pul

[2016-12-16 00:20] #510 closed

[2016-12-16 00:26] alexeykazakov opened #593 "Investigate possible use of Keycloak in Platform Authentication service"
We need to investigate features available in Keycloak to see if we can use it for authentication in Platform.

[2016-12-16 08:43] sbose78 commented on #592
@aslakknutsen
Sorry for being repetitive, but I'm trying to understand why we are doing this.
Do you think there's a problem with some parts of the code not being able to read the config when run as self-contained tests ? I did the following to check the same..

I added a print statement to see what's going on while reading the rsa keys from config:
[code]

When I run the integration tests this ge

[2016-12-16 09:32] sbose78 commented on #592
Hi @aslakknutsen ,
Do you imply that the configuration initialization as done in `main.go`
[code]
should be done in test suites as well ( in a modular fashion of course ) ?

[2016-12-16 21:36] aslakknutsen commented on #577
While "Collaboration space" might work fine for an Organization (tho personally it sounds more like a Forum, or a Sharepoint 'space' than a Project to me...), what about as a Personal user?

/RedHat/RHEL

vs

/AslakKnutsen/MyThing

Would I, as a user, login into 'almighty' on my account and create a collaboration space to collaborate with myself ?

[2016-12-16 23:13] qodfathr commented on #577
Would you prefer we just call it a Space?

[2016-12-17 00:00] aslakknutsen commented on #577
Space would at least match better with 'my own stuff', but I agree it has some baggage with it. Workspace is a fairly known term from IDEs to be 'multiple projects/code bases'.

But.. that's under the assumption that a User == Org as far as the level they have access to. Maybe a User == Space instead.

When I create an Org I can create many Spaces. When I 'create' a User I have a Personal Space.

[2016-12-17 00:42] pmuir commented on #577
Btw don't forget that MySpace is already copyrighted ;-)

On 16 Dec 2016 7:00 p.m., "Aslak Knutsen" <notifications@github.com> wrote:

[2016-12-17 02:10] qodfathr commented on #577
A user can create multiple spaces -- not just one. If I've got two different things I'm working on - say a video game and an Eclipse plug-in - I'd likely create 2 different spaces under my userid. And if I then want you to help out with the game, I'd invite you to that space.

Workspace doesn't work mainly because Che brings its own definition of workspace and it would confusing. This PR started t

[2016-12-18 23:45] aslakknutsen commented on #592
@sbose78 We should initialize it like:

[code]

That way at least we can be sure that it's our configuration object we're using and noone has ran a 'setup' in parallel with another config file or similar.

[2016-12-19 09:06] Ritsyy opened #599 "Convert PDD to WorkItems"
We need a parsable format of PDD to import it as workitems.

[2016-12-19 12:00] aslakknutsen commented on #577
We can call it 'space' on API level. Then whether it's called Collaboration or Fabrication is a UI thing.

?

[2016-12-19 12:01] aslakknutsen opened #601 "Rename Project to Space"
Related to https://github.com/almighty/almighty-core/issues/577

[2016-12-19 12:56] aslakknutsen commented on #511
Depends on #601

[2016-12-19 13:23] qodfathr commented on #577
@aslakknutsen That makes sense.

[2016-12-19 21:29] pmuir commented on #577
URLs in the UI are also calling it space.

Suspect this is like Red Hat JBoss EAP vs EAP :-)

On 19 December 2016 at 08:23, Todd Mancini <notifications@github.com> wrote:

[2016-12-20 08:45] michaelkleinhenz opened #603 "Planner as a NPM Module"
# Description

As a developer, I want to use the Planner module as an NPM-based module for Angular2 projects.

# Functional Acceptance Criteria
1. The frontend (Angular2) components of the Planner project includes all necessary files and configurations to be used as a NPM package.
1. The package is available thru NPM and can be pulled into another Angular2 project.

# Non-functional Acceptance Cri

[2016-12-20 08:57] michaelkleinhenz opened #604 "Feature Toggle in the Frontend"
# Description
As a developer, I want to be able to toggle unstable or not accepted features in the frontend on runtime.

# Functional Acceptance Criteria
1. The frontend contains a mechanism that enables an on/off toggle of UI features that are marked at development time.
2. The toggle can be used at runtime.
3. The toggle can **not** be used by the user by means of a UI setting (like a "Beta" swi

[2016-12-20 09:00] michaelkleinhenz opened #605 "Integration of Platform UI and Planner"
# Description
As a developer, I want to have the Planner component integrated with the Platform UI and be able to build a release that includes both.

# Functional Acceptance Criteria
1. Platform UI is the lead project.
2. Building Platform UI pulls in the Planner component via NPM.
3. The resulting build artifact contains a runnable ALM release.

# Non-functional Acceptance Criteria
None.

# Rela

[2016-12-20 09:04] michaelkleinhenz opened #606 "New Build System for Angular2 projects"
# Description
As a developer, I want to use a concise, current build system for building Angular2 modules.

# Functional Acceptance Criteria
1. The frontend (Angular2) components are built using a up-to-date, flexible build system.
2. All ALM Angular2 projects are using the same build system.

# Non-functional Acceptance Criteria
1. There is a documentation on building artifacts and customizing bu

[2016-12-20 09:30] sbose78 commented on #604
By 'easy to use for developers', do you mean "a privileged user who is tasked with maintaining the system and can flip flags to toggle a feature" ?

[2016-12-20 09:39] sbose78 commented on #603
LGTM.

[2016-12-20 09:45] sbose78 commented on #605
Hi @michaelkleinhenz , Is this just a build/packaging integration ?
If yes, we should update the title.

The title gave me a sense that we are looking to integrate a working planner UI with the platform UI, as part of this story. That could need some refactoring to make it work seamlessly ( Im guessing :) ) .

[2016-12-20 15:10] maxandersen commented on #605
I assume this require packaging and distributing a npm "somewhere" ?

[2016-12-20 15:12] ldimaggi commented on #603
Will all the (other) projects also be implemented as npm modules? Is this the new standard? Thx!

[2016-12-20 16:26] ldimaggi commented on #604
Just to confirm - this is a system-wide switch - that affects all users. Individual users will not be able to select this, correct?

[2016-12-20 17:01] pmuir commented on #604
@michaelkleinhenz additional acceptance criteria:

* Toggling on/off features does not require writing code of any sort, only data

[2016-12-20 17:07] #601 closed

[2016-12-20 21:54] Essjaysee commented on #378
@joshuawilson @aslakknutsen @maxandersen @michaelkleinhenz  Wireframes for iterations: https://redhat.invisionapp.com/share/KA9CAYL7M

[2016-12-20 21:54] Essjaysee commented on #409
@joshuawilson @aslakknutsen @maxandersen @michaelkleinhenz  Wireframes for iterations: https://redhat.invisionapp.com/share/KA9CAYL7M

[2016-12-20 21:55] Essjaysee commented on #410
@joshuawilson @aslakknutsen @maxandersen @michaelkleinhenz  Wireframes for iterations: https://redhat.invisionapp.com/share/KA9CAYL7M

[2016-12-20 21:55] Essjaysee commented on #411
@joshuawilson @aslakknutsen @maxandersen @michaelkleinhenz  Wireframes for iterations: https://redhat.invisionapp.com/share/KA9CAYL7M

[2016-12-20 21:55] Essjaysee commented on #412
@joshuawilson @aslakknutsen @maxandersen @michaelkleinhenz  Wireframes for iterations: https://redhat.invisionapp.com/share/KA9CAYL7M

[2016-12-21 11:31] michaelkleinhenz commented on #499
Completed in Sprint#124.

[2016-12-21 11:31] #499 closed

[2016-12-21 11:32] michaelkleinhenz commented on #500
Completed in Sprint#124.

[2016-12-21 11:32] #500 closed

[2016-12-21 11:32] michaelkleinhenz commented on #526
Completed in Sprint#124.

[2016-12-21 11:32] #526 closed

[2016-12-21 11:32] michaelkleinhenz commented on #342
Completed in Sprint#124.

[2016-12-21 11:32] #342 closed

[2016-12-21 11:32] michaelkleinhenz commented on #503
Completed in Sprint#124.

[2016-12-21 11:32] #503 closed

[2016-12-21 12:38] maxandersen commented on #599
If using google docs as source maybe a google script is enough ? See https://github.com/maxandersen/gdoc2adoc

[2016-12-21 13:13] xcoulon opened #609 "Bug in `workitemtype_repository.Create(...)` method"
## Expected behavior

should create a Work Item Type by extending an existing WIT identified by the `name` given in parameter

## Actual behavior

the function creates a new Work Item Type that extends an existing type, but not necessarily the one identified by the given `name` argument

## Steps to reproduce the problem

Create a WIT using the [Developer Setup ](https://github.com/almighty/almigh

[2016-12-21 14:17] michaelkleinhenz opened #611 "Evaluate possible Feature Toggle solutions"
Evaluate and choose a solution for the feature toggle.

- Is the feature toggle at runtime or at launchtime?
- Which tech is the best solution?

Possible solutions: runtime by CSS class, runtime by Angular facility, launchtime via env variable, ...

[2016-12-21 14:18] michaelkleinhenz opened #612 "Implement Feature Toggle Solution as a framework"
Implement the feature toggle solution selected as a framwork, providing the toggle to components.

[2016-12-21 14:19] michaelkleinhenz opened #613 "Implement Reference Samples for the Feature Toggle"
Use the feature toggle solution implemented to provide a sample integration with an example element to be toggled.

[2016-12-21 14:20] michaelkleinhenz opened #614 "Document the Feature Toggle Solution for external Devs"
Document the implemented feature toggle solution and the example so it can be used by other developers. Keep in mind that this might be a platform feature that might be used outside of the Planner component. So keep the documentation encapsulated and put some generic samples on it.

[2016-12-21 14:22] michaelkleinhenz opened #615 "Implement NPM Package Configurations and Required Code Changes"
Package the Planner component as a NPM package.

[2016-12-21 14:23] michaelkleinhenz opened #616 "Update Build Process for NPM Packaging/Deployment"
Update the existing build process to be prepared for a NPM repository release.

[2016-12-21 14:25] michaelkleinhenz opened #617 "Integrate NPM Build/Deployment into CI/CD"
Use the implemented NPM packaging to integrate into the existing CI/CD so that the Planner gets built and uploaded to a NPM repository.

[2016-12-21 14:35] qodfathr commented on #409
Thanks, @Essjaysee . A few comments:

1. The two most important aspects of an iteration are the name and the (optional) dates. The first create dialog box should have those two elements. (i.e.., if you are trying to keep the dialog to 2 elements, Dates are far more important than Description.)
2. Once an iteration has been set with dates (e.g., a 2 week sprint), that 'model' can be used to default

[2016-12-21 16:14] aslakknutsen commented on #324
Yeah, same same

On Wed, Dec 21, 2016, 16:33 Sudipta Sen <notifications@github.com> wrote:

[2016-12-21 16:19] aslakknutsen commented on #599
We really need a program readable format, not another open ended markup
language...

On Wed, Dec 21, 2016, 13:38 Max Rydahl Andersen <notifications@github.com>
wrote:

[2016-12-21 16:49] mindreeper2420 commented on #498
@michaelkleinhenz @michaelvirgil @Mgranfie @nimishamukherjee I just wanted to clarify the desktop visual that I shared on this - even though the wireframe is based on the Self Service UI, it is a pattern that will be added to PatternFly. The methodologies, interactions, and layouts (specifically for the Cards and List View) are the key focus points.

[2016-12-22 10:26] xcoulon opened #618 "Retrieving HTML rendered description of work-items"
[Opening the issue for discussion]

ALM Core should be able to return work item descriptions in HTML rather than in their input format (markdown, asciidoc, etc.). This has already been discussed in #98.
For remote work items, the description is currently retrieved in its 'raw' form (ie, Markdown for GitHub and WikitText for JIRA), but with some slight changes in the way the requests are emitted, w

[2016-12-22 10:38] xcoulon opened #620 "Render the description in HTML using asciidoctor"
The work item descriptions are input using the Asciidoc markup language, but the platform should be able to render it in HTML so that the UI can display it.

This issue is related to #98

[2016-12-22 11:48] baijum commented on #618
Retrieving HTML and rendering it as such is going to be secure?

[2016-12-22 14:15] baijum opened #621 "Replace app.WorkItem & app.WorkItemType with workitem.WorkItem and workitem.WorkItemType respectively in workitem package"
The "workitem" package should not use "app.WorkItem" and "app.WorkItemType". Rather it should directly use the "workitem.WorkItem" and "workitem.WorkItemType". The conversion between the model & app types can be performed in the controllers (main package).

[2016-12-22 19:08] ldimaggi opened #622 "Feature request - A verbose/debug mode for the server"
## Expected behavior
- In the course of writing some automated tests, I encountered a problem (possibly a user error, but that is beside the point ;-) that resulted in a server error.
- An error code of 500 was returned, but additional details were not logged by the server. I expected to find a server configuration option that would enable me to generate a more verbose server log to support debugg

[2016-12-22 19:29] Essjaysee commented on #502
Wireframes for epics: https://redhat.invisionapp.com/share/QU9U8D8GF

There are still a couple items I need to address, so please ask questions, and I'll get to them when I return from shut down.  Thanks!

@michaelkleinhenz @maxandersen @aslakknutsen @joshuawilson

[2016-12-22 20:47] kwk commented on #622
@ldimaggi Can you please tell how to run your tests?

[2016-12-22 21:03] ldimaggi commented on #622
Sorry about that - these tests use the GoDog framework.  Just install GoDog and then run the "godog ." command in the same dir as the tests. Thx!

[2016-12-23 05:28] baijum opened #623 "Created date is set to wrong value during work item update"
## Expected behavior

When updating an existing work item, the created date should not be changed.

## Actual behavior

When updating an existing work item, the created date is changed.

## Steps to reproduce the problem

1. Create a new work item and note down the created time
2. Update the title/description of the same work item

[2016-12-23 05:44] nimishamukherjee opened #624 "Display Work Item in a Board View"
# Description

As a user, I want to see the current work items in a board view and do operations on them.
# Functional Acceptance Criteria
1. The board view is classified based on work item state.
2. Work items are displayed in a board view, with title, type, for each list item (work item).
3. Each work item will be displayed on a Card (Patternfly Card View)
4. A card can be dragged and dropped ac

[2016-12-23 13:32] xcoulon commented on #618
@baijum, could you explain in more details which security concerns you have, please ?

[2016-12-23 13:37] baijum commented on #618
@xcoulon Let's say there is a malicious JS embedded in the HTML and it is executed in the context of ALM client side. Well, I am not really a security guy, just a thought.

[2016-12-23 15:53] xcoulon commented on #618
I understand your concern, but if the source of HTML is GitHub or JIRA
themselves, can't we trust them ? Also, I'm confident it would be possible
to convert the markdown flavor used on GitHub, but I have no idea if JIRA
WikiText/HTML converter is open source or not.

On Fri, Dec 23, 2016 at 2:37 PM, Baiju Muthukadan <notifications@github.com>
wrote:

--
Best regards,
/Xavier

[2016-12-26 06:38] #623 closed

[2016-12-27 09:03] aslakknutsen commented on #537
The previous fix only stores the Identity that was found to belong to the User with the given primary email. No update of the Identity data based on the new GitHub data is performed;
https://github.com/almighty/almighty-core/blob/master/login/service.go#L117

[2016-12-28 05:37] pranavgore09 commented on #468
#626 is PR for CREATE API.
Once this is merged or approved I would like to go for remaining APIs.
This is to keep PR small and concise enough to make better for review. I can work on other APIs in different PR but most of the stuff will common/duplicate.
Till then I will keep updating as per review comments on #626 and will take up another task.
@baijum @aslakknutsen will this be fine ?

[2017-01-03 08:12] pranavgore09 commented on #468
List and Show APIs are done [here](https://github.com/pranavgore09/almighty-core/tree/iss-468-1)
I will create new PR once #626 is merged to master.

[2017-01-03 09:51] baijum opened #628 "Update comment"
REST API to update comment

[2017-01-03 15:17] mindreeper2420 commented on #498
@michaelkleinhenz @joshuawilson I spoke with some on the PatternFly team who work on the Angular project, and this was used as part of the Services UI (what the visuals use as well): http://codef0rmer.github.io/angular-dragdrop/#!/ . Not sure if that helps or not, but it is as far as it has gotten to this point.

[2017-01-04 06:51] sbose78 commented on #593
Hi @alexeykazakov and @aslakknutsen ,

I was taking a look at what keycloak does and came across this GH issue which tracks the possible use of keycloak.

I had a few points/questions in my mind and would like some discussion around it -

- Would we be adding identity providers like Github,Openshift to Keycloak ?

- If yes, would the flow be like

- Does Keycloak have a list of supported external

[2017-01-04 08:41] naina-verma opened #630 "No validation when linked item is deleted"
There should be validation for such cases
- Link Planner item to Bug , And delete the Bug : It should show the validation message to Unlink the Bug first from planner item , then delete the Bug.
- Vice verse , if some thing is linked and we want to delete it , it should be validated at API level , to unlink first and then delete

[2017-01-05 15:47] kwk opened #631 "Disallow changing a work item's type"
With respect to https://github.com/almighty/almighty-core/pull/595#issuecomment-270675818 we should disallow changing a work item's type via the REST interface.

[2017-01-06 09:32] xcoulon opened #634 "Render the description in HTML using Markdown"
Related to #620, but here, we should support the Markdown markup language by relying on a Go library to process the raw work item description and get an HTML output.

In the future, the rendering should be delegated to an external service with support for other markup languages, especially Asciidoc.

[2017-01-06 11:02] xcoulon opened #635 "Add an endpoint to render markup content in HTML in 'preview' mode"
Once the work on #634 is done and the work item description can be rendered in HTML (using the Markdown markup language for now), we should expose an endpoint in the API to allow for a 'preview' of the description, so the user can see how it will render before submitting changes in the work item.
The endpoint should be generic, in order to also support rendering of work item comments once they als

[2017-01-06 13:43] aslakknutsen opened #637 "WorkItem Search for "(16)" fail unexpectedly with 500 error"
[code]

[2017-01-06 13:57] sanbornsen commented on #475
I think this issue is completer. Can we close this? @aslakknutsen @kwk

[2017-01-06 16:24] michaelkleinhenz commented on #516
Obsolete.

[2017-01-06 16:24] #516 closed

[2017-01-06 16:24] michaelkleinhenz commented on #517
Obsolete.

[2017-01-06 16:24] #517 closed

[2017-01-06 16:31] michaelkleinhenz opened #638 "Updated Build System for Planner"
# Description
As a developer, I want to have a stable development and deployment environment for the library version of the Planner component.

# Functional Acceptance Criteria
1. The Planner can be built as an integration library/component that can be used by external Angular 2 applications.

# Non-functional Acceptance Criteria
1. There is an easy to setup and use way to code-iterate over the Pl

[2017-01-06 17:33] ldimaggi commented on #363
**Update - January 6, 2017 - Steps to perform:**

- The test requires a full core/server install:
git clone git@github.com:almighty/almighty-core.git
make deps
make dev

- Perfcake must also be installed
Java must be installed first
Download Perfcake binary - https://www.perfcake.org/download/
Download this Perfcake config file - https://github.com/ldimaggi/perfcake/blob/master/http-post-reporting

[2017-01-07 06:00] sanbornsen opened #639 "New way to display work item associations in details view"
**Reference:** 1608E102/1608E063
``` Note: This is an extension of story #306 ```
# Description
As a user, I want to be able to see and drill down into an associated work item details on a work item detail view.

# Functional Acceptance Criteria
1. The user can see a list of associated/linked work items.
2. Associated work item entries are presented with id, title and the type of association in a

[2017-01-07 06:06] sanbornsen commented on #639
# Questions
* Can one link type has multiple source types and target types?
* What happens if the reverse name and forward names are same for a link type? I believe in that case all the source and destinations should be same in such kind of link types. For example, for a link type **relates to** where the forward name and backward name is both **relates to**, the source and destination work item t

[2017-01-07 06:07] sanbornsen commented on #639
@kwk @aslakknutsen please comment.

[2017-01-07 06:08] sanbornsen commented on #639
@Mgranfie @mindreeper2420 any update on the new Wireframe / Visuals for linking? Please provide an issue number if you have any in UX.

[2017-01-09 04:59] pranavgore09 commented on #637
It fails primarily because of un-escaped braces.
Adding a test case to expose this bug and then fix it.

[2017-01-09 06:43] pranavgore09 commented on #637
PR #640

[2017-01-09 11:23] kwk opened #641 "Proposal: Use github.com/pkg/errors wherever possible to enhance debugging experience"
I ran into some problems lately and couldn't find out easily what caused an error.

We embraced the idiom of checking for errors and passing them on. For example:

[code]

The caller of `foo()` might have a hard time finding out when the returned error is `"No such file or directory"` because we don't have any information on the context of the error any longer.

A very flexible solution, that is a

[2017-01-09 12:03] kwk commented on #641
Oh, we can still check for the original cause of an error by calling `Cause(err)` which will return the error that "will recursively retrieve the topmost error which does not implement causer, which is assumed to be the original cause".

[2017-01-09 12:39] michaelkleinhenz commented on #639
This issue was moved to fabric8io/fabric8-planner#644

[2017-01-09 12:44] michaelkleinhenz commented on #638
This issue was moved to fabric8io/fabric8-planner#645

[2017-01-09 12:45] michaelkleinhenz commented on #409
This issue was moved to fabric8io/fabric8-planner#646

[2017-01-09 12:46] michaelkleinhenz commented on #410
This issue was moved to fabric8io/fabric8-planner#647

[2017-01-09 12:46] michaelkleinhenz commented on #412
This issue was moved to fabric8io/fabric8-planner#648

[2017-01-09 12:48] michaelkleinhenz commented on #358
This issue was moved to fabric8io/fabric8-planner#650

[2017-01-09 12:48] michaelkleinhenz commented on #348
This issue was moved to fabric8io/fabric8-planner#651

[2017-01-09 12:48] michaelkleinhenz commented on #349
This issue was moved to fabric8io/fabric8-planner#652

[2017-01-09 12:48] michaelkleinhenz commented on #351
This issue was moved to fabric8io/fabric8-planner#653

[2017-01-09 12:48] michaelkleinhenz commented on #350
This issue was moved to fabric8io/fabric8-planner#654

[2017-01-09 12:48] michaelkleinhenz commented on #463
This issue was moved to fabric8io/fabric8-planner#655

[2017-01-09 12:48] michaelkleinhenz commented on #464
This issue was moved to fabric8io/fabric8-planner#656

[2017-01-09 12:49] michaelkleinhenz commented on #502
This issue was moved to fabric8io/fabric8-planner#657

[2017-01-09 12:50] michaelkleinhenz commented on #504
This issue was moved to fabric8io/fabric8-planner#658

[2017-01-09 12:50] michaelkleinhenz commented on #339
This issue was moved to fabric8io/fabric8-planner#659

[2017-01-09 12:50] michaelkleinhenz commented on #338
This issue was moved to fabric8io/fabric8-planner#660

[2017-01-09 12:50] michaelkleinhenz commented on #340
This issue was moved to fabric8io/fabric8-planner#661

[2017-01-09 12:51] michaelkleinhenz commented on #317
This issue was moved to fabric8io/fabric8-planner#662

[2017-01-09 12:51] michaelkleinhenz commented on #336
This issue was moved to fabric8io/fabric8-planner#663

[2017-01-09 12:51] michaelkleinhenz commented on #299
This issue was moved to fabric8io/fabric8-planner#664

[2017-01-09 12:51] michaelkleinhenz commented on #310
This issue was moved to fabric8io/fabric8-planner#665

[2017-01-10 08:49] Ritsyy commented on #599
The task has been done here [PDD parsing script](https://github.com/Ritsyy/JSONParsing-PDD/blob/master/parse.py)

[2017-01-10 08:49] #599 closed

[2017-01-10 10:54] #637 closed

[2017-01-10 14:08] kwk commented on #622
@ldimaggi I will come back to this bug at least for debugging the core in case of an error bubbling up we I have been working on a fix that keeps track of the stack: https://github.com/almighty/almighty-core/pull/642

[2017-01-10 18:19] ldimaggi commented on #622
Thx Konrad!

On Tue, Jan 10, 2017 at 9:08 AM, Konrad Kleine <notifications@github.com>
wrote:

--
Len DiMaggio (ldimaggi@redhat.com)
JBoss by Red Hat
314 Littleton Road
Westford, MA 01886  USA
tel:  978.392.3179
cell: 781.472.9912
http://www.redhat.com
http://community.jboss.org/people/ldimaggio

[2017-01-10 22:08] aslakknutsen commented on #618
@xcoulon Maybe Mylyn Confluence Wiki support would work for Jira? https://blog.oio.de/2012/03/21/mylyn-wikitext-an-open-source-library-for-handling-wiki-markup/

[2017-01-10 22:09] aslakknutsen opened #644 "Assignees from Remote Imported Issues come out as "<nil>""
[code]

[2017-01-11 04:18] pranavgore09 commented on #644
It is failing while `set assignee` because DB also says `<nil>`
[code]

[2017-01-11 11:20] pranavgore09 commented on #644
@aslakknutsen I cleared my DB for some other reason. And when I am trying now, unable to reproduce this issue.
I tried using `postman` and `Planner-UI` to set assignee and fetch item. It worked normal.
Can you please let me know steps to reproduce ?

[2017-01-11 12:55] aslakknutsen commented on #644
I used the tracker to import the following: https://github.com/almighty/almighty-core/pull/585#issuecomment-271710258

[2017-01-11 13:37] kwk commented on #639
@sanbornsen

This doesn't really matches the issues title which starts with "Display...". But anyhow...

---

@sanbornsen

This is a good question. To answer it we have to decide on how we want to expose work item types (WITs) in the UI. For the core, each WIT has a path (e.g. `system.bug` has the path `/system.planneritem/system.bug`) that describes some form of hierarchy. Correct me if I'm wrong

[2017-01-11 15:10] kwk opened #647 "Replace TestMain() functions"
We have some TestMain() functions in our tests that all do different things. Some of them even create a package global DB variable which is not a good thing to do. Instead we should use something like `github.com/almighty/almighty-core/gormsupport/db_test_suite.go`.

Currently the order in which packages are tested matters and it really shouldn't so the replacement of TestMain() should be somewhat

[2017-01-11 15:43] sbose78 opened #648 "Platform/Core : Rest Service for Area"
**Data model**

The model is identical to Iterations except Area only has a name, no start/end date)
It's hierarchical structure that belongs to a Space and can be attached to a WorkItem.

**Actions**

- Create
- List
- Create Child
- Update
- Delete
- Associate with WorkItem
- Filter WorkItems

[2017-01-11 15:45] kwk commented on #639
After talking to @aslakknutsen we have decided to provide with UI a list of WILTs where can be used to create a link with the current work item as the source. Also we will be providing a list of WILTs that can be used to create a link with the current work item as the target. That way the UI can transparently handle types.

[2017-01-11 17:04] aslakknutsen commented on #648
Actions not available on the Area Service
* Associate with WorkItem
* Filter WorkItems

[2017-01-12 10:17] xcoulon opened #650 "Clarify the layers and avoid the confusing 'model' term"
The term 'Model' in some functions (eg: `ConvertToModel` and `ConvertFromModel`) brings confusion because it's somehow too generic: each layer has its own model. If we consider that the application is built upon 2 layers: the REST/API layer and the Persistence layer (maybe more, but let's focus on those 2 ones for now), then it could make sense to talk about API model and Persistence model.

Could

[2017-01-12 23:17] alexeykazakov opened #653 "Use keycloak for authentication"
We need to use our keycloak instance for authentication with developers.redhat.com as the main Identity Provider.

[2017-01-13 18:51] alexeykazakov commented on #593
@sbose78 sorry for the late answer. And you probably already got answers to your questions but anyway... ;)
We are going to use RHD as our main Identity Provider. All social logins should be provided via RHD. Not directly to our Keycloak but as follows: Our Keycloak instance -> RHD -> Social IDP like github, twitter, etc.
RHD already requires updating user's profiles after social registration.
It'

[2017-01-13 18:55] alexeykazakov commented on #593
Related to https://github.com/almighty/almighty-core/issues/653

[2017-01-17 08:28] #628 closed

[2017-01-18 06:03] sanbornsen opened #659 "GET - spaces :: Space model should have GET - iteration URL in it's link"
## Expected behavior
The response format for space should look like -
[code]

## Actual behavior
[code]

[2017-01-18 06:04] sanbornsen commented on #659
@aslakknutsen @kwk please verify if this issue makes sense.

[2017-01-18 08:17] kwk commented on #659
@sanbornsen I'd say that iterations shall be in a `relationships` and not in the `links`.

[2017-01-18 09:02] pranavgore09 commented on #659
yes @kwk I am going to add it in ->
`relationships->space->links->related`

[2017-01-18 14:00] sbose78 opened #661 "Platform User service for authentication and authorization - Requirements"
**Capabilities**

The platform user service is a REST service which will be tasked with expose endpoints for

1. Handle Authentication : User Login using Keycloak + RHD
2. Handle Authorization : Handle the token acquisition workflow which will allow fabric8online to use Openshift/Github tokens.

Details of the above below..

****Authentication****

1. UI talks to Platform user service with a login

[2017-01-18 14:16] kwk commented on #661
As discussed we would prefer the Keycloak storage if available.

[2017-01-18 14:17] kwk commented on #659
@pranavgore09 sound more analog to what we're doing now.

[2017-01-18 14:25] alexeykazakov commented on #593
Replaced by https://github.com/almighty/almighty-core/issues/661

[2017-01-18 14:25] #593 closed

[2017-01-18 14:27] alexeykazakov commented on #653
Related to https://github.com/almighty/almighty-core/issues/661

[2017-01-18 17:05] alexeykazakov commented on #661
For accessing GitHub and OSO we will use proxies. For example when Forge needs to access GitHub it doesn't send requests to GitHub. It uses our GitHub proxy using Keycloak Token instead of accessing GithHub directly. The Proxy swaps the tokens (Keycloak<->GitHub) in the forge requests and forwards this request (with GitHub token instead of the Keycloak ones) to GitHub. So the client (Forge in our

[2017-01-19 09:10] kwk commented on #54
For just debugging: https://github.com/almighty/almighty-core/blob/8da9223e071a50cb96d5c58009abcb8d57a6e11a/docs/development/debugging.adoc#debugging

[2017-01-19 09:10] #54 closed

[2017-01-19 09:11] kwk commented on #53
Closing because it doesn't seem to be of any relevance any longer.

[2017-01-19 09:11] #53 closed

[2017-01-19 09:26] kwk commented on #550
We agreed to now allow changing a WI's type; hence this can be closed.

[2017-01-19 09:26] #550 closed

[2017-01-19 09:53] VineetReynolds opened #664 "GET spaces - User-centric listing of spaces"
## Expected behavior

The fabric8-ui however requires a listing of spaces that the user is collaborating on.

Based on actual behavior of `GET /api/spaces`, it would be better to have a separate resource collection with a GET operation, like `GET /api/users/<uid>/spaces` or some other resource, that would provide a user-centric listing of the spaces the specified user is collaborating on.

## Actu

[2017-01-19 11:02] baijum commented on #664
@VineetReynolds you can move this issue to this repo: https://github.com/fabric8io/fabric8-planner/issues

[2017-01-19 11:26] aslakknutsen commented on #664
@baijum This is not a Planner UI issues, it's a Platform 'Space API' issue that doesn't meet the needs of the UI

[2017-01-19 11:29] VineetReynolds opened #665 "Create and editing spaces - store and update space's description"
## Expected behavior

This is a desired feature for the platform-backend.

When creating new spaces or updating existing ones, the `description` of the Space needs to be captured, in addition to other attributes like `name`. `description` is a user/client-editable attribute.

## Actual behavior

No description is captured currently during `POST /api/spaces`, or in `PUT /api/spaces`.