[2018-06-25 13:01] jarifibrahim commented on #2128
@kwk, can I take this up? I know which test isn't cleaning up the spaces/workitems.

[2018-06-26 07:43] #2131 closed

[2018-06-26 08:40] #2128 closed

[2018-06-27 08:45] jarifibrahim opened #2134 "make test-[unit|integration|remote] doesn't run tests in application package"
## Expected behavior
make test-[unit|integration|remote] should run tests in `application/` package.

## Actual behavior
The tests inside `application/` package are not executed

## Steps to reproduce the problem
1. Add/change any test in `application/` directory
2. Run `make test-integration`

[2018-06-28 06:48] #2134 closed

[2018-07-03 06:12] jarifibrahim commented on #2102
Closing this issue as the current implementation of `NullUUID` is **NOT** exactly similar to `uuid.NullUUID` and moving to `uuid.NullUUID` doesn't have any additional benefits.

[2018-07-03 06:12] #2102 closed

[2018-07-03 06:33] jarifibrahim opened #2143 "All tests should use Test Fixtures"
All tests should use `Test Fixtures` for creating test related dependencies.
Currently, some test do not use the `Test Fixtures`.

The following test files use the old way of creating test dependencies, they need to be refactored -

- [x] `controller/comments_blackbox_test.go` (won't fix. Comments need collaborators and we cannot add collaborators via test fixtures)
- [x] `controller/search_blackb

[2018-07-03 06:37] jarifibrahim commented on #2122
Fixed via https://github.com/fabric8-services/fabric8-wit/pull/2126

[2018-07-03 06:37] #2122 closed

[2018-07-05 07:10] baijum commented on #2016
The new snapshots are pushed to quay.io e.g., `quay.io/openshiftio/fabric8-services-fabric8-wit:SNAPSHOT-PR-2111`

[2018-07-05 08:49] dipak-pawar opened #2150 "Update Kedge file to work with latest Kedge 0.12.0"
We have Kedge files under `minishift/kedge` to deploy our services locally. Looks like the kedge files we have are not compatible with latest version of kedge.

## Expected behavior
`make dev-openshift` should work fine.

## Actual behavior
Getting errors as `The kedgefile is not valid. see errors :
containers: Additional property containers is not allowed`

## Steps to reproduce the problem
* sta

[2018-07-07 05:10] kwk commented on #2028
Please note that any member name (also the one of a relationship) must follow these rules in JSONAPI http://jsonapi.org/format/#document-member-names. One of the key takeaways is that the dot-character is a reserved character:

That brings me to the conclusion that we possibly might want to safely migrate over to new field names altogether instead. @xcoulon , @aslakknutsen , @jarifibrahim do you a

[2018-07-07 07:33] jarifibrahim opened #2152 "test board issue"
***Before you open an issue, you should search for similar issues.***

Please, make sure to provide all the information asked for below and then delete everything above **Expected behavior** including this line.

## Expected behavior

* *Please describe what you tried to do and what you expect the software to act like.*

## Actual behavior

* *Please describe what happened instead of the expected

[2018-07-07 07:44] #2152 closed

[2018-07-07 07:45] kwk opened #2153 "close me"
***Before you open an issue, you should search for similar issues.***

Please, make sure to provide all the information asked for below and then delete everything above **Expected behavior** including this line.

## Expected behavior

* *Please describe what you tried to do and what you expect the software to act like.*

## Actual behavior

* *Please describe what happened instead of the expected

[2018-07-09 09:34] jarifibrahim opened #2155 "WI_comments_blackbox test doesn't clear test entities"
Run
[code]
NOTICE - `13 iterations` were created but they weren't removed after the tests. (Do a `select * from iterations`)

`work_item_comments_blackbox_test.go` doesn't remove the entities created while testing.

[2018-07-09 12:04] #2155 closed

[2018-07-11 06:11] jarifibrahim commented on #2028
@kwk

I'd suggest we gracefully deprecate the relationships. We mark the old relationships with `[DEPRECATED]` and then the client moves over to the new relationships. We can then get rid of the old ones.

We should not get rid of the `system` prefix. Right now, it won't make much difference but when we have all sort of custom types/fields, we'll need a way to know which ones are the system fields

[2018-07-11 06:19] DhritiShikhar opened #2161 "Work Item Event shows incorrect data"
![screenshot_2018-07-11_11-41-31](https://user-images.githubusercontent.com/6303309/42553739-ae80fb7a-84ff-11e8-8a38-fa37232ea2d8.png)

The Timeline contains records:

**User changed the number from '14' to ''
User changed the number from " to '14'**

This record is not correct because work item number cannot be changed by user.

[2018-07-11 07:19] DhritiShikhar opened #2162 "Provide sorting workitems as an option in search API"
We support sorting workitems based on different fields:

- order of execution
- title
- ID
- created_at
- updated_at

This should be provided as an option in search API

[2018-07-12 10:07] rgarg1 opened #2164 "Ensuring API changes do not break Planner UI"
**Goal:** To run independently maintained Planner API tests on each WIT PR

_Tests are here:_ https://github.com/fabric8io/fabric8-test/tree/master/EE_API_automation/pytest

**Note**: Currently, these tests run periodically against production:
**https://ci.centos.org/job/devtools-test-end-to-end-openshift.io-planner-api-test/**

**Purpose:** There have been instances in the past where a change in

[2018-07-12 10:23] rgarg1 commented on #2164
Thanks @jarifibrahim  for your approval.

[2018-07-12 10:42] kwk commented on #2164
@rgarg1 thank you for thinking about this. I just wanted to let you know that when we introduced space templates (which was the last major breaking change to me), planner did break not only because I did something wrong but also because the UI used the WIT API with false assumptions. To give an example, some endpoints where not taken from the relationships of a space but where hardcoded in the pla

[2018-07-13 10:15] DhritiShikhar opened #2167 "Revert Page Limit"
Revert page limit from 500 to 100 once this issue https://github.com/openshiftio/openshift.io/issues/3978 is addressed

[2018-07-17 13:57] #2150 closed

[2018-07-24 08:40] DhritiShikhar opened #2177 "Rename workitem field names"
## Expected

As per [JSON API SPECIFICATION](http://jsonapi.org/format/#document-member-names), A period (.) should not be used as a member name.

## Actual

Currently, almost all the workitem fields contain a period:

[code]

## Proposal

1. Create a middleware in backend which would convert both e.g. `system.area` as well as `area` to store workitem field name as `area` in DB.

2. Write a migrat

[2018-07-24 08:53] kwk commented on #2177
Related issues are:

https://github.com/fabric8-services/fabric8-wit/issues/2029
https://github.com/fabric8-services/fabric8-wit/issues/2028

[2018-07-24 12:10] kwk opened #2179 "Deprecate "duration" kind"
A duration in Go is nothing but an int64:

We don’t have a field at the moment that uses this field kind and I cannot foresee any field that might need it.

I want to remove that field kind because it is not used and more importantly because we cannot store int64 numbers in JSONB as that only can handle IEEE-754 double precision floating point values. So we eventually will reach a point at which w

[2018-07-24 12:15] bartoszmajsak commented on #2179
@kwk why so many assignees?

[2018-07-24 12:33] bartoszmajsak commented on #2179
Clear, so that's an approval process. Well... for me it's simple - YAGNI so I approve :)

[2018-07-24 12:42] jarifibrahim commented on #2177
@DhritiShikhar @kwk Correct me if I am wrong, `system.area` would be `area`, `system.iteration` would be `iteration` and so on.

[2018-07-25 06:10] DhritiShikhar commented on #2177
@jarifibrahim yes

[2018-07-25 08:32] kwk commented on #2177
@jarifibrahim here (https://github.com/fabric8-services/fabric8-wit/issues/2028#issuecomment-404056408) you wrote that we need to be able to distinguish between custom and user defined fields. Most likely the field name will never be shown to the user in the UI once we allow the user to add new fields. So for user defined fields we might as well just give them UUIDs as field names.

But for now wh

[2018-07-25 09:12] jarifibrahim commented on #2177
@kwk I agree with this. But @DhritiShikhar's proposal in https://github.com/fabric8-services/fabric8-wit/issues/2177#issue-343939428 would remove `system/sys` prefix.

[2018-07-25 09:56] DhritiShikhar opened #2181 "Naming Convention"
## Expected behavior

There is a mix of naming convention in wit.

Example:
https://github.com/fabric8-services/fabric8-wit/blob/master/controller/test-files/iteration/show/ok.res.iteration.golden.json

`active_status` is snake case
`startAt` is camel case

## Actual behavior

This is not harmful but we should really practice using one of the naming conventions for:
	- better code readability
	- c

[2018-07-25 10:00] DhritiShikhar commented on #2177
@kwk @jarifibrahim I need to think more on this. Why would you want to distinguish between a field name created through test fixture and a system defined field? And even if you would want to do so, why would you want the client to pass request for a workitem with 'system.<something>'?

[2018-07-25 10:03] DhritiShikhar commented on #2177
Also, I have created an issue related to naming convention here https://github.com/fabric8-services/fabric8-wit/issues/2181

[2018-07-25 11:50] DhritiShikhar opened #2183 "Should workitem reorder action be displayed in events API?"
We capture the reorder action in workitem revision table (https://github.com/fabric8-services/fabric8-wit/blob/master/workitem/workitem_repository.go#L562)

If we are not eventually displaying the reorder action under events or not sending out notification for reordering, then may be we do not need to capture this in workitem revision table.

Thoughts?

[2018-07-25 12:06] DhritiShikhar commented on #2183
As per Veethika (UX)

But if we would be displaying events for the entire product in future, 'Reordering' should display there as a singular action.

[2018-07-25 12:30] kwk commented on #2181
To make things worse, we also have `-` in member names: `created-at`. For go code we should use follow: https://golang.org/doc/effective_go.html#mixed-caps

[2018-07-25 12:30] DhritiShikhar commented on #2029
@kwk does this mean that we should remove `system.iteration` and `system.area` values from workitem fields and only have it under workitem relationships?

[2018-07-25 12:33] kwk commented on #2181
@DhritiShikhar you wrote: "There is a mix of naming convention in wit."

Do you mean in the response/request format or in the Go code.

[2018-07-25 13:05] Veethika commented on #2183
I'm copying my point from the other discussion:

Also, I meant to talk about 'space' level notifications when I wrote 'product'. My bad!

[2018-07-25 13:09] jarifibrahim opened #2184 "Should we update the description of all the existing work items?"
There was a bug in the markdown rendering which was fixed by https://github.com/fabric8-services/fabric8-wit/pull/2165.
All the *new* descriptions will have correctly rendered descriptions while the old ones still have the *double escaped* rendered description.

I think we should migrate all the workitems.
What do you think @kwk @baijum @michaelkleinhenz @DhritiShikhar ?

[2018-07-25 13:13] DhritiShikhar commented on #2184
@jarifibrahim I think we should correctly render description for old workitems as well

[2018-07-25 13:31] kwk commented on #2177
I don't want to do that. But we have tests in place that define a custom field in a work item type and they use the test fixture. That's why I've brought it up.

Clients will most likely not hand written fields, so why should they care how things are named?

[2018-07-25 14:31] jarifibrahim commented on #2184
I told the same thing to @DhritiShikhar . I don't understand why do we need to store it in the DB.

[2018-07-26 06:48] jarifibrahim opened #2186 "Should we get rid of the version field in workitems?"
Every workitem right now has a version field and this does more harm than good.
When two users concurrently try to update a workitem, one of them will get a `Failed to update workitem` error on the UI because the `version` number has changed. The other user now has to refresh the page so that he gets the new version number. The user **will loose** all the newer unsaved data due to the refresh.

Th

[2018-07-26 07:22] rgarg1 commented on #2186
@aslakknutsen @kwk @michaelkleinhenz

[2018-07-26 10:01] DhritiShikhar opened #2187 "Change type of a workitem"
As per discussion with @kwk and @jarifibrahim

## Description

Implement the backend support for changing the type of a workitem.

## Steps

1. To change workitemtype of a workitem, send a PATCH request to the workitem:

2. Check if the user is allowed to change the workitem. Only creator and space owner can change the type as of now.

3. Iterate over the fields of original workitem.

## Case 1

B

[2018-07-26 10:18] sbose78 commented on #2187
Sounds like a plan!

[2018-07-26 11:04] kwk commented on #2186
@jarifibrahim good points. But can you elaborate how a hash makes things easier? Shouldn't we really start using push notification through web sockets to update clients? That should solve the problem as well.

[2018-07-27 09:02] sahil143 opened #2192 "Patch request for system.boardcolumn generates incorrect audit trails"
## Expected behavior
1. oldValue and newValue of boardcolumn audit should have name of column instead of id
2. Should not generate Audit trail for assignes and label on `system.boardcolumns` patch

## Actual behavior
1. BoardColumn Audit has columnIds
![](https://user-images.githubusercontent.com/34271052/43301489-1b6e7480-9183-11e8-94d3-01bd8297f48f.png)
2. Extra logs are generated
![](https://us

[2018-07-27 09:11] jarifibrahim commented on #2192
A possible reason for extra audit logs https://github.com/fabric8-services/fabric8-wit/blob/350ca0bbe428bb45921287bd3a28c2abf55ccb7d/workitem/event/event_repository.go#L99-L111

DeepEqual returns `true` when both the arguments are nil.
Example https://play.golang.org/p/vdayHSrYgKY

[2018-07-27 09:13] jarifibrahim commented on #2192
The issue is reproducible only when there is a list of assignees and labels.

[2018-07-27 12:09] jarifibrahim commented on #2192
I cannot reproduce it. I tried reproducing it via tests and via locally running fabric8-ui.

[2018-07-30 09:10] jarifibrahim commented on #2186
@kwk

Using a hash would make things very easy. First, we would not compare hashes the way we right now compare version numbers (new version = old version + 1). A user can update a workitem from whatever state they are. It's fine if two users try to update the description and only the latest one is saved.

Push notifications would solve a completely different problem. The current problem is relate

[2018-07-30 09:47] jarifibrahim commented on #2192
The issue is in the reorder API. The reorder API sets the field values of type `list` to `[]` (empty list) and the PATCH request removes these `[]` which generates the audit log.

[2018-07-30 10:23] DhritiShikhar commented on #2192
@jarifibrahim does the UX confirm that we do not want event log for reorder event?

[2018-07-30 10:56] jarifibrahim commented on #2192
@DhritiShikhar

The issue is about how we deal the empty arrays. The reorder API adds `[]` to fields of kind list and the workitem update API removes this. This creates an event log that we do not need.

[2018-07-30 16:27] kwk opened #2199 "Return version conflict if save label/query didn't save anything?"
@baijum do you think these should really be a version conflict error?

https://github.com/fabric8-services/fabric8-wit/blob/e53e3d309b07b9a366fbd07c5f51e4f22bab7890/label/label.go#L136

https://github.com/fabric8-services/fabric8-wit/blob/e53e3d309b07b9a366fbd07c5f51e4f22bab7890/query/query.go#L165

[2018-07-31 06:51] baijum commented on #2199
@kwk Yes, that is correct. Because we are checking for the version to save and if the version is not equal another request has made before to save it.

[2018-07-31 07:43] kwk commented on #521
The API endpoints are not served under `/api` yet and the link of each endpoint is not starting with `http://`. This PR addresses this: https://github.com/fabric8-services/fabric8-wit/pull/2194

[2018-07-31 07:58] kwk commented on #2199
@baijum makes sense. I need more sleep ;)

[2018-07-31 07:58] #2199 closed

[2018-07-31 08:03] kwk commented on #2186
@jarifibrahim how is that fine at all? I have encountered the situation multiple times in Github that I couldn't save my changes to a description because it has been already modified by somebody else. It wasn't nice because my changes were lost, but my change should really respect what was there. In the end I appreciated that I didn't destroy somebody else's work although the experience wasn't nic

[2018-07-31 08:26] kwk commented on #521
Verification for prod-preview: `curl -s https://api.prod-preview.openshift.io/api/endpoints | jq`

[code]

[2018-07-31 09:01] kwk commented on #2029
I think you're misunderstanding this. The fields you mentioned are defined in the WIT as fields but when you create a WI of that WIT those fields will not show up as attributes but as relationships.

[2018-07-31 09:57] jarifibrahim commented on #2187
Consider the following topology
`Epic -> Story -> Task`
When the user changes `Epic` to `Bug`, we will have `Bug -> Story -> Task` .This is a possible side effect of the type change.

[2018-07-31 11:09] kwk commented on #2187
@jarifibrahim yes, this is expected.

[2018-07-31 12:44] kwk commented on #521
Fixed. Verified in prod and prod-preview.

[2018-07-31 12:44] #521 closed

[2018-08-01 13:38] kwk opened #2203 "Root path of iteration and area should not be empty"
## Current situation

Currently the path SQL column of a root area or iteration is empty: `""`.

See also:

https://github.com/fabric8-services/fabric8-wit/blob/02cbf7ee952b8338cc273295312bae172acd4781/area/area.go#L167

and

https://github.com/fabric8-services/fabric8-wit/blob/02cbf7ee952b8338cc273295312bae172acd4781/iteration/iteration.go#L185

### Problem

This makes it easy to find the root ar

[2018-08-01 13:53] baijum commented on #2203
Fixing this issue will be really helpful for my PR!

[2018-08-02 08:00] kwk opened #2206 "Change type of relationship from "users" to "identities""
Whenever we reference a user in a JSONAPI relationship in fabric8-wit , we have either:

[code]

or

[code]

Notice that the `type` is `"identities"` or `"users"`.

@sbose78 today [in chat](https://chat.openshift.io/developers/pl/wjc9djso3tb6xbednigypgzmnc) said that we shall change all types from "users" to "identities".

[2018-08-02 08:02] kwk commented on #2206
Here's the transcript of the [the chat](https://chat.openshift.io/developers/pl/wjc9djso3tb6xbednigypgzmnc):

Konrad Kleine
08:29

Shoubhik Bose
08:35

Konrad Kleine
08:41

Shoubhik Bose
08:42

Shoubhik Bose
08:47

Konrad Kleine
09:00

[2018-08-02 13:11] sbose78 commented on #2206
Should be good. Since we expose identityIDs everywhere.

[2018-08-03 11:57] aslakknutsen opened #2210 "SQL causing 100% CPU usage on stage (not seen on prod yet, stage has more data)"
[code]

This ends up in a full table scan of iterations and loop over each iteration against the workitems table etc. 57000*124000

This basically never returns.

If you add a

    AND iter.space_id = $2 it returns in 0.7ms.

[2018-08-03 12:39] kwk commented on #2210
@aslakknutsen

but the

[code]

should ensure that only one area is joined to each work item, shouldn't it?

[2018-08-03 13:22] GeorgeActon commented on #2210
@kwk @aslakknutsen if this affects OSIO, can you create a bug on openshifio and link to this.
thats where we get visibility to our team

[2018-08-03 14:03] kwk commented on #2210
@GeorgeActon done: https://github.com/openshiftio/openshift.io/issues/4124

[2018-08-03 14:35] kwk commented on #2181
See also https://github.com/golang/go/wiki/CodeReviewComments#mixed-caps

[2018-08-09 10:32] DhritiShikhar opened #2228 "Correct Unauthorized Error to Forbidden Error"
If user is authenticated but does not have enough permissions to access the resource then [Forbidden Error](https://tools.ietf.org/html/rfc7231#section-6.5.3) should be reported instead of [Unauthorized Error](https://tools.ietf.org/html/rfc7235#section-3.1).

Refer:
https://github.com/fabric8-services/fabric8-wit/blob/master/controller/workitem.go#L112

[2018-08-09 10:32] #2228 closed

[2018-08-14 09:19] kwk opened #2237 ""email" column on user table can be NULL but is defined as UNIQUE"
@jarifibrahim found out that the `email` column is a text field that can be `NULL` but also has to be unique.

I'm not sure what the intention here is. Do we allow a user with an empty email address? If that is the case, we can only have on user with an empty email address at the moment and the next one will cause a unique key violation.

Here's the table structure for reference:

[code]

@aslakkn

[2018-08-14 16:44] alexeykazakov commented on #2237
Yes. Not null and not empty.

[2018-08-15 09:15] kwk commented on #2237
@alexeykazakov we need to alter the table description in order to do that. How shall we proceed if there is an email with a `NULL` value or an empty string. By definition (uniqueness) there can be 2 of those at maximum. Is it fine if we set them to be `<id>@example.com`? `<id>` would be the ID of the user.

[2018-08-15 13:02] alexeykazakov commented on #2237
@kwk there should not be any NULLs or empty emails. But setting them to <id>@example.com would work. Just in case :)

[2018-08-17 09:06] xcoulon opened #2241 "Provide endpoint to list spaces in which a user has a role"
Context: https://github.com/openshiftio/openshift.io/issues/3760

The goal is to expose a new endpoint in the form of `/api/user/spaces` that will rely on the upcoming `/api/user/resources?type=spaces` in `auth` to list all spaces in which the current user has a role (see https://github.com/fabric8-services/fabric8-auth/issues/545)

[2018-08-17 10:15] rgarg1 commented on #2164
Now that #2197 is merged, this issue could be closed.

[2018-08-17 10:56] kwk commented on #2164
then close it?

[2018-08-17 11:40] #2164 closed

[2018-08-17 15:33] xcoulon opened #2243 "Update dependency to `auth`"
Some changes introduced in https://github.com/fabric8-services/fabric8-auth/commit/81bf87a6bdae7528a88041f0493555a9fd45a847 break some tests in `wit` (compilation errors), which need to be updated.
In particular, `auth.KeycloakPolicy ` was completely removed since permissions checks are now handled internally in `auth` service, instead of relying on Keycloak.

cc: @sbose78 / @alexeykazakov

[2018-08-17 15:53] sanbornsen opened #2244 "Search by parent id / number support for query expression"
## Expected behavior

* If I add **{'parent.id': { '$EQ': '00000-0000-0000-000000'}}** or **{'parent.number': { '$EQ': '132'}}** then the query should give me all the child items of these items.

## Actual behavior

* Currently this feature is not there

[2018-08-17 16:04] kwk commented on #2244
I can understand what you want but `parent.id` irritates me. What is `parent.name` for example? That doesn't exist.

[2018-08-17 16:06] sanbornsen commented on #2244
`parent.name` is the title right? That can be redundant.

[2018-08-17 21:31] kwk commented on #2244
@sanbornsen yes, we can do this and it will be handled similar to type groups internally because the way n:m relationships are handled there.

[2018-08-20 12:00] #2237 closed

[2018-08-21 15:36] kwk commented on #2244
@sanbornsen it makes a big difference if you want to search for the ID or the number actually. Do we need both?

[2018-08-21 15:37] sanbornsen commented on #2244
@kwk just `{'parent.number': { '$EQ': '132'}}` this much should be good

[2018-08-22 05:28] jarifibrahim commented on #2143
This issue has been fixed. Closing it.

[2018-08-22 05:28] #2143 closed

[2018-08-22 05:29] jarifibrahim commented on #2187
Fixed via https://github.com/fabric8-services/fabric8-wit/pull/2202

[2018-08-22 05:29] #2187 closed

[2018-08-22 05:34] jarifibrahim commented on #2186
@kwk I am confused about what kind of behaviour do we want. I initially thought saving the second update is a valid behavior but now I am not sure. The current implementation feels more appropriate now. We just have to ensure frontend shows appropriate messages on version conflict. Right now it shows `Failed to update workitem` which is not at all helpful.

I like the way Github does this. They ha

[2018-08-22 05:48] jarifibrahim commented on #2184
@kwk @DhritiShikhar

I was wrong. We do not save the rendered description in the database. I just verified it. We generate it on the fly. Look at the `ConvertWorkitem` function (it is responsible for converting internal representation to Json response)
https://github.com/fabric8-services/fabric8-wit/blob/8d209b03feb89e28ebaf90fe1fe46bc732e1dd5f/controller/workitem.go#L673-L679

I am closing this i

[2018-08-22 05:48] #2184 closed

[2018-08-22 13:06] kwk commented on #2244
Actually it doesn't matter we can support both.

[2018-08-27 09:23] DhritiShikhar opened #2259 "Restrict iteration over every workitem field for reorder action"
## Actual behavior

* Every workitem field is iterated over for reorder action

[2018-08-27 12:10] #2243 closed

[2018-08-28 11:55] DhritiShikhar opened #2262 "refactor reorder tests"

[2018-08-28 11:59] DhritiShikhar commented on #2262
Refer: #2261

[2018-08-29 19:05] kwk opened #2265 "Should we use postgres.Jsonb type from Gorm"
Please familiarize yourself with this documentation and then let us know if you see some value in using `postgres.Jsob`, e.g. for the Fields of a WI or WIT.

http://doc.gorm.io/dialects.html#dialect-data-type

[2018-08-30 11:52] baijum opened #2267 "Searching based on `board.id` is throwing server error from database"
## Expected behavior

This query should give work items:

https://prod-preview.openshift.io/api/search?page[limit]=200&filter[expression]={"$AND":[{"board.id":{"$EQ":"24181b5c-713f-4bef-a19f-45240875da92"}},{"space":{"$EQ":"282ac3f7-e24c-4346-b275-e1575282cd78"}}]}

## Actual behavior

This is the current error:

[code]

[code]

## Steps to reproduce the problem

Visit the URL:

https://prod-previ

[2018-08-30 11:55] baijum commented on #2267
The `system.boardcolumns` field has `{}` as the value when empty. Solution would be to remove `system.boardcolumns` altogether when empty.

[2018-08-30 14:47] stooke opened #2268 "Provide optional checking of k8s permissions on a space or deployment"
This issue covers an enhancement to WIT (and eventually to UI) to optionally check k8s permissions when for k8s objects.  The enhancements is optional due to the cost of interrogating Kubernetes.

The ideal way of doing this would be to reply to preflight requests correctly, but the goadesign tool used in WIT doesn't appear to allow this; also this is expensive in terms of time.

The basic proposa

[2018-08-31 07:54] kwk commented on #2267
@baijum from where to you want to remove the `system.boardcolumns`? From the payload or from the WI's which have that field set but no value attached? I assume the latter, because removing it from the payload will not cure the PostgreSQL error: `pq: cannot extract elements from a scalar`.

@baijum can you please write a test case that fails because of the same error? This should be nothing more th

[2018-08-31 08:00] kwk commented on #2267
There's also a Sentry entry for this: https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-wit/issues/2320/

And i happens quite often:

EVENTS 1.1k
USERS 118

[2018-08-31 08:03] kwk commented on #2267
@baijum because of the Sentry entry and the fact that this appears in prod, I will work on this issue myself today. No need to create a test.

[2018-08-31 08:14] kwk commented on #2267
Apparently when I do a test on the `search` package level and create two work items, one with and one without being assigned to a board column, the data looks just fine in Postgres:

[code]
[code]

I'm going to lift this test up onto the controller level to find out if work items are created differently when done through the controller level.

[2018-08-31 08:55] kwk commented on #2267
When a work item is created through the controller with minimal payload, it ends up like this in the DB:

[code]

A test case like this will NOT fail:

[code]

Note, that I didn't specify a board column anywhere in the work item payload and the DB entry for that work item is totally fine.

I will do some more research but I think we should also try to find out if there was some migration involved

[2018-08-31 09:15] baijum commented on #2267
You are correct. This should be fixed in database. A data migration might be required to correct existing data. And code should be added to remove `system.boardcolumns` when it is empty (This should happen in both Create & Save functions).

[2018-08-31 09:26] kwk commented on #2267
@baijum before sanitizing the data we need to find out how it got in there. No matter what I do the `system.boardcolumns` field is either not set, or `[]` which is totally fine. But I cannot find out how it became `{}`. Oh wait. This might be just the JSONAPI conversion if something is `[]` or not set. Let me see...

Yes, if the field `system.boardcolumns` is `[]` or not set on the WI in the DB, t

[2018-08-31 11:54] kwk commented on #2267
I did some research with @aslakknutsen 's help and found out that there's only one item in the space that has any value set for the field under test: `"system.boardcolumns": null`. I'm going to try to reproduce the test item with this setting.

[2018-09-04 04:54] kwk commented on #2267
@baijum I've fixed the issue on prod-preview and verified that it works there. Can you please do the verification on prod as well and close the issue then?

[2018-09-04 05:27] baijum commented on #2267
@kwk Sure. I will verify this in prod and close.

[2018-09-04 09:17] jarifibrahim commented on #2267
I verified in prod using the following URL and it seems to work fine.

https://openshift.io/api/search?page%5Blimit%5D=200&filter%5Bexpression%5D=%7B%22$AND%22:%5B%7B%22board.id%22:%7B%22$EQ%22:%22f5c2a471-8eb7-4d28-9248-582a3c868faa%22%7D%7D,%7B%22space%22:%7B%22$EQ%22:%22e8864cfe-f65a-4351-85a4-3a585d801b45%22%7D%7D%5D%7D

Closing this issue

[2018-09-04 09:17] #2267 closed

[2018-09-04 12:20] kwk opened #2273 "mal formatted query can cause 500 internal server error"
A query like this:

    $ curl -sg "https://prod-preview.openshift.io/api/search?q='problem" | jq .

will result in an a 500 internal server error:

[code]

Here's an event reported to Sentry for this issue: https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-wit/issues/2320/events/299816/

See also https://github.com/openshiftio/openshift.io/issues/4288 for a description of how t

[2018-09-10 05:14] #2241 closed

[2018-09-10 11:27] michaelkleinhenz commented on #2186
We should prevent conflicts as far as it is possible without going completely for complying to ACID in my opinion. A lost update might be acceptable for some fields while not for others. I'd think that the schema definition might have some impact on a merging strategy. At least there might be more semantics involved than just overwriting values. So I would agree with @jarifibrahim, this might be a

[2018-09-10 12:06] kwk commented on #2186
This PR presents an idea to deal with Versioning more easily, less error-prone and centralized: https://github.com/fabric8-services/fabric8-wit/pull/2263

[2018-09-10 13:47] #2203 closed

[2018-09-19 18:15] jarifibrahim opened #2288 "Sentry shouldn't group unrelated errors together"
According to https://docs.sentry.io/learn/rollups/#grouping-by-stacktrace page, all errors going to sentry are grouped according to `stacktrace (if present)`.  The doc says
[code]

Most of the errors thrown from the backend contain this minimal stacktrace
[code]
due to https://github.com/fabric8-services/fabric8-wit/blob/59561d074d5bc6574994b4821db0bff0278fa010/sentry/sentry.go#L101

Since all eve

[2018-09-20 07:48] kwk commented on #2288
@jarifibrahim thank you for putting this list together. It is really good that you've looked into the issue. Can you elaborate on how option 1 would solve the problem please?

As a side note: I did hear from @aslakknutsen  that some UI folks had the exact opposite problem that we have. They had too many sentry issues for the same problem in code. @aslakknutsen handed me this reference to what they

[2018-09-21 07:27] kwk opened #2291 "Readiness probe is too short"
The current time for a pod to come up is 30 seconds (thanks to @alexeykazakov for pointing that out too me).

https://github.com/fabric8-services/fabric8-wit/blob/71bed56c9f81cbc9981dadeb08bc7d4310cb11e5/openshift/core.app.yaml#L174

We want to do a big migration that takes too long to be done in 30 seconds apparently.

See https://github.com/fabric8-services/fabric8-wit/pull/2287/files#diff-c9970

[2018-09-21 09:38] kwk commented on #2291
Increasing the timeout to 60 seconds still didn't solve the issue. See this depoyment: https://console.rh-idev.openshift.com/console/project/dsaas-preview/browse/rc/core-1261?tab=logs

[2018-09-24 09:06] kwk commented on #2288
@jarifibrahim that is well understood but the question is where we are not wrapping standard errors with `errs.Wrap` or where we're not using `errs.Errorf/errs.New` in our own code.

[2018-09-24 09:54] kwk opened #2296 "Get rid of -test. flags in production binary"
When you currently run the production binary `./wit --help` you see flags that begin with `-test.`. Those were added by a dependency on the `testify` package. These flags should not show up in the production binary.

[code]

[2018-09-24 10:33] kwk commented on #2288
@jarifibrahim that is not correct.  The *standard golang error* is a just an interface with no information connected. Therefore the `Err` in the above example can be an error with a stack trace. The issue though is that the `InternalError` will always terminate `github.com/pkg/errors` recursive call to find the cause of the error, aka the first error in the stack trace. We did this to use `github.

[2018-09-25 13:35] kwk commented on #2291
Doubling the timeout from 60 to 120 seconds still didn't solve the issue (https://github.com/fabric8-services/fabric8-wit/pull/2295)

[2018-09-28 14:39] DhritiShikhar opened #2304 "Delete workitem"
[1] Provide the ability to delete workitem(s)
[2] Space owner and workitem creator can delete workitem
[3] It is a soft delete
[4] When a workitem is deleted, all links associated with it are deleted

User Story:
https://openshift.io/openshiftio/Openshift_io/plan/detail/76

[2018-10-15 07:16] kwk opened #2317 "Make Agile default template choice"
when no template is specified.

Based on this discussion https://github.com/fabric8-ui/fabric8-ui/pull/3371#discussion_r224699862

[2018-10-23 09:54] kwk opened #2326 "Iteration number update"
What was postponed here https://github.com/fabric8-services/fabric8-wit/pull/2325 should be done at some point.

[2018-10-23 13:28] jarifibrahim commented on #2291
Increasing the deployment timeout from 600 seconds to 1200 seconds seem to have fixed the deployments for now. We still do not know why does it take so long to deploy.

[2018-10-25 06:07] jarifibrahim commented on #2177
Renaming of fields involves changes to the payload, the data stored in the database and the migration of the client. This is a multi-step process. So here's how we're going to do this

**Step 1**: **Migration of the Backend**
We migrate the backend in this phase and add some *temporary code* which would allow backward compatitibilty. This would mean the clients can migrate gracefully without any l

[2018-10-26 06:17] jarifibrahim commented on #2317
This has been fixed via https://github.com/fabric8-services/fabric8-wit/pull/2323. Closing this issue.

[2018-10-26 06:17] #2317 closed

[2018-10-26 06:34] jarifibrahim commented on #2304
Fixed via https://github.com/fabric8-services/fabric8-wit/pull/2305

[2018-10-26 06:34] #2304 closed

[2018-10-26 08:37] jarifibrahim opened #2332 "Re-introduce skipped tests"
https://github.com/fabric8-services/fabric8-wit/issues/2343 involves database migrations and until the database is migrated some of the tests will not pass. These tests that depend on the database have been skipped via https://github.com/fabric8-services/fabric8-wit/pull/2333 (https://github.com/fabric8-services/fabric8-wit/pull/2333/commits/08a84da3740c5ac874429245b0f8779f4cca781a)

Once database

[2018-10-30 01:18] alexeykazakov commented on #2063
It's done for fabric8-cluster - https://github.com/fabric8-services/fabric8-cluster/issues/12

[2018-10-30 11:13] ibuziuk opened #2338 "/api/user/services does not return namespace info for some users:"
`curl -k -H "Authorization: Bearer <TOKEN>" https://api.prod-preview.openshift.io/api/user/services | jq '.'` returns the following response for `9349415e-21b8-43e9-a3dd-31079b02d61a1` :

[code]
All the `namespaces` info are missing, is missing event hough namespaces have been provisioned correctly on oso side:

![image](https://user-images.githubusercontent.com/1461122/47714630-b1dd8280-dc3d-11e8

[2018-10-30 11:18] ibuziuk commented on #2338
cc: @aslakknutsen @alexeykazakov

[2018-10-30 11:54] ScrewTSW commented on #2338
Original account creation issue handled by @dipak-pawar
https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2410

[2018-10-31 01:52] alexeykazakov commented on #2338
@MatousJobanek can you please take a look at this user/namespaces?

[2018-11-05 07:23] jarifibrahim opened #2343 "Support system.* fields and system_* fields in backend"
In order to fix https://github.com/fabric8-services/fabric8-wit/issues/2177  we need to support system_* fields along with system.* fields.

This issue involves
 - [x] Renaming of fields in source code https://github.com/fabric8-services/fabric8-wit/pull/2330 (merged)
 - [x]  Adding helper methods to convert the incoming `system.*` field to `system_*` field and updating `/workitem` request/respons

[2018-11-08 06:31] DhritiShikhar opened #2344 "Generate event log for delete workitem"

[2018-11-08 07:29] jarifibrahim commented on #2344
Where would you show this event? The workitem won't be visible after it's deleted.

[2018-11-08 08:06] DhritiShikhar commented on #2344
@jarifibrahim we do not have an option for restore now. But we might have it.

[2018-11-08 08:45] jarifibrahim commented on #2344
Sure. But let's think about this when we have restore implemented. We currently have only delete and no way of restoring :)

[2018-11-13 14:22] msehnout opened #2348 "[Question] use wit-cli to list current tasks"
## Expected behavior

I tried to list the content of the OpenShift.io planner using wit-cli, e.g. like this:
[code]

## Actual behavior

[code]
## Question

How can I use wit-cli to operate OpenShift.io planner? I'd like to avoid the web UI as it makes my computer too slow.

## Specifications

* Which version of fabric8-wit are you running?
latest master:
$ git log | head -1
commit 52056663d8fadba

[2018-11-29 08:49] jarifibrahim opened #2357 "go get fabric8-wit doesn't work"
`go get github.com/fabric8-services/fabric8-wit` fails with the following error
[code]

[2018-12-04 14:03] ScrewTSW commented on #2338
Hello guys, the issue is still present.

che-master logs: https://pastebin.com/tqRARnCr
auth logs: https://pastebin.com/edit/qh8GBCSk

nothing in events on starter cluster, pod was never created.

[2018-12-04 14:03] ScrewTSW commented on #2338
bump @alexeykazakov @MatousJobanek

[2018-12-04 16:00] MatousJobanek commented on #2338
Just working on fixing the account setup. Today I didn't make it running - unfortunately, OpenShift still complains about conflicts even though there is no namespace with such a name. I'll continue tomorrow

[2018-12-05 09:52] DhritiShikhar opened #2361 "Configurable Target WIT for Remote Work Items"
[1] Specify `work_item_type` in `tracker_query` create payload.

[2] All the external issues from remote system which will be saved in the `work_items` table will have this `work_item_type`.

[2018-12-05 09:58] DhritiShikhar opened #2362 "List all scheduled imports for a space"
[1] Ability to list all the scheduled imports (tracker queries) _for a given space._

[2018-12-05 11:47] DhritiShikhar opened #2363 "TrackerQuery Deletion"
This task includes:

[1] Ability to soft-delete tracker queries
- This should stop the scheduler for this particular tracker query. Hence, the update of the mirrored work items stops.

[2]  User can choose to either:
- soft delete the mirrored workitem
- detach the mirrored workitem from trackerquery and retain it

User Story -> https://openshift.io/openshiftio/Openshift_io/plan/detail/1103

[2018-12-05 11:56] ScrewTSW commented on #2338
resolved. toggle was set to single-tenant. reset environment fixed the issue

[2018-12-05 12:03] MatousJobanek commented on #2338
That the toggle `deploy.che-multi-tenant` was disabled was part of the whole problem. But as @ScrewTSW has already mentioned, reset of the whole tenant environment (plus a few additional steps) helped and the account is working correctly.
Closing this issue...

[2018-12-05 12:03] #2338 closed

[2018-12-06 08:50] DhritiShikhar opened #2365 "Handle Jira and Github markup"
[1] Currently we use default markdown for both JIra and Github -> https://github.com/fabric8-services/fabric8-wit/pull/2360/files#diff-b9d69c203555944a118b1e5b55713cc1R77

[2] We need a way to render Jira and Github markup

[2018-12-10 11:22] ibuziuk opened #2371 "Sometimes namespace of type 'user' is missing for some users"
More details can be found in:
- https://github.com/openshiftio/openshift.io/issues/4564
- https://github.com/redhat-developer/rh-che/issues/1043

[2018-12-10 11:23] ibuziuk commented on #2371
cc @alexeykazakov @MatousJobanek

[2018-12-10 14:41] sahil143 opened #2374 "Remove deprecated field `resolved_parent_path` from iteration response."
Original issue: https://github.com/openshiftio/openshift.io/issues/4589
PR in which field was deprecated: https://github.com/fabric8-services/fabric8-wit/pull/2373.
Once above PR is merged and client migrates to the new field `parent_path_resolved`, deprecated field will be removed.

[2018-12-12 04:14] jarifibrahim commented on #2332
The issues has been resolved. Closing it.

[2018-12-12 04:14] #2332 closed

[2019-01-21 08:06] DhritiShikhar opened #2396 "Test for a non-existing tracker query ID"
In `TestSearchByTrackerQuery`, there should be a test for a non-existing tracker query ID

Refer -> https://github.com/fabric8-services/fabric8-wit/pull/2392/files#r249346867

[2019-01-21 08:25] DhritiShikhar opened #2397 "Fix TrackerQuery Test Fixture"
Add support for dependencies.

Refer -> https://github.com/fabric8-services/fabric8-wit/pull/2390#discussion_r249348362

[2019-01-21 14:40] #2397 closed

[2019-01-22 04:55] dipak-pawar commented on #2063
It's done for
- fabric8-cluster https://github.com/fabric8-services/fabric8-cluster-client
- fabric8-auth https://github.com/fabric8-services/fabric8-auth-client
-  fabric8-env https://github.com/fabric8-services/fabric8-env-client

[2019-01-22 12:42] #2343 closed

[2019-01-25 10:10] #2396 closed

[2019-02-20 14:37] xcoulon opened #2404 "Add security constraint in design when obfuscating or deleting user account"
the lack of `a.Security("jwt")` means that the generated client will not include an `Authorization: Bearer ...` header in the request.

[2019-02-20 15:43] #2404 closed

[2021-02-01 16:07] #2016 closed

[2021-02-01 16:07] #2005 closed

[2021-02-01 16:09] #98 closed

[2021-02-01 16:11] #1639 closed

[2021-02-01 16:15] #468 closed

[2021-02-01 16:15] #469 closed

[2021-02-01 16:16] #1255 closed

[2021-02-01 16:20] #1602 closed

[2021-02-01 16:21] #582 closed

[2021-02-01 16:21] #1057 closed

[2021-02-01 16:22] #1818 closed